  <style type="text/css">
  .validdate{
    color: red;
  }
  </style>

  <div class="container" >
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" class="selected">Add New Branch</a>
            </li>
          </ul> -->
       
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="leadController">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Add Lead
                    </div>
                  </div>
                  <div class="widget-body">
                    <form   name="form" class="form-horizontal no-margin" novalidate>
                       <!--  <h5><span class="mand">Required fields are indicated with red star</span>(<span class="mand">*</span>) </h5> -->
                      <div class="form-group" ng-init="leadform.lead_type='owner'">
                        <label for="lead_type" class="col-sm-2 control-label">User Info</label>
                        <div class="col-sm-5">
                           <p class="col-sm-1 control-label" style="width: 68px;">I  Am</p>

                          <label class="radio-inline"><input type="radio" name="lead_type" ng-model="leadform.lead_type" value="owner"  >Owner</label>
                           <label class="radio-inline"><input type="radio" name="lead_type" ng-model="leadform.lead_type" value="tenant">Tenant</label>

                        </div>
                      
                        <label for="visitor_name" class="col-sm-2 control-label" style="margin-left: -151px;" >Visitor Name<span class="mand">*</span></label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="visitor_name" placeholder="Visitor Name" ng-model="leadform.person_name" name="visitor_name" ng-minlength="3" ng-maxlength="30" autofocus="true" required/>
                        </div>
                          <span ng-show="form.visitor_name.$dirty && form.visitor_name.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.visitor_name.$dirty && form.visitor_name.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.visitor_name.$dirty && form.visitor_name.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                   

                      <div class="form-group">
                        <label for="mobile_no" class="col-sm-2 control-label">Mobile No</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="mobile_no" placeholder="Mobile No 10 digit" ng-model="leadform.contact_number" name="mobile_no" ng-minlength="10" ng-maxlength="12" ui-mask="9999999999"  ui-mask-placeholder ui-mask-placeholder-char="_"required//>
                        </div> 
                           <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.minlength" class="alert-danger"> ! mobile no too Short!</span>
                          <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.maxlength" class="alert-danger"> ! mobile no too Long!</span>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="landline_no" placeholder="landline No" ng-model="leadform.landline_no" name="landline_no" ui-mask="999 9999999?9"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-minlength="10" ng-maxlength="15" style="width: 100%;margin-left: 95px;">
                        </div>
                           <span ng-show="form.landline_no.$dirty && form.landline_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.maxlength" class="alert-danger"> too Long!</span> 
                      </div>

                      <div class="form-group">
                        <label for="reference" class="col-sm-2 control-label">Reference</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">

                              <select id="reference" class="form-control" ng-model="leadform.reference" onchange='Checkcustomers(this.value);' style="width: 122%;">

                                <option value="" selected>
                                  Select 
                                </option>
                                <option value="www.justdial.com">
                                 www.justdial.com
                                </option>
                                 <option value="www.makan.com">
                                 www.makan.com
                                </option>
                                 <option value="www.magicbricks.com">
                                 www.magicbricks.com   
                                </option>
                                 <option value="www.quikr.com">
                                 www.quikr.com
                                </option>
                                 <option value="www.99acres.com">
                                 www.99acres.com
                                </option>
                                 <option value="www.housing.com">
                                 www.housing.com
                                </option>
                                <option value="www.sulekha.com">
                                  www.sulekha.com
                                </option>
                                <option value="walkincust">
                                  walk in customer
                                </option>
                              </select>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="customer" id="customer" placeholder="Enter Customer Name" style='display:none;margin-left: 149px;'/>
                            </div>
                          </div>
                        </div>
                       </div>
                     
                      <div class="form-group">
                        <label for="remarks" class="col-sm-2 control-label">Remark</label>
                        <div class="col-sm-4">
                         <textarea class="form-control" rows="3" id="remarks" placeholder="Remark" name="remarks" ng-model="leadform.remarks"></textarea>
                        </div>
                         <span ng-show="form.remarks.$dirty && form.remarks.$error.maxlength" class="alert-danger"> too Long!</span>
                         
                        <label for="folowup_remarks" class="col-sm-2 control-label" style="margin-left: -51px;">Followup Remarks</label>
                        <div class="col-sm-4">
                         <textarea class="form-control" rows="3" id="folowup_remarks" placeholder="Followup Remark" name="folowup_remarks" ng-model="leadform.folowup_remarks" style="margin-left: -16px;" ></textarea>
                        </div>
                         <span ng-show="form.folowup_remarks.$dirty && form.folowup_remarks.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                    <div class="form-group">
                      <label for="followdate" class="col-sm-2 control-label">Followup date </label>
                        <div class="col-sm-4">
                          <input type="text" datepicker class="form-control" id="followdate" name="followdate" ng-model="leadform.followupdate" value="{{followupdate}}" >
                        </div>
                    
                      <label for="followtime" class="col-sm-2 control-label" style="margin-left: -70px;">Followup time</label>
                        <div class="col-sm-4">
                          <!-- <input type="time" class="form-control" id="followtime"  name="followtime" ng-model="leadform.followuptime" value="followuptime"> -->

                           <div uib-timepicker ng-model="leadform.followuptime" hour-step="1" minute-step="15" show-meridian="true"></div>

                        </div>
                    </div>
                     <!--   <label for="followtime" class="col-sm-2 control-label" style="margin-left: -70px;">Followup time</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="followtime"  name="followtime" ng-model="leadform.followuptime" value="followuptime">
                        </div>
                    </div>
                     -->


                     
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                          <button type="button" class="btn btn-info btn-block" ng-disabled="form.$invalid" ng-click="Addlead()">Create Lead</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
       </div>

<script type="text/javascript">
  /*document.getElementById("followdate").value = Date().toString(); */ 
   /*function display_date() {
        
        var x = new Date()
        var x1=x.getDate() + "/" + (x.getMonth()+1) + "/" + x.getFullYear(); 
        
        document.getElementById('followdate').value = x1;
    }

    display_date();*/
</script>

<script type="text/javascript">

   /*function display_ct() {
        
        var x = new Date()
        var x1=x.getHours( )+ ":" +  x.getMinutes(); 
        
        document.getElementById('followtime').value = x1;
    }

    display_ct();*/
</script>

<script type="text/javascript">
function Checkcustomers(val){
 var element=document.getElementById('customer');
 if(val=='Select'||val=='walkincust')
   element.style.display='block';
 else  
   element.style.display='none';
}

</script> 
