  <style type="text/css">
  .validdate{
    color: red;
  }
  </style>

  <div class="container" >

              <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Edit Lead
                    </div>
                  </div>
                  <div class="widget-body">
                    <form   name="form" class="form-horizontal no-margin" novalidate>
                       <!--  <h5><span class="mand">Required fields are indicated with red star</span>(<span class="mand">*</span>) </h5> -->
                      <div class="form-group" ng-init="editleadctrl.lead_type='owner'">
                        <label for="lead_type" class="col-sm-2 control-label">User Info</label>
                        <div class="col-sm-10">
                           <p class="col-sm-1 control-label">I  Am</p>

                          <label class="radio-inline"><input type="radio" name="lead_type" ng-model="editleadctrl.leadDetails.lead_type" value="owner"  >Owner</label>
                           <label class="radio-inline"><input type="radio" name="lead_type" ng-model="editleadctrl.leadDetails.lead_type" value="tenant">Tenant</label>

                        </div>
                      </div>



                      <div class="form-group">
                        <label for="visitor_name" class="col-sm-2 control-label">Visitor Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="visitor_name" placeholder="Visitor Name" ng-model="editleadctrl.leadDetails.person_name" name="visitor_name" ng-minlength="3" ng-maxlength="30" required/>
                        </div>
                          <span ng-show="form.visitor_name.$dirty && form.visitor_name.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.visitor_name.$dirty && form.visitor_name.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.visitor_name.$dirty && form.visitor_name.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                   
                       <div class="form-group">
                        <label for="emailid" class="col-sm-2 control-label">Email Id</label>
                        <div class="col-sm-8">
                          <input type="email" class="form-control" id="emailid" placeholder="Email Id" ng-model="editleadctrl.leadDetails.email" name="email">
                        </div>
                       <span ng-show="form.email.$dirty && form.email.$error.email" class="alert-danger"> not an email!</span>
                      </div>

                      <div class="form-group">
                        <label for="mobile_no" class="col-sm-2 control-label">Mobile No</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="mobile_no" placeholder="Mobile No 10 digit" ng-model="editleadctrl.leadDetails.contact_number" name="mobile_no" ng-minlength="10" ng-maxlength="12" ui-mask="9999999999"  ui-mask-placeholder ui-mask-placeholder-char="_">
                        </div> 
                           <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.minlength" class="alert-danger"> ! mobile no too Short!</span>
                          <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.maxlength" class="alert-danger"> ! mobile no too Long!</span>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="landline_no" placeholder="landline No" ng-model="editleadctrl.leadDetails.landline_no" name="landline_no" ui-mask="999 9999999?9"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-minlength="10" ng-maxlength="15">
                        </div>
                           <span ng-show="form.landline_no.$dirty && form.landline_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.maxlength" class="alert-danger"> too Long!</span> 
                      </div>

                       <div class="form-group">
                        <label for="min_rent" class="col-sm-2 control-label">
                       Rent Budget</label>
                        <div class="col-sm-4 ">
                        <input type="number" class="form-control" ng-model="editleadctrl.leadDetails.min_rent" id="min_rent" name="min_rent" placeholder="Min Rent Budget" min="0"   required>
                         <span ng-show="form.min_rent.$dirty && form.min_rent.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.min_rent.$dirty && form.min_rent.$invalid" class="alert-danger"> ! rent must not be less then zero!</span>
              
                        </div>
                       
                         

                         <div class="col-sm-4 ">
                          <input type="number" class="form-control" ng-model="editleadctrl.leadDetails.max_rent" id="max_rent" name="max_rent" placeholder="Max Rent Budget" min={{editleadctrl.leadDetails.min_rent}}  required>
                           
                          
                        </div>
                        <span ng-show="form.max_rent.$dirty && form.max_rent.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.max_rent.$dirty && form.max_rent.$invalid" class="alert-danger"> ! rent must not be less then min rent!</span>

                           
                        </div>

                           <div class="form-group">
                        <label for="Assigned_Bname" class="col-sm-2 control-label">
                       Deposit Budget</label>
                        <div class="col-sm-4 ">
                            <input type="number" class="form-control" ng-model="editleadctrl.leadDetails.min_deposit" name="" placeholder="Deposit Budget" min=0>
       
                        </div>
                         <div class="col-sm-4 ">
            
                        </div>
                          
                        </div>

                       <!--Available Required From -->
                        <div  class="form-group" ng-switch="editleadctrl.leadDetails.lead_type">
                          <div ng-switch-when="owner">
                             <label for="visitor_name" class="col-sm-2 control-label">Available From</label>
                          </div>   
                          <div ng-switch-when="tenant">
                             <label for="visitor_name" class="col-sm-2 control-label">Required From</label>
                            </div>
                              <div class="col-sm-4">
                                 <!-- <input type="text" name="available_from"  class="form-control" ng-model="editleadctrl.leadDetails.date" required min="{{today}}"> -->
                                 <input type="text" datepicker class="form-control" name="available_from" ng-model="editleadctrl.leadDetails.req_start_date"  >
                                <!--  <span ng-show="form.available_from.$dirty && form.available_from.$invalid">
                                      <span ng-show="form.available_from.$error.required" class="validdate">Date is required
                                      </span>
                                     
                                </span> -->
                             </div>
                          </div>

                         
                        

                      <div class="form-group">
                        <label for="property_type" class="col-sm-2 control-label">Property </label>
                        <div class="col-sm-10">
                          <label class="radio-inline"><input type="radio" name="property_type" ng-model="editleadctrl.leadDetails.property_type" value="residential">Residential</label>
                           <label class="radio-inline"><input type="radio" name="property_type" ng-model="editleadctrl.leadDetails.property_type" value="commercial">Commercial</label>
                          <label class="radio-inline"><input type="radio" name="property_type" ng-model="editleadctrl.leadDetails.property_type" value="pg">PG</label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="furnished_type" class="col-sm-2 control-label">Furnished Status </label>
                        <div class="col-sm-10">
                          <label class="radio-inline"><input type="radio" name="furnished_type" ng-model="editleadctrl.leadDetails.furnished_type" value="Furnished">Furnished</label>
                           <label class="radio-inline"><input type="radio" name="furnished_type" ng-model="editleadctrl.leadDetails.furnished_type" value="Unfurnished">Unfurnished</label>
                          <label class="radio-inline"><input type="radio" name="furnished_type" ng-model="editleadctrl.leadDetails.furnished_type" value="SemiFurnished">SemiFurnished</label>
                        </div>
                      </div>


                      <div ng-switch="editleadctrl.leadDetails.property_type">
                      <div class="form-group" ng-switch-when="residential">
                        <label for="flat_type" class="col-sm-2 control-label">Residential</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-5 col-sm-5 col-xs-5">
                              <select id="flat_type" class="form-control" ng-model="editleadctrl.leadDetails.property_type_detail" name="flat_type" >
                                <option value="" selected>
                                  Select 
                                </option>
                                 <option value=" 1RK">
                                  1RK
                                </option>
                                 <option value="1BHK">
                                  1BHK    
                                </option>
                                 <option value="2BHK">
                                  2BHK  
                                </option>
                                 <option value="3BHK">
                                  3BHK  
                                </option>
                                 <option value="4BHK">
                                  4BHK  
                                </option>
                                <option value="Multistorey Apartment">
                                  Multistorey Apartment
                                </option>
                                <option value="Builder Floor Apartment">
                                  Builder Floor Apartment
                                </option>
                                 <option value="Residential House">
                                  Residential House
                                </option>
                                 <option value="Villa">
                                  Villa
                                </option>
                                 <option value="Residential Plot">
                                  Residential Plot
                                </option>
                                 <option value="Penthouse">
                                  Penthouse
                                </option>
                                 <option value="Studio Apartment">
                                  Studio Apartment
                                </option>
                              </select>
                            </div>
                            <span ng-show="form.flat_type.$error.required" class="alert-danger">! Select Flat Type</span>
                          </div>
                        </div>
                      </div>
                       <div class="form-group" ng-switch-when="commercial">
                        <label for="commercial_type" class="col-sm-2 control-label">Commercial</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-5 col-sm-5 col-xs-5">
                                <select id="commercial_type" class="form-control" ng-model="editleadctrl.leadDetails.property_type_detail" name="commercial_type" required>
                                <option value="" selected>
                                  Select 
                                </option>
                                <option value="Commercial Office Space">
                                  Commercial Office Space
                                </option>
                                <option value="Office in IT Park/ SEZ  ">
                                  Office in IT Park/ SEZ  
                                </option>
                                 <option value="Commercial Shop">
                                  Commercial Shop
                                </option>
                                 <option value="Commercial Showroom">
                                  Commercial Showroom
                                </option>
                                 <option value="Commercial Land">
                                  Commercial Land
                                </option>
                                 <option value="Warehouse/ Godown">
                                  Warehouse/ Godown
                                </option>
                                 <option value="Industrial Land">
                                  Industrial Land
                                </option>
                                 <option value="Industrial Building">
                                  Industrial Building
                                </option>
                                 <option value="Industrial Shed">
                                  Industrial Shed
                                </option>
                              </select>
                            </div>
                             <span ng-show="form.commercial_type.$error.required" class="alert-danger">! Select Commercial Type</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" ng-switch-when="pg">
                        <label for="pg" class="col-sm-2 control-label">PG</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="pg" class="form-control" ng-model="editleadctrl.leadDetails.property_type_detail"  name="pg" required>
                                <option value="" selected>
                                    Select ...
                                </option>
                                <option value="ladies pg">
                                  Ladies PG
                                </option>
                                <option value="gents pg">
                                 Gents PG
                                </option>
                                 <option value="couple pg">
                                  Couple PG
                                </option>
                              </select>
                            </div>
                             <span ng-show="form.pg.$error.required" class="alert-danger">! Select PG Type</span>
                          </div>
                        </div>
                      </div>
                     </div>
                   

                       <div class="form-group">
                        <label for="Location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-5 col-sm-5 col-xs-5">
                        <!-- {{editleadctrl.leadDetails.location}} -->
                          <select id="example-getting-started" class="form-control" name="location" ng-model="editleadctrl.leadDetails.location" >
                           
                            <option value="WAKAD">WAKAD</option>
                            <option value="DANGE CHOWK">DANGE CHOWK</option>
                            <option value="HINJEWADI">HINJEWADI</option>
                            <option value="RAVET">RAVET</option>
                            <option value="PIMPLE SAUDAGAR">PIMPLE SAUDAGAR</option>
                            <option value="NIGADI">NIGADI</option>
                            <option value="VISHAL NAGAR">VISHAL NAGAR</option>
                            <option value="BHUMKAR CHOWK">BHUMKAR CHOWK</option>
                            <option value="MARUNJI">MARUNJI</option>
                            <option value="TATHAWADE">TATHAWADE</option>
                            <option value="THERGAON">THERGAON</option>
                            <option value="BANER">BANER</option>
                            <option value="BALEWADI">BALEWADI</option>
                             <option value="Pimpri">Pimpri </option>
                            <option value="Chinchwad">Chinchwad</option>
                            <option value="Akurdi">Akurdi</option>
                            <option value="New sangvi">New sangvi</option>
                            <option value="Old sangvi">Old sangvi</option>
                            <option value="Aundh">Aundh</option>

                              
                       
                          </select>
                        </div>
                          <span ng-show="form.location.$dirty && form.location.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.location.$dirty && form.location.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.location.$dirty && form.location.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                      </div>
                      </div>


                      <div class="form-group">
                        <label for="reference" class="col-sm-2 control-label">Reference</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-sm-5 col-sm-5 col-xs-5">

                              <select id="reference" class="form-control" ng-model="editleadctrl.leadDetails.reference">

                                <option value="" selected>
                                  Select 
                                </option>
                                <option value="www.justdial.com">
                                 www.justdial.com
                                </option>
                                 <option value="www.makan.com">
                                 www.makan.com
                                </option>
                                 <option value="www.magicbricks.com">
                                 www.magicbricks.com   
                                </option>
                                 <option value="www.quikr.com">
                                 www.quikr.com
                                </option>
                                 <option value="www.99acres.com">
                                 www.99acres.com
                                </option>
                                 <option value="www.housing.com">
                                 www.housing.com
                                </option>
                                <option value="www.sulekha.com">
                                  www.sulekha.com
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      


                      <div class="form-group">
                        <label for="remarks" class="col-sm-2 control-label">Remark</label>
                        <div class="col-sm-8">
                         <textarea class="form-control" rows="3" id="remarks" placeholder="Remark" name="remarks" ng-model="editleadctrl.leadDetails.remarks"></textarea>
                        </div>
                         <span ng-show="form.remarks.$dirty && form.remarks.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                    <!--    <div class="form-group">
                        <label for="remarks" class="col-sm-2 control-label">Follow Remark</label>
                        <div class="col-sm-8">
                         <textarea class="form-control" rows="3" id="remarks" placeholder="Remark" name="remarks" ng-model="editleadctrl.leadDetails.details"></textarea>
                        </div>
                         <span ng-show="form.remarks.$dirty && form.remarks.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                      <div class="form-group">
                      <label for="followdate" class="col-sm-2 control-label">Followup date </label>
                        <div class="col-md-3">
                          <input type="date" class="form-control" id="followdate" name="followdate" ng-model="editleadctrl.leadDetails.next_followup_date">
                        </div>
                    
                      <label for="followtime" class="col-sm-2 control-label">Followup time</label>
                        <div class="col-md-3">
                          <input type="time" class="form-control" id="followtime"  name="followtime" ng-model="editleadctrl.leadDetails.next_followup_time" >
                        </div>
                    </div> -->


                       
                     
                      
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="button" class="btn btn-info btn-block" ng-disabled="form.$invalid && form.$error" ng-click="Editlead(editleadctrl)">Save Lead</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

       </div>

       


