<style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    hr {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>

<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
                Customer Lead information
                <!-- <span class="pull-right" style="margin-right: 17px; cursor: pointer;" data-toggle="tooltip" title="Property Details" data-toggle="modal" data-target="#PropertyDetails" id="property_click">
                      <i class="fa fa-file-powerpoint-o "></i>
                    </span> -->
            </div>
        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->

    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">
                         <button type="button" ng-click="toggle()" class="btn btn_f btn-info pull-right"> Edit/Show lead Info </button>
                            <h4 class="panel-title"><a >Customer Information</a></h4>
                        </div>
                        <div class="panel-body" ng-show="myVar">
                            <div class="col-md-3">
                                <strong>Customer Name : </strong><span ng-bind="followup.leadDetails.person_name"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Mobile No : </strong><span ng-bind="followup.leadDetails.contact_number"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Email ID : </strong><span ng-bind="followup.leadDetails.email"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Lead Type : </strong><span ng-bind="followup.leadDetails.lead_type"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Min Rent : </strong><span ng-bind="followup.leadDetails.min_rent"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Max Rent : </strong><span ng-bind="followup.leadDetails.max_rent"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Min Deposit : </strong><span ng-bind="followup.leadDetails.min_deposit"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Furnished Status : </strong><span ng-bind="followup.leadDetails.max_deposit"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Property Type Details : </strong><span ng-bind="followup.leadDetails.property_type_detail"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Reference : </strong><span ng-bind="followup.leadDetails.reference"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Location : </strong><span ng-bind="followup.leadDetails.location"></span>
                            </div>
                            <div class="col-md-3">
                                <strong>Remarks : </strong><span ng-bind="followup.leadDetails.remarks"></span>
                            </div>
                        </div>
                        <div class="panel-body" ng-show="myPar">
                                    <form name="myForm" class="form-horizontal no-margin">
                                    
                                    <div class="col-lg-6 col-md-6">
                                      
                                      <div class="form-group">
                                          <label for="person_name" class="col-sm-3 control-label">person_name:</label>
                                            <div class="col-sm-4">
                                             <input type="text" class="form-control"  ng-model="followup.leadDetails.person_name" name="person_name">
                                            </div>  
                                      </div> 
                                     
                                        <div class="form-group">
                                          <label for="contact_number" class="col-sm-3 control-label">contact_number:</label>
                                            <div class="col-sm-4">
                                             <input type="text" class="form-control"  ng-model="followup.leadDetails.contact_number" name="contact_number">
                                            </div>  
                                      </div> 
                                         <div class="form-group">
                                          <label for="email" class="col-sm-3 control-label">email:</label>
                                            <div class="col-sm-4">
                                             <input type="text" class="form-control"  ng-model="followup.leadDetails.email" name="email">
                                            </div>  
                                      </div> 
                                         <div class="form-group">
                                          <label for="lead_type" class="col-sm-3 control-label">lead_type:</label>
                                            <div class="col-sm-4">
                                              <label class="radio-inline"><input type="radio" name="lead_type" ng-model="followup.leadDetails.lead_type" value="owner"  >Owner</label>
                                             <label class="radio-inline"><input type="radio" name="lead_type" ng-model="followup.leadDetails.lead_type" value="tenant">Tenant</label>
                                            </div>  
                                      </div> 
                                         <div class="form-group">
                                          <label for="min_rent" class="col-sm-3 control-label">min_rent:</label>
                                            <div class="col-sm-4">
                                             <input type="text" class="form-control"  ng-model="followup.leadDetails.min_rent" name="min_rent">
                                            </div>  
                                      </div> 
                                         <div class="form-group">
                                          <label for="max_rent" class="col-sm-3 control-label">max_rent:</label>
                                            <div class="col-sm-4">
                                             <input type="text" class="form-control"  ng-model="followup.leadDetails.max_rent" name="max_rent">
                                            </div>  
                                      </div> 
                                     
                                     
                                      
                                   
                                     
                                      </div>
                                      <div class="col-lg-6 col-md-6">
                                    
                                         
                                     
                                      <div class="form-group">
                                        <label for="min_deposit" class="col-sm-3 control-label">min_deposit</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control"  ng-model="followup.leadDetails.min_deposit" placeholder="min_deposit">
                                        </div>
                                      </div>

                                       <div class="form-group">
                                        <label for="max_deposit" class="col-sm-3 control-label">max_deposit</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control"  ng-model="followup.leadDetails.max_deposit" placeholder="max_deposit">
                                        </div>
                                      </div>
                                       <div class="form-group">
                                        <label for="property_type_detail" class="col-sm-3 control-label">property_type_detail</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control"  ng-model="followup.leadDetails.property_type_detail" placeholder="property_type_detail">
                                        </div>
                                      </div>
                                       <div class="form-group">
                                        <label for="reference" class="col-sm-3 control-label">reference</label>
                                        <div class="col-sm-8">
                                        
                                              <select id="reference" class="form-control" ng-model="followup.leadDetails.reference" onchange='Checkcustomers(this.value);'>

                                                <option value="" selected>
                                                  Select 
                                                </option>
                                                <option value="www.justdial.com">
                                                 www.justdial.com
                                                </option>
                                                 <option value="www.makan.com">
                                                 www.makan.com
                                                </option>
                                                 <option value="www.magicbricks.com">
                                                 www.magicbricks.com   
                                                </option>
                                                 <option value="www.quikr.com">
                                                 www.quikr.com
                                                </option>
                                                 <option value="www.99acres.com">
                                                 www.99acres.com
                                                </option>
                                                 <option value="www.housing.com">
                                                 www.housing.com
                                                </option>
                                                <option value="www.sulekha.com">
                                                  www.sulekha.com
                                                </option>
                                                <option value="walkincust">
                                                  walk in customer
                                                </option>
                                              </select>

                            
                                        </div>
                                      </div>
                                       <div class="form-group">
                                        <label for="location" class="col-sm-3 control-label">location</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control"  ng-model="followup.leadDetails.location" placeholder="location">
                                        </div>
                                      </div>
                                       <div class="form-group">
                                        <label for="remarks" class="col-sm-3 control-label">remarks</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control"  ng-model="followup.leadDetails.remarks" placeholder="remarks">
                                        </div>
                                      </div>
                                     
                                   
                                     
                                    </div>
                                      <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                          <a class="btn btn-info form-control" ng-disabled="myForm.$invalid" ng-click="followup.viewleadupdate()">Save</a>
                                        </div>
                                      </div>

                                    </form>    






                       </div>
                    </div>
                </div>

                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="icon ion-clock text-info"></i> Follow Up</h4>
                        </div>
                        <div class="panel-body">
                            <form name="myForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="1 " tabindex="1" id="followup_remark" name="followup_remark" placeholder="Remark" ng-model="followup.newFollowup.details" required></textarea>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="date" format="dd/MM/yyyy" class="form-control" tabindex="2" name="followup_date" ng-model="followup.newFollowup.next_followup_date" value="{{next_followup_date}}">

                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="time" id="followtime" class="form-control" tabindex="3" ng-model="followup.newFollowup.next_followup_time">
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">

                                            <select id="assign_lead" class="form-control" tabindex="4" ng-model="followup.assign_lead" name="assign_lead">
                                                <option value="" selected>Assign Lead</option>
                                                <option value="" selected> Mr.1</option>
                                                <option value="" selected>Mr.2</option>
                                                <option value="" selected>Mr.2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class=" form-group">

                                            <select id="status" class="form-control" tabindex="5" ng-model="followup.status" name="status">
                                                <option value="" selected>Select status</option>
                                                <option value="pending" selected> Pending</option>
                                                <option value="close">Close</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group bottonGroup">
                                            <a class="btn btn-info form-control" tabindex="6" ng-disabled="myForm.$invalid" ng-click="followup.addFollowup()">Save</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group bottonGroup">
                                            <a class="btn btn-warning form-control" tabindex="7" href="mailto:{{followup.leadDetails.email_id}}?Subject=Hello {{followup.leadDetails.visitor_name}} &body={{followup.newFollowup.details}}">Send Email </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group bottonGroup">
                                            <a class="btn btn-warning form-control" tabindex="8" ng-disabled="form.$invalid" ng-click="">Send SMS </a>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group bottonGroup">
                                            <a class="btn btn-success form-control" tabindex="9" data-toggle="modal" data-target="#myModal1">convert to client </a>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>

                    </div>
                </div> -->

                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <!--   <button type="button" ng-csv="getArray"  class="btn btn_f btn-info pull-right" csv-header="getHeader()"   filename="Follow_Up_History.csv" field-separator="," decimal-separator=".">Export To CSV</button> -->

                            <!--  <h4 class="panel-title"> Follow Up History</h4> -->
                            <button type="button" ng-click="setTab(1)" ng-class="{ active: isSet(1) }" class="btn btn_f btn-info"> follow Up </button>
                            <button type="button" ng-click="setTab(2)" ng-class="{ active: isSet(2) }" class="btn btn_f btn-info"> Add Task </button>
                            <button type="button" ng-click="setTab(3)" ng-class="{ active: isSet(3) }" class="btn btn_f btn-info"> Task list </button>
                        </div>
                        <div class="panel-body" ng-show="isSet(1)">

                            <div class="col-md-12">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="activity_type" class="form-control" ng-model="followup.activity.activity_type" name="activity_type">
                                            <option value="" selected>Activity Type</option>
                                            <option value="had phone conversation">Had phone conversation</option>
                                            <option value="left voice mail">Left Vioce Mail</option>
                                            <option value="not attend a call">Not Attend a Call</option>
                                            <option value="sent a email"> Sent a Email</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="status" class="form-control" ng-model="followup.activity.status" name="status">
                                            <option value="" selected>Select Status</option>
                                            <option value="prospect">Prospect</option>
                                            <option value="disqualified">Disqualified</option>
                                            <option value="invalid">Invalid</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="2" id="remark" name="remark" placeholder="remark" ng-model="followup.activity.remark" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                  
                                    <div class="col-md-3">
                                        <div class="form-group bottonGroup">
                                            <a class="btn btn-info form-control" tabindex="6" ng-disabled="myForm.$invalid" ng-click="followup.addactivity()">Save</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel-body" ng-show="isSet(2)">

                            <div class="col-md-12">

                                <div class="col-md-5">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select id="tasktype" class="form-control" ng-model="followup.task.task_type" name="tasktype">
                                                <option value="" selected>Select Task Type</option>
                                                <option value="follow up">Follow Up</option>
                                                <option value="site visit">Site Visit</option>
                                                <option value="meeting">Meeting</option>
                                                <option value="phone call"> Phone Call</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" id="remark" name="remark" placeholder="Remark" ng-model="followup.task.remark" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select id="assign_task" class="form-control" ng-model="followup.task.assign_task"  name="assign_task">
                                                <option value="" selected>Assign Task</option>
                                                <option ng-repeat="x in followup.stafflist" value="{{x.name}}">{{x.name}}</option>

                                               
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                <button type="button" class="btn btn-primary btn-xs">Add Property</button>
                                    <div id="dt_example" class="example_alt_pagination">

                                        <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">

                                            <thead>
                                                <tr>
                                                    <th style="width:17%">
                                                        Short list property
                                                    </th>
                                                    <th style="width:15%">
                                                        Flat no
                                                    </th>
                                                    <th style="width:2%">
                                                        Remove
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="gradeC">
                                                    <td>
                                                        Krushna heights
                                                    </td>
                                                    <td>
                                                        flat no-102-1bhk
                                                    </td>
                                                    <td>
                                                        remove
                                                    </td>

                                                </tr>
                                                <tr class="gradeX warning">
                                                    <td>
                                                        Krushna
                                                    </td>
                                                    <td>
                                                        flat no-102-1bhk
                                                    </td>
                                                    <td>
                                                        remove
                                                    </td>

                                                </tr>
                                                <tr class="gradeX warning">
                                                    <td>
                                                        Krushna
                                                    </td>
                                                    <td>
                                                        flat no-102-1bhk
                                                    </td>
                                                    <td>
                                                        remove
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h4><center>Task Schdule</center></h4>
                                    <form name="form" class="form-horizontal no-margin" novalidate>
                                        <div class="form-group">
                                            <label for="schdule_date" class="col-sm-5 control-label">Date :</label>
                                            <div class="col-sm-6">
                                                <input type="text" datepicker class="form-control" id="schdule_date" name="schdule_date" ng-model="followup.task.schdule_date" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="schdule_time" class="col-sm-5 control-label">Time :</label>
                                            <div class="col-sm-6">
                                                <input type="time" id="schdule_time" class="form-control" tabindex="3" ng-model="followup.task.schdule_time">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="reminder_before_task" class="col-sm-5 control-label">Reminder Before Task :</label>
                                            <div class="col-sm-6">
                                                <input type="time" id="reminder_before_task" class="form-control" tabindex="3" ng-model="followup.task.reminder_before_task">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="col-md-12">

                                    <!-- <div class="col-lg-2">
                                        <div class="form-group bottonGroup">
                                            <a class="btn btn-warning form-control" tabindex="7" href="mailto:{{followup.leadDetails.email_id}}?Subject=Hello {{followup.leadDetails.visitor_name}} &body={{followup.newFollowup.details}}">Send Email </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group bottonGroup">
                                            <a class="btn btn-warning form-control" tabindex="8" ng-disabled="form.$invalid" ng-click="">Send SMS </a>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group bottonGroup">
                                            <a class="btn btn-success form-control" tabindex="9" data-toggle="modal" data-target="#myModal1">convert to client </a>
                                        </div>
                                    </div> -->
                                    <div class="col-md-3">
                                        <div class="form-group bottonGroup">
                                            <a class="btn btn-info form-control" tabindex="6" ng-disabled="myForm.$invalid" ng-click="followup.addtask()">Save</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="panel-body" ng-show="isSet(3)">


                            <div class="col-md-12" ng-repeat="x in followup.alltask">
                                <div class="col-md-2">
                                    <div class="writer-info">Today</div>
                                    <div class="date"><span ng-bind="x.schdule_date"></span></div>
                                    <div class="date"><span ng-bind="x.schdule_time"></span></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Lead Follow Up</label>
                                    </div>
                                    <hr>
                                   <button ng-click="remks()" class="btn-link">Remark</button>
                                    <div class="form-group" ng-show="myremark">
                                            <textarea class="form-control" rows="2" id="remark" name="remark" placeholder="Remark" ng-model="followup.remark" ></textarea>
                                      </div>

                                    <p>&nbsp;<span ng-bind="x.remark"></span></p>

                              
                                    

                                </div>
                                <div class="col-md-4">
                                    <p>Assign to :<span ng-bind="x.assign_task"></span>
                                        <br>Created By: Kiran katkar on 11 Apr 2017, 12.00 AM</p>
                                    <hr>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="reschdule">Click To Reschdule</label>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-show="reschdule">
                                    <form name="form" class="form-horizontal no-margin" novalidate>
                                        <div class="form-group">
                                            <label for="reschduledate" class="col-sm-5 control-label">ReschduleDate</label>
                                            <div class="col-sm-6">
                                                <input type="text" datepicker class="form-control" id="reschduledate" name="reschduledate" ng-model="reschduledate" value="{{reschduledate}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="reschduletime" class="col-sm-5 control-label">ReschduleTime</label>
                                            <div class="col-sm-6">
                                                <input type="time" id="reschduletime" class="form-control" tabindex="3" ng-model="reschduletime">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" id="reschduleremark" name="reschduleremark" placeholder="Reschdule Remark" ng-model="followup.reschduleremark" required></textarea>
                                        </div>
                                    </form>

                                </div>
                               

                            </div>
                            
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Row End -->

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmation Box</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <strong>Are you sure want to close this lead?</strong>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="updateleads(followup.status)" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Confirmation Box</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <strong>Are u sure u want to convert it to client</strong>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="converttoclient(followup.leadDetails)" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- <div id="PropertyDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
 <div class="modal-dialog">
    <div class="modal-content" style="width: 43vw;">
      <div class="modal-header" style="background-color: #afc2c1;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
        <h4 class="modal-title" id="myModalLabel1">Property Details</h4>
      </div>
      <div class="modal-body">
                            <table class="table table-striped table-overflow">

                                    <tbody>
                                      <tr>
                                        <td class="col-sm-4"><b>Property Type</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.max_rent"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Property Type Details</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.property_type_detail"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Location</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.location"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Rent</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.min_rent"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Max Rent</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.max_rent"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Min Deposit</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.min_deposit"></span></</td>
                                      </tr>
                                       <tr>
                                        <td class="col-sm-4"><b>Furnished Status</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.max_deposit"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Reference</b></td>
                                        <td class="col-sm-7"><span ng-bind="followup.leadDetails.reference"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Remarks</b></td>
                                        <td class="col-sm-7 overflow-cell" ><span id="OverflowRemarks" ng-bind="followup.leadDetails.remarks" style="text-overflow:ellipsis"></span></td>
                                      </tr>
                                      <tr>
                                        <td class="col-sm-4"><b>Assigned Name</b></td>
                                        <td class="col-sm-7"><span ng-bind="expression"></span></td>
                                      </tr>

                                    </tbody>
                                  </table>
      </div>
    </div>
  </div>
</div> -->
</div>
<!-- Main Container end -->
<script type="text/javascript">
    /*  $('#datetimepicker1').datetimepicker({
          minDate: moment()
        });
        */
    /*$('#slider_example_4andHalf').datetimepicker({
      controlType: 'select',
      oneLine: true,
      timeFormat: 'hh:mm tt'
    });*/
</script>

<script type="text/javascript">
    /*  document.getElementById('datetimepicker1').value = Date();*/
    /* function display_ct() {

        var x = new Date()
        var x1=x.getMonth() + "/" + x.getDate() + "/" + x.getYear(); 
        x1 = x.getHours( )+ ":" +  x.getMinutes();
        //document.getElementById('ct').innerHTML = x1;

        //tt=display_c();
        document.getElementById('time').value = x1;
    }*/

    /* display_ct();*/
</script>
<script type="text/javascript">
    $("#status").on("change", function() {
        $modal = $('#myModal');
        if ($(this).val() === 'close') {
            $modal.modal('show');
        }
    });

    /*$("#property_click").click(function(){
      $modal = $('#PropertyDetails');
      $modal.modal('show');

    });*/
</script>