    <style>
      /* Icon when the collapsible content is shown */
      .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
      }
      /* Icon when the collapsible content is hidden */
      .btnp.collapsed:after {
        content: "\e080";
      }
      .btn_f {
    margin: -10px 0 !important;
      }
      .validdate{
        color: red;
      }
      .form-control{
        height: 28px;
      }
      .form-horizontal .control-label{
        padding-top: 2px;
      }

    </style>
    <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
                <div class="widget-header">
                    <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
                     Tenant Information
                     </div>
                  </div>       
        </div>
        <!-- Sub Nav End -->
        <!-- Row Start -->

                <div class="widget no-margin" style="padding-bottom: 0px;">
                  <div class="widget-body editLead" style="padding-bottom: 0px;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                          <div class="panel panel-info ">
                             <div class="panel-heading">
                                <button type="button" ng-click="toggle()" class="btn btn_f btn-info pull-right"> Edit/Show Owner Info </button>
                                <h4 class="panel-title"> Tenant Information</h4>
                              </div>
                         
<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/api/photo"
     method    =  "post"
>
<input type="file" name="userPhoto" id="imgInp" ngf-change="onChange($files)" ngf-select ng-model="picFile" name="attachement" accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf "/>
<div>
   <img id="blah" src="#" height="100" width="100" style="margin-top:-20px;margin-left: 174px;" ng-if="isImage(fileExt)" ngf-src="picFile[0]"/>
  <input type="submit" value="Upload Image" name="submit">
</div>
</form>
                            <div class="panel-body" ng-show="myVar" >
                                    <div class="col-md-3">
                                <strong>Tenant Name : </strong>
                                <span ng-bind="tenantDetails.TenantDetail.person_name"></span>
                                </div>
                                 <div class="col-md-3">
                                <strong>Mobile Number : </strong>
                                <span ng-bind="tenantDetails.TenantDetail.contact_number"></span>
                                </div>
                                <div class="col-md-3">
                                  <strong>E-mail Id : </strong>
                                  <span ng-bind="tenantDetails.TenantDetail.email"></span>
                                </div>
                                <div class="col-md-3">
                                    <strong>landline_no  : </strong>
                                    <span ng-bind="tenantDetails.TenantDetail.landline_no"></span>
                                </div>
                                <!--  -->
                                <div ng-if="tenantDetails.TenantDetail.tenent_add !== null">
                                     <div class="col-md-3">
                                      <strong>birth_date : </strong><span ng-bind=" tenantDetails.TenantDetail.birth_date"></span>
                                    </div>
                                     <div class="col-md-3">
                                      <strong>tenant anniversary date : </strong><span ng-bind=" tenantDetails.TenantDetail.tenant_anni_date"></span>
                                    </div>
                                     <div class="col-md-3">
                                      <strong>tenent address : </strong><span ng-bind=" tenantDetails.TenantDetail.tenent_add"></span>
                                    </div>
                                     <div class="col-md-3">
                                      <strong>state : </strong><span ng-bind=" tenantDetails.TenantDetail.state"></span>
                                    </div>
                                     <div class="col-md-3">
                                      <strong>city : </strong><span ng-bind=" tenantDetails.TenantDetail.city"></span>
                                    </div>
                                     <div class="col-md-3">
                                      <strong>pin_code : </strong><span ng-bind=" tenantDetails.TenantDetail.pin_code"></span>
                                    </div>
                                      <div class="col-md-3">
                                      <strong>company name & address : </strong><span ng-bind=" tenantDetails.TenantDetail.companynameaddress"></span>
                                    </div>
                                     <div class="col-collagenameaddressmd-3">
                                      <strong>collage name & address : </strong><span ng-bind=" tenantDetails.TenantDetail.collagenameaddress"></span>
                                    </div>
                                    
                                    
                                   
                                   
                              </div>
                            </div>
                            <!-- edit s -->
                               <div class="panel-body" ng-show="myPar" >
                                    <form name="myForm" class="form-horizontal no-margin">
                                    
                                    <div class="col-lg-6 col-md-6">
                                      
                                      <div class="form-group">
                                          <label for="birthdate" class="col-sm-3 control-label">Owner Name:</label>
                                            <div class="col-sm-4">
                                             <input type="text" class="form-control"  ng-model=" tenantDetails.TenantDetail.person_name" name="person_name">
                                            </div>  
                                      </div> 
                                      <div class="form-group">
                                          <label for="birthdate" class="col-sm-3 control-label">Mobile No :</label>
                                            <div class="col-sm-4">
                                             <input type="text" class="form-control"  ng-model=" tenantDetails.TenantDetail.contact_number " name="contact_number">
                                            </div>  
                                      </div> 
                                       <div class="form-group">
                                          <label for="birthdate" class="col-sm-3 control-label">Email ID :</label>
                                            <div class="col-sm-4">
                                             <input type="text" class="form-control"  ng-model=" tenantDetails.TenantDetail.email" name="email">
                                            </div>  
                                      </div> 
                                      <div class="form-group">
                                          <label for="birthdate" class="col-sm-3 control-label">Landline No :</label>
                                            <div class="col-sm-4">
                                             <input type="text" class="form-control"  ng-model=" tenantDetails.TenantDetail.landline_no" name="landline_no">
                                            </div>  
                                      </div> 
                                      
                                    
                                       <div class="form-group">
                                        <label for="tenent_add" class="col-sm-3 control-label">Tenent Address<span class="mand">*</span></label>
                                        <div class="col-sm-8">
                                           <textarea class="form-control" rows="2" id="tenent_add"  ng-model=" tenantDetails.TenantDetail.tenent_add"  placeholder="Tenent Address "></textarea>
                                        </div>
                                      </div>
                                       <div class="form-group">
                                        <label for="state_city" class="col-sm-3 control-label">State / City </label>
                                        <div class="col-sm-8">
                                          <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                              <select id="State" class="form-control"  ng-model=" tenantDetails.TenantDetail.state">
                                                <option value="" selected>
                                                  State
                                                </option>
                                                <option value="Maharashtra">
                                                  Maharashtra
                                                </option>
                                                <option value="Manipur">
                                                  Manipur
                                                </option>
                                                <option value="Punjab">
                                                  Punjab
                                                </option>
                                                <option value="Jharkhand">
                                                  Jharkhand
                                                </option>
                                                <option value="Jammu and Kashmir">
                                                  Jammu and Kashmir
                                                </option>
                                                <option value="Uttar Pradesh">
                                                  Uttar Pradesh 
                                                </option> 
                                              </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                              <select id="city" class="form-control"  ng-model=" tenantDetails.TenantDetail.city">
                                                <option value="" selected>
                                                  City
                                                </option>
                                                <option value="Pune">
                                                  Pune
                                                </option>
                                                <option value="Nagpur">
                                                  Nagpur
                                                </option>
                                                <option value="Thane">
                                                  Thane
                                                </option>
                                                <option value="Nashik">
                                                  Nashik
                                                </option>
                                                <option value="Pimpri Chinchwad5">
                                                  Pimpri Chinchwad
                                                </option>
                                                <option value="Kalyan-Dombivali">
                                                  Kalyan-Dombivali
                                                </option>
                                              </select>
                                            </div> 
                                              <div class="col-md-4 col-sm-4 col-xs-4">
                                                 <input type="text" class="form-control" id="pincode"  ng-model=" tenantDetails.TenantDetail.pin_code"  placeholder="Pin Code">
                                              </div>
                                          </div>
                                        </div>
                                      </div>

                                     
                                     
                                      </div>
                                      <div class="col-lg-6 col-md-6">
                                     <div class="form-group">
                                      <label for="birthdate" class="col-sm-3 control-label">Birth Date:</label>
                                        <div class="col-sm-4">
                                         <input type="date" class="form-control"  ng-model=" tenantDetails.TenantDetail.birth_date" name="birthdate">
                                        </div>
                                      </div> 
                                     <div class="form-group">
                                         <label for="Anniv_date" class="col-sm-3 control-label"> Tenant Anniversary Date:</label>  
                                          <div class="col-sm-4">
                                              <input type="date" class="form-control" ng-model=" tenantDetails.TenantDetail.tenant_anni_date" name="Anniv_date">
                                          </div>
                                      </div>  
                                        <div class="form-group">
                                         <label for="companynameaddress" class="col-sm-3 control-label">Company Name & Address:</label>  
                                          <div class="col-sm-8">
                                             <textarea class="form-control" rows="2" id="companynameaddress"  ng-model=" tenantDetails.TenantDetail.companynameaddress"  placeholder="Company Name & Address"></textarea>
                                          </div>
                                      </div>   
                                      <div class="form-group">
                                         <label for="collagenameaddress" class="col-sm-3 control-label">Collage Name & Address :</label>  
                                          <div class="col-sm-8">
                                             <textarea class="form-control" rows="2" id="collagenameaddress"  ng-model=" tenantDetails.TenantDetail.collagenameaddress"  placeholder="Collage Name & Address"></textarea>
                                          </div>
                                      </div>     
                                      <div class="form-group">
                                        <label for="state_city" class="col-sm-3 control-label">Address Proof </label>
                                        
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                              <select id="address_proof" class="form-control"  ng-model=" tenantDetails.TenantDetail.address_proof">
                                                <option value="" selected>
                                                  State
                                                </option>
                                                <option value="driving_license">
                                                  Driving License
                                                </option>
                                                <option value="ration_card">
                                                  Ration Card
                                                </option>
                                                <option value="elect_bill">
                                                  Elect. Bill
                                                </option>
                                                <option value="phone_bill  ">
                                                  Phone Bill  
                                                </option>
                                              </select>
                                            </div>
                                      </div>
                                    
                                       <div class="form-group">
                                        <label for="photo_proof" class="col-sm-3 control-label">Photo Proof  </label>
                                    
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                              <select id="photo_proof" class="form-control"  ng-model=" tenantDetails.TenantDetail.photo_proof ">
                                                <option value="" selected>
                                                  State
                                                </option>
                                                <option value="company/collage_id">
                                                 Company/Collage ID
                                                </option>
                                                <option value="pan_card">
                                                  Pan Card
                                                </option>
                                                <option value="Passport">
                                                  Passport
                                                </option>
                                                <option value="voting_id  ">
                                                  Voting ID 
                                                </option>
                                              </select>
                                            </div>
                                      </div>
                                   
                                   
                                    
                                     
                                  
                                                                         
                                    </div>
                                      <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                          <a class="btn btn-info form-control" ng-disabled="myForm.$invalid" ng-click="tenantDetails.addTenantUpdata()">Save</a>
                                        </div>
                                      </div>
                                    </form>
                                </div>
                            <!-- edit end -->
                          </div>
                        </div>  
                          <!-- {{ tenantDetails.TenantDetail.ID}} -->

                        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                        <div class="panel panel-info" style="height: 40vh;overflow-y: scroll;">
                          <div class="panel-heading">
                           <a href="#/addproperty/{{ tenantDetails.TenantDetail.ID}}" class="btn btn_f btn-info pull-right">Add Proparty</a>
                            <h4 class="panel-title"> Flat Details</h4>
                          </div>
                          <div class="panel-body">
                             <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                                        <thead>
                                          <tr>
                                          <th style="width:10%">
                                            Sr.no
                                            </th>
                                           <th style="width:20%">
                                            Property Name
                                            </th>
                                            <th style="width:20%">
                                            Building Name
                                            </th>
                                            <th style="width:20%">
                                              City
                                            </th>
                                            <th style="width:20%">
                                             State
                                            </th>
                                             <th style="width:20%">
                                             Show Details
                                            </th>
                                           
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="property in OwnerProperty">

                                            <td>
                                              <span class="name" ng-bind="$index +1"></span>
                                            </td>
                                            <td>
                                               <span ng-bind="property.property_name"></span>
                                            </td>
                                            <td>
                                             <span ng-bind="property.building_name"></span>
                                            </td>
                                             <td>
                                               <span ng-bind="property.city"></span>
                                            </td>
                                            <td>
                                               <span ng-bind="property.state"></span>
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-xs">
                                                     <a href="#/property_details/{{property.property_id}}" class="btn btn-primary">Proparty Details</a>
                                                 </div>
                                            </td>
                                            
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                              
                            
                          </div>
                        </div>
                      </div> 


                      
                    </div>
                </div>
              </div>
            <!-- Row End -->



<!--     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title " id="myModalLabel">Confirmation Box</h4>
      </div>
      <div class="modal-body">
            <div class="alert alert-warning">
        <strong>Are you sure want to close this lead?</strong> 
      </div>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="updateleads(followup.status)" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div> -->


</div>
    <!-- Main Container end -->


    <script type="text/javascript">
      $("#status").on("change", function () {        
      $modal = $('#myModal');
      if($(this).val() === 'close'){
        $modal.modal('show');
          }
       });
       function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#imgInp").change(function(){
        readURL(this);
    });
    </script>
    
