   <div class="container">
            <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" >Add New Branch</a>
            </li>
          </ul>
         <!--  <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Branch mger name and city ...">
            <i class="fa fa-search"></i>
          </div> -->
        </div>
        <!-- Sub Nav End -->
        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="branchController">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Add Branch
                    </div>
                  </div>
                  <div class="widget-body">
         
                    <form  ng-app="addlead" name="form" class="form-horizontal no-margin" novalidate>
                      <div class="form-group">
                        <label for="branch_name" class="col-sm-2 control-label">Branch Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="branch_name" placeholder="Branch Name" ng-model="branchForm.name" name="branch_name" ng-minlength="3" ng-maxlength="25" required/>
                        </div>
                            
                          <span ng-show="form.branch_name.$dirty && form.branch_name.$error.minlength" class="alert-danger"> minimum 3 to 25 character</span>
                          <span ng-show="form.branch_name.$dirty && form.branch_name.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                   
                       <div class="form-group">
                        <label for="emailid" class="col-sm-2 control-label">Branch Email Address</label>
                        <div class="col-sm-8">
                          <input type="email" class="form-control" id="emailid" placeholder="Branch Email Address" ng-model="branchForm.email" name="email">
                        </div>
                        <span ng-show="form.email.$dirty && form.email.$error.email" class="alert-danger"> not an email!</span>
                      </div>
                      
                       <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-8">
                          <textarea  class="form-control" rows="5" id="address" name="address" placeholder="Branch Address" ng-model="branchForm.address" ng-minlength="3" ng-maxlength="200" required/></textarea>
                        </div>
                         <span ng-show="form.address.$dirty && form.address.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.address.$dirty && form.address.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.address.$dirty && form.address.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                      <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">Select State</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="state" class="form-control" ng-options="data.name as data.name for data in myData"  ng-model="branchForm.state" name="state" required>
                                <option value="" selected>
                                  Select State
                                </option>
                               
                               <!--  <option value="Maharashtra">
                                  Maharashtra
                                </option>
                                <option value="Manipur">
                                  Manipur
                                </option>
                                <option value="Punjab">
                                  Punjab
                                </option>
                                <option value="Jharkhand">
                                  Jharkhand
                                </option>
                                <option value=" Jammu and Kashmir">
                                  Jammu and Kashmir
                                </option>
                                <option value="Uttar Pradesh">
                                  Uttar Pradesh 
                                </option>  -->
                              </select>
                            </div>
                            <span ng-show="form.state.$error.required" class="alert-danger">!Select State</span>
                          </div>
                        </div>
                      </div>
                            
                      <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">Select City</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="city" class="form-control" ng-model="branchForm.city" name="city" required>
                                <option value="" selected>
                                  Select City
                                </option>
                                <option value="Pune">
                                  Pune
                                </option>
                                <option value="Nagpur">
                                  Nagpur
                                </option>
                                <option value="Thane">
                                  Thane
                                </option>
                                <option value="Nashik">
                                  Nashik
                                </option>
                                <option value=" Pimpri Chinchwad">
                                  Pimpri Chinchwad
                                </option>
                                <option value=" Kalyan-Dombivali">
                                  Kalyan-Dombivali
                                </option>
                              </select>
                            </div>
                             <span ng-show="form.city.$error.required" class="alert-danger">!Select City</span>
                           </div>
                        </div>
                      </div>
                       

                     <!-- <div class="form-group">
                        <label for="location" class="col-sm-2 control-label">Branch Location</label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">

                              <select id="location" class="form-control" ng-model="branchForm.location">
                                <option value="" selected>
                                  Select 
                                </option>
                                 <option value="Pimpri">
                                  Pimpri
                                </option>
                                 <option value="Chinchwad">
                                 Chinchwad
                                </option>
                                 <option value="akurdi">
                                akurdi
                                </option>
                                 <option value="kalewadi">
                                 kalewadi 
                                </option>
                                 <option value=" new sangvi">
                                 new sangvi
                                </option>
                                <option value="old sangvi">
                                  old sangvi
                                </option>
                                <option value="aundh">
                                 aundh
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <div class="form-group">
                        <label for="zipcode" class="col-sm-2 control-label">Zip Code<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="zipcode" placeholder="Zip Code" ng-model="branchForm.zipcode" name="zipcode" ng-minlength="6" ng-maxlength="6" ui-mask="999999"  ui-mask-placeholder ui-mask-placeholder-char="_" required>
                        </div>
                         <span ng-show="form.zipcode.$dirty && form.zipcode.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.zipcode.$dirty && form.zipcode.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.zipcode.$dirty && form.zipcode.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                     <div class="form-group">
                         <label for="mobile_no" class="col-sm-2 control-label">Branch Mobile No</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="mobile_no" placeholder="Mobile No 10 digit" ng-model="branchForm.contact" name="mobile_no" ng-minlength="10" ng-maxlength="12" ui-mask="9999999999"  ui-mask-placeholder ui-mask-placeholder-char="_"required/>
                        </div>
                           <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.minlength" class="alert-danger"> ! mobile no too Short!</span>
                          <span ng-show="form.mobile_no.$dirty && form.mobile_no.$error.maxlength" class="alert-danger"> ! mobile no too Long!</span>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="landline_no" placeholder="landline No" ng-model="branchForm.landline_no" name="landline_no"  ui-mask="999 9999999?9"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-minlength="10" ng-maxlength="15" >
                        </div>
                           <span ng-show="form.landline_no.$dirty && form.landline_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.maxlength" class="alert-danger"> too Long!</span> 
                      </div>
                       <div class="form-group">
                        <label for="branch_name" class="col-sm-2 control-label">Bank Branch Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="branch_name" placeholder="Branch name" ng-model="branchForm.bank_name" name="branch_name" ng-minlength="3" ng-maxlength="50" required/>
                        </div>
                          <span ng-show="form.branch_name.$dirty && form.branch_name.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.branch_name.$dirty && form.branch_name.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.branch_name.$dirty && form.branch_name.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                       <div class="form-group">
                        <label for="contact_no" class="col-sm-2 control-label">Bank account details<span class="mand">*</span></label>
                        <div class="col-sm-4">
                          <input type="number" class="form-control" id="contact_no" placeholder="Account Number" ng-model="branchForm.bank_account_no" name="account_no" ng-minlength="4" ng-maxlength="16" required/>
                        </div>
                           <span ng-show="form.account_no.$dirty && form.account_no.$error.required" class="alert-danger"> !account no Required!</span>
                          <span ng-show="form.account_no.$dirty && form.account_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.account_no.$dirty && form.account_no.$error.maxlength" class="alert-danger"> !account no too Long!</span>
                           <div class="col-sm-4">
                          <input type="text" class="form-control" id="contact_no" placeholder="IFSC Code" ng-model="branchForm.bank_ifsc_code" name="ifsc_code" ng-minlength="11" ng-maxlength="11" required/>
                        </div>
                           <span ng-show="form.ifsc_code.$dirty && form.ifsc_code.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.ifsc_code.$dirty && form.ifsc_code.$error.minlength" class="alert-danger"> !ifsc code too Short!</span>
                          <span ng-show="form.ifsc_code.$dirty && form.ifsc_code.$error.maxlength" class="alert-danger"> !ifsc code too Long!</span>
                      </div>
                     

                       
                      
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                          <button type="button" class="btn btn-info btn-block" ng-disabled="form.$invalid" ng-click="addBranch()">Create Branch</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
       </div>

