 <div class="container">
 <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="add_branch.html" class="heading">Create Account</a></li>
           </ul>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add Collection Officer
                    </div>
                  </div>
                  <div class="widget-body">
                    <form class="form-horizontal no-margin">
                     <h5><span class="mand">Required fields are indicated with red star</span>(<span class="mand">*</span>) </h5>
                      <div class="form-group">
                        <label for="rm_name" class="col-sm-2 control-label">
                        Collection Officer Name<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="branch_name" placeholder="Branch Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="Assigned_Bname" class="col-sm-2 control-label">
                        Assign Branch Name<span class="mand">*</span></label>
                        <div class="col-sm-10">
                         <select id="branch" class="form-control" placeholder="Select a branch name for Relation manager ">
                                
                                <option value="1">
                                  Pune
                                </option>
                                <option value="2">
                                 Chinchwad
                                </option>
                                <option value="3">
                                  Punjab
                                </option>
                                <option value="4">
                                  Jharkhand
                                </option>
                                <option value="5">
                                  Jammu and Kashmir
                                </option>
                                <option value="6">
                                  Uttar Pradesh `
                                </option> `
                              </select>
                            </div>
                          </div>
                        
                       <div class="form-group">
                        <label for="RM_address" class="col-sm-2 control-label">
                        Collector Address<span class="mand">*</span></label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="branch_Add" placeholder="Branch Address "></textarea>
                        </div>
                      </div>
                     <div class="form-group">
                        <label for="pwd" class="col-sm-2 control-label">State<span class="mand">*</span> </label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="State" class="form-control">
                                <option>
                                  Select State
                                </option>
                                <option value="1">
                                  Maharashtra
                                </option>
                                <option value="2">
                                  Manipur
                                </option>
                                <option value="3">
                                  Punjab
                                </option>
                                <option value="4">
                                  Jharkhand
                                </option>
                                <option value="5">
                                  Jammu and Kashmir
                                </option>
                                <option value="6">
                                  Uttar Pradesh `
                                </option> `
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="pwd" class="col-sm-2 control-label">City<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="DateOfBirthMonth" class="form-control">
                                <option>
                                  Select City
                                </option>
                                <option value="1">
                                  Pune
                                </option>
                                <option value="2">
                                  Nagpur
                                </option>
                                <option value="3">
                                  Thane
                                </option>
                                <option value="4">
                                  Nashik
                                </option>
                                <option value="5">
                                  Pimpri Chinchwad
                                </option>
                                <option value="6">
                                  Kalyan-Dombivali
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="zipcode" class="col-sm-2 control-label">Zip Code<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="zipcode" placeholder="Zip Code">
                        </div>
                      </div>
                       <div class="form-group">
                        <label for="contact" class="col-sm-2 control-label">Contact<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="contact" placeholder="contact">
                        </div>
                      </div>
                       
                       <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Comment(optional)</label>
                        <div class="col-sm-10">
                           <textarea class="form-control" rows="5" id="comment" placeholder="comment "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-info btn-block">Create Branch</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
        </div>