

 <div class="container" onload="confirm()">
        <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#/property" class="heading">Available Property</a></li>
             <li class="hidden-sm hidden-xs">
              <a href="#/addproperty" >Add New Property</a>
            </li>
             <li class="hidden-sm hidden-xs">
              <a href="#/property_details" >Property Details</a>
            </li>

          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Property ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Available Property
                    </div>
                  </div>
                  <div class="widget-body clearfix">
                    <div class="row">
                     
                    <div class="col-sm-3 col-md-3" >
                        <div class="thumbnail">
                          <img data-src="holder.js/300x200" alt="300x200" src="img/home.jpg" onload="loadImage()" style="width: 300px; height: 200px;">
                          <div class="caption">
                            <h4>Property Name</h4>
                            <b>Property Description:</b><p>
                            <span  class="akbd">Apartment</span>
                            <span  class="ykbd">Year: 2003</span>
                            <span  class="bkbd">Bedrooms: 2</span>
                            <span  class="bbkbd">Baths: 1</span>
                            <span  class="airkbd">700</span>
                            <span  class="pkbd">Pets: Yes</span>

                            </p>
                            <h5  class="pull-right"><b>Rate: 18000</b></h5>
                            <div><a href="#/property_details" class="btn btn-info ">Check Property</a></div>
                          </div>
                        </div>
                      </div>
                     
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                          <img data-src="holder.js/300x200" alt="300x200" src="img/home.jpg" style="width: 300px; height: 200px;">
                          <div class="caption">
                            <h4>Property Name</h4>
                            <b>Property Description:</b><p>
                            <span  class="akbd">Apartment</span>
                            <span  class="ykbd">Year: 2003</span>
                            <span  class="bkbd">Bedrooms: 2</span>
                            <span  class="bbkbd">Baths: 1</span>
                            <span  class="airkbd">700</span>
                            <span  class="pkbd">Pets: Yes</span>

                            </p>
                            <h5  class="pull-right"><b>Rate: 5000</b></h5>
                            <div><a href="#/property_details" class="btn btn-info ">Check Property</a></div>
                          </div>
                        </div>
                      </div>

                       <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                          <img data-src="holder.js/300x200" alt="300x200" src="img/home.jpg" style="width: 300px; height: 200px;">
                          <div class="caption">
                            <h4>Property Name</h4>
                            <b>Property Description:</b><p>
                            <span  class="akbd">Apartment</span>
                            <span  class="ykbd">Year: 2003</span>
                            <span  class="bkbd">Bedrooms: 2</span>
                            <span  class="bbkbd">Baths: 1</span>
                            <span  class="airkbd">700</span>
                            <span  class="pkbd">Pets: Yes</span>

                            </p>
                            <h5  class="pull-right"><b>Rate: 10000</b></h5>
                            <div><a href="#/property_details" class="btn btn-info ">Check Property</a></div>
                          </div>
                        </div>
                        </div>                   
                      <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                          <img data-src="holder.js/300x200" alt="300x200" src="img/home.jpg" style="width: 300px; height: 200px;">
                          <div class="caption">
                            <h4>Property Name</h4>
                            <b>Property Description:</b><p>
                            <span  class="akbd">Apartment</span>
                            <span  class="ykbd">Year: 2003</span>
                            <span  class="bkbd">Bedrooms: 2</span>
                            <span  class="bbkbd">Baths: 1</span>
                            <span  class="airkbd">700</span>
                            <span  class="pkbd">Pets: Yes</span>

                            </p>
                            <h5  class="pull-right"><b>Rate: 9000</b></h5>
                            <div><a href="#/property_details" class="btn btn-info ">Check Property</a></div>
                          </div>
                        </div>
                      </div>                     
                      <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                          <img data-src="holder.js/300x200" alt="300x200" src="img/home.jpg" style="width: 300px; height: 200px;">
                          <div class="caption">
                            <h4>Property Name</h4>
                            <b>Property Description:</b><p>
                            <span  class="akbd">Apartment</span>
                            <span  class="ykbd">Year: 2003</span>
                            <span  class="bkbd">Bedrooms: 2</span>
                            <span  class="bbkbd">Baths: 1</span>
                            <span  class="airkbd">700</span>
                            <span  class="pkbd">Pets: Yes</span>

                            </p>
                            <h5  class="pull-right"><b>Rate: 9000</b></h5>
                            <div><a href="#/property_details" class="btn btn-info ">Check Property</a></div>
                          </div>
                        </div>
                      </div>                     
                      <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                          <img data-src="holder.js/300x200" alt="300x200" src="img/home.jpg" style="width: 300px; height: 200px;">
                          <div class="caption">
                            <h4>Property Name</h4>
                            <b>Property Description:</b><p>
                            <span  class="akbd">Apartment</span>
                            <span  class="ykbd">Year: 2003</span>
                            <span  class="bkbd">Bedrooms: 2</span>
                            <span  class="bbkbd">Baths: 1</span>
                            <span  class="airkbd">700</span>
                            <span  class="pkbd">Pets: Yes</span>

                            </p>
                            <h5  class="pull-right"><b>Rate: 16000</b></h5>
                            <div><a href="#/property_details" class="btn btn-info ">Check Property</a></div>
                          </div>
                        </div>
                      </div>                     
                      <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                          <img data-src="holder.js/300x200" alt="300x200" src="img/home.jpg" style="width: 300px; height: 200px;">
                          <div class="caption">
                            <h4>Property Name</h4>
                            <b>Property Description:</b><p>
                            <span  class="akbd">Apartment</span>
                            <span  class="ykbd">Year: 2003</span>
                            <span  class="bkbd">Bedrooms: 2</span>
                            <span  class="bbkbd">Baths: 1</span>
                            <span  class="airkbd">700</span>
                            <span  class="pkbd">Pets: Yes</span>

                            </p>
                            <h5  class="pull-right"><b>Rate: 8000</b></h5>
                            <div><a href="#/property_details" class="btn btn-info ">Check Property</a></div>
                          </div>
                        </div>
                      </div>                         
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->
 

        </div>
        <!-- Dashboard Wrapper End -->
</div>
<script>


    function confirm() {
       document.getElementById("demo").innerHTML = text;
      };


</script>
  