 <div class="container">
 <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#" class="h class="btn btn-primary" eading">Tables</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#" class="s class="btn btn-primary" elected">Tables</a>
            </li>
            <li class="hidden-sm hidden-xs">
              <a href="pricing.htm class="btn btn-primary" l">Pricing Tables</a>
            </li>
          </ul> -->
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="search lead name ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Customer lead
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                      <thead>
                        <tr>
                         
                          <th style="width:20%">
                          Customer Name
                          </th>
                          <th style="width:30%" class="hidden-xs">
                           Remark
                          </th>
                           <th style="width:20%" class="hidden-xs">
                            Contact
                          </th>
                          <th style="width:10%" class="hidden-xs">
                           Email Id
                          </th>
                          <th style="width:20%" class="hidden-xs">
                            Status
                          </th>
                           <th style="width:10%" class="hidden-xs">
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         
                          <td>
                            <span class="property">
                              John Deo
                            </span>
                          </td>
                          <td>
                           1bhk,chinchwad,1bathroom
                          </td>
                          <td>
                           <div class="col-sm-12">
                            +91 9123456789
                            </div>
                          </td>
                          <td>
                            demo@gmail.com
                          </td>
                          <td >

                            <select id="action" class="form-control">
                              <option value="pending">pending</option>
                              <option value="in progress"> in progress</option>
                              <option value="success">successfully done</option>
                            </select>
                          </td>
                          <td>
                           <div class="btn-group btn-group-xs">
                              <a href="#/viewlead" class="btn btn-primary" >View </a></button>
                               <a href="#/viewlead" class="btn btn-primary" >Convert To Tenant</a>
                           </div>
                          </td>
                        </tr>
                       <tr>
                         
                          <td>
                            <span class="property">
                              John Deo
                            </span>
                          </td>
                          <td>
                           1bhk,chinchwad,1bathroom
                          </td>
                          <td>
                           <div class="col-sm-12">
                            +91 9123456789
                            </div>
                          </td>
                          <td>
                            demo@gmail.com
                          </td>
                          <td >

                            <select id="action" class="form-control">
                              <option value="pending">pending</option>
                              <option value="in progress"> in progress</option>
                              <option value="success">successfully done</option>
                            </select>
                          </td>
                          <td>
                           <div class="btn-group btn-group-xs">
                              <a href="#/viewlead" class="btn btn-primary" >View </a></button>
                               <a href="#/viewlead" class="btn btn-primary" >Convert To Tenant</a>
                           </div>
                          </td>
                        </tr>
                       <tr>
                         
                          <td>
                            <span class="property">
                              John Deo
                            </span>
                          </td>
                          <td>
                           1bhk,chinchwad,1bathroom
                          </td>
                          <td>
                           <div class="col-sm-12">
                            +91 9123456789
                            </div>
                          </td>
                          <td>
                            demo@gmail.com
                          </td>
                          <td >

                            <select id="action" class="form-control">
                              <option value="pending">pending</option>
                              <option value="in progress"> in progress</option>
                              <option value="success">successfully done</option>
                            </select>
                          </td>
                          <td>
                           <div class="btn-group btn-group-xs">
                              <a href="#/viewlead" class="btn btn-primary" >View </a></button>
                               <a href="#/viewlead" class="btn btn-primary" >Convert To Tenant</a>
                           </div>
                          </td>
                        </tr>
                         
                          <tr>
                         
                          <td>
                            <span class="property">
                              John Deo
                            </span>
                          </td>
                          <td>
                           1bhk,chinchwad,1bathroom
                          </td>
                          <td>
                           <div class="col-sm-12">
                            +91 9123456789
                            </div>
                          </td>
                          <td>
                            demo@gmail.com
                          </td>
                          <td >

                            <select id="action" class="form-control">
                              <option value="pending">pending</option>
                              <option value="in progress"> in progress</option>
                              <option value="success">successfully done</option>
                            </select>
                          </td>
                          <td>
                           <div class="btn-group btn-group-xs">
                              <a href="#/viewlead" class="btn btn-primary" >View </a></button>
                                <a href="#/viewlead" class="btn btn-primary" >Convert To Tenant</a>
                           </div>
                          </td>
                        </tr>
                      <tr>
                         
                          <td>
                            <span class="property">
                              John Deo
                            </span>
                          </td>
                          <td>
                           1bhk,chinchwad,1bathroom
                          </td>
                          <td>
                            
                           <div class="col-sm-12">
                            +91 9123456789
                            </div>
                            
                          </td>
                          <td>
                            demo@gmail.com
                          </td>
                          <td >

                            <select id="action" class="form-control">
                              <option value="pending">pending</option>
                              <option value="in progress"> in progress</option>
                              <option value="success">successfully done</option>
                            </select>
                          </td>
                          <td>
                            <div class="btn-group btn-group-xs">
                              <a href="#/viewlead" class="btn btn-primary" >View </a></button>
                               <a href="#/viewlead" class="btn btn-primary" >Convert To Tenant</a>
                           </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
             

           
           
          
                     

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead>
                  <tr>
                    <th style="width:10%">
                      <input type="checkbox" class="no-margin" />
                    </th>
                    <th style="width:70%">
                      Name
                    </th>
                    <th style="width:20%">
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Mahendra Singh Dhoni
                      </span>
                    </td>
                    <td>
                      <span class="label label-info">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Michel Clark
                      </span>
                    </td>
                    <td>
                      <span class="label label-success">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Rahul Dravid
                      </span>
                    </td>
                    <td>
                      <span class="label label-warning">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Anthony Michell
                      </span>
                    </td>
                    <td>
                      <span class="label label-info">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Srinu Baswa
                      </span>
                    </td>
                    <td>
                      <span class="label label-success">
                        New
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="b class="btn btn-primary" tn btn-success">
                    <i class="fa fa-headphones">
                    </i>
                  </a>
                  <a href="#" class="b class="btn btn-primary" tn btn-warning">
                    <i class="fa fa-thumbs-down">
                    </i>
                  </a>
                  <a href="#" class="b class="btn btn-primary" tn btn-danger">
                    <i class="fa fa-signal">
                    </i>
                  </a>
                  <a href="#" class="b class="btn btn-primary" tn btn-info">
                    <i class="fa fa-share">
                    </i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="b class="btn btn-primary" tn btn-default">
                    <i class="fa fa-leaf"></i>
                  </a>
                </div>
              </div>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead>
                  <tr>
                    <th style="width:10%">
                      <input type="checkbox" class="no-margin" />
                    </th>
                    <th style="width:70%">
                      Name
                    </th>
                    <th style="width:20%">
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="success">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Mahendra Singh Dhoni
                      </span>
                    </td>
                    <td>
                      <span class="label label-info">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr class="error">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Michel Clark
                      </span>
                    </td>
                    <td>
                      <span class="label label-success">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr class="success">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Rahul Dravid
                      </span>
                    </td>
                    <td>
                      <span class="label label-warning">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr class="warning">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Anthony Michell
                      </span>
                    </td>
                    <td>
                      <span class="label label-info">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr class="info">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Srinu Baswa
                      </span>
                    </td>
                    <td>
                      <span class="label label-success">
                        New
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>