
 <div class="container">
      <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" >Add New Branch</a>
            </li>
          </ul> -->
       <!--    <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Branch mger name and city ...">
            <i class="fa fa-search"></i>
          </div> -->
        </div>
        <!-- Sub Nav End -->

<div class="dashboard-wrapper-lg">
          
          <!-- Row starts -->
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="mini-widget">
                <div class="mini-widget-heading clearfix">
                  <div class="pull-left">Visitors</div>
                  <div class="pull-right"><i class="fa fa-angle-up"></i> 12.2<sup>%</sup></div>
                </div>
                <div class="mini-widget-body clearfix">
                  <div class="pull-left">
                    <i class="fa fa-globe"></i>
                  </div>
                  <div class="pull-right number">8757</div>
                </div>
<!--                 <div class="mini-widget-footer center-align-text">
                  <span>Better than last week</span>
                </div> -->
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="mini-widget">
                <div class="mini-widget-heading clearfix">
                  <div class="pull-left">Shares</div>
                  <div class="pull-right"><i class="fa fa-angle-up"></i> 18.3<sup>%</sup></div>
                </div>
                <div class="mini-widget-body clearfix">
                  <div class="pull-left">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <div class="pull-right number">3780</div>
                </div>
<!--                 <div class="mini-widget-footer center-align-text">
                  <span>Better than last week</span>
                </div> -->
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="mini-widget">
                <div class="mini-widget-heading clearfix">
                  <div class="pull-left">Downloads</div>
                  <div class="pull-right"><i class="fa fa-angle-down"></i> 21.9<sup>%</sup></div>
                </div>
                <div class="mini-widget-body clearfix">
                  <div class="pull-left">
                    <i class="fa fa-upload"></i>
                  </div>
                  <div class="pull-right number">12658</div>
                </div>
<!--                 <div class="mini-widget-footer center-align-text">
                  <span>Better than last week</span>
                </div> -->
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="mini-widget mini-widget-grey">
                <div class="mini-widget-heading clearfix">
                  <div class="pull-left">Signups</div>
                  <div class="pull-right"><i class="fa fa-angle-up"></i> 67.1<sup>%</sup></div>
                </div>
                <div class="mini-widget-body clearfix">
                  <div class="pull-left">
                    <i class="fa fa-coffee"></i>
                  </div>
                  <div class="pull-right number">1135</div>
                </div>
<!--                 <div class="mini-widget-footer center-align-text">
                  <span>Better than last week</span>
                </div> -->
              </div>
            </div>
          </div>
          <!-- Row ends -->

          <!-- Row Start -->
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="widget zoom-body">
                <div class="widget-header">
                  <a id="zoom-click"><i class="fa fa-caret-square-o-down pull-right" style="margin-top: 16px; cursor:pointer;"></i></a>
                  <div class="title">
                    Follow-up
                    <span class="mini-title">
                      Reminder
                    </span>
                  </div>
                </div>
                <div class="widget-body">
                  <div id="area-chart" class="chart-height-md">
                    <div class="panel-body">
                             <table class="table footable user-list table-condensed table-striped table-bordered table-hover no-margin" data-page-size="2" data-filter="#filter" data-filter-text-only="true">
                                        <thead>
                                          <tr>
                                           <th style="width:20%">
                                            Name
                                            </th>
                                            <th style="width:30%">
                                             Contact No
                                            </th>
                                            <th style="width:20%">
                                              Email Id
                                            </th>
                                            <th style="width:20%">
                                              Details
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="l in lead">

                                            <td>
                                               <span ng-bind="l.person_name"></span>
                                            </td>
                                             <td>
                                               <span ng-bind="l.contact_number"></span>
                                            </td>
                                            <td>
                                             <span ng-bind="l.email"></span>
                                            </td>
                                            <td>
                                              <button ng-click="showDetails(l.ID)" class="lead-btn"><i class="fa fa-eye"></i></button>
                                            </td>
                                            
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                              
                            <ul class="pagination pull-right hide-if-no-paging"></ul>
                          </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    Mobile vs Desktop
                  </div>
                </div>
                <div class="widget-body">
                  <div id="mobVsDesk" class="chart-height-md"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    Demography
                  </div>
                </div>
                <div class="widget-body">
                  <div id="mob-desktop" class="chart-height-md"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row End -->

          <!-- Row Start -->
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    Social Statistics
                  </div>
                </div>
                <div class="widget-body">
                  <div class="social-stats">
                    <!-- Row Starts -->
                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="social-icon facebook-bg">
                          <i class="fa fa-facebook fa-2x"></i>
                        </div>
                        <div class="stats-details">
                          <h3>8985</h3>
                          <h6 class="text-success">+ 21%</h6>
                          <h5>Likes</h5>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="social-icon twitter-bg">
                          <i class="fa fa-twitter fa-2x"></i>
                        </div>
                        <div class="stats-details">
                          <h3>4927</h3>
                          <h6 class="text-success">+ 15%</h6>
                          <h5>Tweets</h5>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="social-icon linkedin-bg">
                          <i class="fa fa-linkedin fa-2x"></i>
                        </div>
                        <div class="stats-details">
                          <h3>764</h3>
                          <h6 class="text-success">+ 11%</h6>
                          <h5>Connections</h5>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="social-icon gplus-bg">
                          <i class="fa fa-google-plus fa-2x"></i>
                        </div>
                        <div class="stats-details">
                          <h3>1278</h3>
                          <h6 class="text-warning">- 8%</h6>
                          <h5>Shares</h5>
                        </div>
                      </div>
                    </div>
                    <!-- Row Ends -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    Downloads
                  </div>
                </div>
                <div class="widget-body">
                  <div id="gg1" class="gauge chart-height-md"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row End -->

          <!-- Row Start -->
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    Monthly Revenue &amp; Growth
                    <span class="mini-title">
                      Sub title
                    </span>
                  </div>
                  <span class="tools">
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fa fa-cog"></i>
                    </a>
                  </span>
                </div>
                <div class="widget-body">
                  <div id="monthlyRevenueGrowth" class="chart-height-md"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    Monthly Expenses &amp; Cancellations
                  </div>
                  <span class="tools">
                    <a class="btn btn-danger btn-sm" href="#">
                      <i class="fa fa-cog"></i>
                    </a>
                  </span>
                </div>
                <div class="widget-body">
                  <div id="monthlyExpensesCancellations" class="chart-height-md"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row End -->

          <!-- Row Start -->
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    Project Activity
                  </div>
                </div>
                <div class="widget-body">
                  <ul class="project-activity">
                    <li class="activity-list warning">
                      <div class="detail-info">
                        <small class="text-muted">
                          9:30
                        </small>
                        <p class="message">
                          Meeting with Jason
                        </p>
                      </div>
                    </li>
                    <li class="activity-list info">
                      <div class="detail-info">
                        <small class="text-muted">
                          Mon, 9 Feb
                        </small>
                        <p class="message">
                          Created
                          <a class="text-info" href="#" data-original-title="" title="">
                            Task
                          </a>
                          for Willams.
                        </p>
                      </div>
                    </li>
                    <li class="activity-list success">
                      <div class="detail-info">
                        <small class="text-muted">
                          Fri, 13 Feb
                        </small>
                        <p class="message">
                          Show demo to team
                        </p>
                      </div>
                    </li>
                    <li class="activity-list">
                      <div class="detail-info">
                        <small class="text-muted">
                          Sun, 21 Feb
                        </small>
                        <p class="message">
                          Watch football
                          <a class="text-info" href="#" data-original-title="" title="">
                            Match
                          </a>
                          with Xoimi.
                        </p>
                      </div>
                    </li>
                    <li class="activity-list warning">
                      <div class="detail-info">
                        <small class="text-muted">
                          Wed, 25 Feb
                        </small>
                        <p class="message">
                          Launch new mobile <a class="text-warning" href="#" data-original-title="" title="">App</a>.
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    Chats
                  </div>
                </div>
                <div class="widget-body">
                  <ul class="messages-list clearfix">
                    <li>Are we meeting today?</li>
                    <li>Yes, what time suits you?</li>
                    <li>I was thinking after lunch, I have a meeting in the morning</li>
                    <li>Are we meeting today?</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <div class="widget">
                <div class="widget-header">
                  <div class="title">
                    Appointments
                  </div>
                </div>
                <div class="widget-body">
                  <!-- Row starts -->
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="bg-primary-light">
                        <div class="spacer-xs">
                          <h5 class="text-primary no-margin">Today</h5>
                          <h3 class="text-primary no-margin">Friday</h3>
                          <ul class="appointments">
                            <li>Meet Mr. John @ 9:30 AM</li>
                            <li>Interview call @ 11:00 PM</li>
                            <li>Send greetings to Sandy by 3:00 PM</li>
                            <li>Dinner with Sndy @ 8:00 PM</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                      <div id="datepicker"></div>
                    </div>
                  </div>
                  <!-- Row ends -->
                </div>
              </div>
            </div>
          </div>
          <!-- Row End -->

        </div>
        </div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.footable').footable();
    });

    $("#zoom-click").click(function(){
        $(".zoom-body").toggleClass( "bounce" );
    });
</script>