
      <div class="container">
              <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
       
       
        </div>
        <!-- Sub Nav End -->
        <!-- Row Start -->
        <div class="row">
          <div class="col-lg-4 col-md-4 col-md-offset-4">
            <div class="sign-in-container">
              <form  class="login-wrapper" method="post" name="login">
                <div class="header">
                  <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <h3>Login<img src="img/logo.png" alt="Logo" class="pull-right"></h3>
                      <p>Fill out the form below to login.</p>
                    </div>
                  </div>
                </div>
                <div class="content">
                  <div class="form-group">
                      <label for="username">Username</label>
                      <span ng-show="login.username.$dirty && login.username.$error.required" class="alert-danger pull-right"> Required!</span>
                      <input type="text" class="form-control " tabindex="1" id="username"  name="username" placeholder="username Address" ng-model="logininfo.username" required>
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                       <span ng-show="login.password.$dirty && login.password.$error.required" class="alert-danger pull-right"> Required!</span>
                      <input type="password" class="form-control " tabindex="2" id="password" name="password" placeholder="password" ng-model="logininfo.password" required >
                  </div>

                <div class="actions">
                    <button type="button" tabindex="3" class="btn btn-primary btn-lg btn-block" ng-disabled="login.$invalid" ng-click="SubmitLoginDetails(logininfo)">Login</button> 
                  <a class="link" href="#">Forgot Password?</a>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Row End -->
        
      </div>