 <div class="container">      
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
           <li><a href='#/ownerlist' class="heading"> Owner List</a></li>
          <li><a href='#/ownerregistration'> Owner Registration</a></li>
            <li class="hidden-sm hidden-xs">
           <li><a href='#/ownerprofile'>Owner Profile</a></li>
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Onwer name and city ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Branch Manager list
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>

                  <div class="widget-body">
                    <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                      <thead>
                        <tr>
                          <th style="width:5%">
                           sr.no
                          </th>
                          <th style="width:40%">
                           Owner Name
                          </th>
                          <th style="width:20%" class="hidden-xs">
                            City
                          </th>
                          <th style="width:10%" class="hidden-xs">
                            Contact
                          </th>
                          <th style="width:15%" class="hidden-xs">
                            View Owner
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td>
                            <span class="name">
                            1
                            </span>
                          </td>
                          <td>
                            <span class="name">
                               Vinod Deshpande
                            </span>
                          </td>
                          <td>
                           Pune
                          </td>
                          <td>
                            <span class="name">
                              9881380869
                            </span>
                          </td>
                          <td>
                           <div class="btn-group btn-group-xs">
                                <a href="#/ownerprofile" class="btn btn-primary">View Owner Profile</a>
                           </div>
                          </td>
                        </tr>
                         <tr>
                         <td>
                            <span class="name">
                            2
                            </span>
                          </td>
                          <td>
                            <span class="name">
                               Vinod Deshpande
                            </span>
                          </td>
                          <td>
                           Pune
                          </td>
                          <td>
                            <span class="name">
                              9881380869
                            </span>
                          </td>
                          <td>
                           <div class="btn-group btn-group-xs">
                                 <a href="#/ownerprofile" class="btn btn-primary">View Owner Profile</a>
                           </div>
                          </td>
                        </tr>
                         <tr>
                         <td>
                            <span class="name">
                            3
                            </span>
                          </td>
                          <td>
                            <span class="name">
                               Vinod Deshpande
                            </span>
                          </td>
                          <td>
                           Pune
                          </td>
                          <td>
                            <span class="name">
                              9881380869
                            </span>
                          </td>
                          <td>
                           <div class="btn-group btn-group-xs">
                                  <a href="#/ownerprofile" class="btn btn-primary">View Owner Profile</a>
                           </div>
                          </td>
                        </tr>
                         <tr>
                         <td>
                            <span class="name">
                            4
                            </span>
                          </td>
                          <td>
                            <span class="name">
                               Vinod Deshpande
                            </span>
                          </td>
                          <td>
                           Pune
                          </td>
                          <td>
                            <span class="name">
                              9881380869
                            </span>
                          </td>
                          <td>
                           <div class="btn-group btn-group-xs">
                                 <a href="#/ownerprofile" class="btn btn-primary">View Owner Profile</a>
                           </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead>
                  <tr>
                    <th style="width:10%">
                      <input type="checkbox" class="no-margin" />
                    </th>
                    <th style="width:70%">
                      Name
                    </th>
                    <th style="width:20%">
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                         Vinod Deshpande
                      </span>
                    </td>
                    <td>
                      <span class="label label-info">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Michel Clark
                      </span>
                    </td>
                    <td>
                      <span class="label label-success">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Rahul Dravid
                      </span>
                    </td>
                    <td>
                      <span class="label label-warning">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Anthony Michell
                      </span>
                    </td>
                    <td>
                      <span class="label label-info">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Srinu Baswa
                      </span>
                    </td>
                    <td>
                      <span class="label label-success">
                        New
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones">
                    </i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down">
                    </i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-signal">
                    </i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-share">
                    </i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-leaf"></i>
                  </a>
                </div>
              </div>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead>
                  <tr>
                    <th style="width:10%">
                      <input type="checkbox" class="no-margin" />
                    </th>
                    <th style="width:70%">
                      Name
                    </th>
                    <th style="width:20%">
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="success">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                         Vinod Deshpande
                      </span>
                    </td>
                    <td>
                      <span class="label label-info">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr class="error">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Michel Clark
                      </span>
                    </td>
                    <td>
                      <span class="label label-success">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr class="success">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Rahul Dravid
                      </span>
                    </td>
                    <td>
                      <span class="label label-warning">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr class="warning">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Anthony Michell
                      </span>
                    </td>
                    <td>
                      <span class="label label-info">
                        New
                      </span>
                    </td>
                  </tr>
                  <tr class="info">
                    <td>
                      <input type="checkbox" class="no-margin" />
                    </td>
                    <td>
                      <span class="name">
                        Srinu Baswa
                      </span>
                    </td>
                    <td>
                      <span class="label label-success">
                        New
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Right Sidebar End -->

        </div>
        <!-- Dashboard Wrapper End -->
</div>
       

  

   