  <div class="container">
            <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#/property" class="heading">Proprety Details</a></li>
          </ul>
        
        </div>
        <!-- Sub Nav End -->
  <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper-lg">
        
          <!-- Blog Container Start -->
          <div class="blog-container">
                 <!-- Row Start -->
                <div class="row">
                {{propertyDetails.PropertyDetail}}
                  <div class="col-md-5">
                    
                    <!-- Blog One Starts -->
                    <div class="blog-wrapper">
                      <!-- slider  -->
                       <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
                        <!-- Loading Screen -->
                        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                        <div style="position:absolute;display:block;background:url('img/slider/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                        </div>
                        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">
                        <div data-p="144.50" style="display: none;">
                        <img data-u="image" src="img/slider/01.jpg" />
                        <img data-u="thumb" src="img/slider/thumb-01.jpg" />
                        </div>
                        <div data-p="144.50" style="display: none;">
                        <img data-u="image" src="img/slider/02.jpg" />
                        <img data-u="thumb" src="img/slider/thumb-02.jpg" />
                        </div>
                        <div data-p="144.50" style="display: none;">
                        <img data-u="image" src="img/slider/03.jpg" />
                        <img data-u="thumb" src="img/slider/thumb-03.jpg" />
                        </div>
                        <div data-p="144.50" style="display: none;">
                        <img data-u="image" src="img/slider/04.jpg" />
                        <img data-u="thumb" src="img/slider/thumb-04.jpg" />
                        </div>
                        </div>
                        <!-- Thumbnail Navigator -->
                        <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
                        <!-- Thumbnail Item Skin Begin -->
                        <div data-u="slides" style="cursor: default;">
                        <div data-u="prototype" class="p">
                        <div class="w">
                        <div data-u="thumbnailtemplate" class="t"></div>
                        </div>
                        <div class="c"></div>
                        </div>
                        </div>
                        <!-- Thumbnail Item Skin End -->
                        </div>
                        <!-- Arrow Navigator -->
                        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
                        <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
                        </div>
                     
                    </div>
                    <!-- Blog One Ends -->

                 

                  </div>
                   <div class="col-md-7 ">
                        <form class="form-horizontal">
                          <h3>Property Detatils &nbsp;&nbsp;&nbsp;<kbd>10,000/Month</kbd></h3>
                          <hr>
                            <div class="col-md-3 ">
                                <div class="form-group">
                                  <label for="name" class="col-sm-4">Bedrooms:</label>
                                  <div class="col-sm-8">
                                   2 
                                  </div>
                                </div>
                                 <div class="form-group">
                                  <label for="name" class="col-sm-4">Bathrooms:</label>
                                  <div class="col-sm-8">
                                   1
                                 </div>
                          </div>
                              
                            </div>
                            <div class="col-md-3 ">
                                  <div class="form-group">
                                    <label for="name" class="col-sm-4">Size:</label>
                                    <div class="col-sm-8">
                                     700
                                    </div>
                                  </div><div class="form-group">
                                    <label for="name" class="col-sm-4">Heating</label>
                                    <div class="col-sm-8">
                                     yes
                                    </div>
                                  </div>
                              
                            </div>
                           
                      
                          
                         </form>
                      </div>
<!-- 
                  <div class="col-md-6">
                 
                    <div class="blog-wrapper">
                      <div class="blog-body">
                     <p> A stored procedure is a group of SQL statements that form a logical unit and perform a particular task, and they are used to encapsulate a set of operations or queries to execute on a database server.</p>
                        
                      </div>
                    </div>
                    
                   </div> -->



                </div>
                <!-- Row Ends -->


          </div>
          <!-- Blog Container End -->

        </div>
        <!-- Dashboard Wrapper End -->
        </div>
<script>
jssor_1_slider_init();
</script>