   <div class="container">
          <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
         <!--  <ul>
            <li><a href="#/branch" class="heading">Branch List</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addbranch" class="selected">Add New Branch</a>
            </li>
          </ul> -->
       
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="staffController">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Add staff
                    </div>
                  </div>
                  <div class="widget-body">
                    <form  ng-app="addlead" enctype ="multipart/form-data" action="/api/staff" method="post" name="form" class="form-horizontal no-margin" novalidate>

                       <div class="form-group">
                        <label for="staffPhoto" class="col-sm-2 control-label">Staff photo</label>
                        <div class="col-sm-8">
                          <div class="col-sm-5">

                          <input type="file" 
                          name="staffPhoto"  
                          accept="image/*" 
                          image="photo_image"  
                          resize-max-height="150"
                          resize-max-width="100"
                          resize-quality="0.7"
                          class="form-control"
                           id="imgInp"/>

                          </div>
                          <div class="col-sm-3">
                           <img ng-show="photo_image" ng-src="{{photo_image.resized.dataURL}}">
                              <input type="submit" value="Upload Image" class="btn btn-xs btn-primary" name="submit">
                          </div>




                          <!-- <div class="col-sm-5">
                             <input type="file" accept="image/*" image="photo_image" class="form-control"
                              resize-max-height="150"
                              resize-max-width="100"
                              resize-quality="0.7" />
                          </div>
                          <div class="col-sm-3">
                             <img ng-show="photo_image" ng-src="{{photo_image.resized.dataURL}}" />
                          </div> -->
                            
                        </div>
                      </div>                    
                      <div class="form-group">
                        <label for="staff_name" class="col-sm-2 control-label">Staff Member Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="staff_name" placeholder="Name" ng-model="staffForm.name" name="staff_name" ng-minlength="3" ng-maxlength="20" required/>
                        </div>
                          <span ng-show="form.staff_name.$dirty && form.staff_name.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.staff_name.$dirty && form.staff_name.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.staff_name.$dirty && form.staff_name.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                       <div class="form-group">
                        <label for="assigned_branch" class="col-sm-2 control-label">
                        Assign Branch Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                         <select id="assigned_branch" class="form-control"  ng-model="staffForm.assigned_branch" name="assi_branch" required>
                              <option value="" selected>
                                  Select
                               </option>
                               <option value="Pune">
                                  Pune
                                </option>
                                <option value="Chinchwad">
                                 Chinchwad
                                </option>
                          </select>
                        </div>
                          <span ng-show="form.assi_branch.$error.required" class="alert-danger">! Select Assign Branch Name</span>
                      </div>

                       <div class="form-group">
                        <label for="Assigned_Bname" class="col-sm-2 control-label">
                        Assign Designation<span class="mand">*</span></label>
                        <div class="col-sm-8 ">
                         <select id="branch" class="form-control" placeholder="Select Assi" ng-model="staffForm.assigned_desination" name="assi_designation" required>
                                 <option value="" selected>
                                  Select
                                </option>
                                <option value="relation manager">
                                  relation manager
                                </option>
                                <option value="help desk">
                                  help desk
                                </option>
                                <option value="collection officer">
                                 collection officer
                                </option>
                           </select>
                        </div>
                             <span ng-show="form.assi_designation.$error.required" class="alert-danger">! Select Assign Designation</span>
                      </div>

                       <div class="form-group">
                        <label for="permanent_address" class="col-sm-2 control-label">Permanent Address<span class="mand">*</span></label>
                        <div class="col-sm-8">
                           <textarea class="form-control" rows="5" id="permanent_address" placeholder="permanent address"  ng-model="staffForm.address" name="permanent_address" ng-minlength="3" ng-maxlength="200" required/></textarea>
                        </div>
                         <span ng-show="form.permanent_address.$dirty && form.permanent_address.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.permanent_address.$dirty && form.permanent_address.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.permanent_address.$dirty && form.permanent_address.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                        <div class="form-group">
                        <label for="residential_address" class="col-sm-2 control-label">Residential Address<span class="mand">*</span></label>
                        <div class="col-sm-8">
                           <textarea class="form-control" rows="5" id="address" placeholder="residential address"  ng-model="staffForm.permanent_address" name="residential_address" ng-minlength="3" ng-maxlength="200" required/></textarea>
                        </div>
                         <span ng-show="form.residential_address.$dirty && form.residential_address.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.residential_address.$dirty && form.residential_address.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.residential_address.$dirty && form.residential_address.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                       <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State<span class="mand">*</span> </label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="state" class="form-control" ng-model="staffForm.state" name="state" required>
                                <option value="" selected>
                                  Select State
                                </option>
                                <option value="Maharashtra">
                                  Maharashtra
                                </option>
                                <option value="Manipur">
                                  Manipur
                                </option>
                                <option value="Punjab">
                                  Punjab
                                </option>
                                <option value="Jharkhand">
                                  Jharkhand
                                </option>
                                <option value="jammu and Kashmir">
                                  Jammu and Kashmir
                                </option>
                                <option value="Uttar Pradesh">
                                  Uttar Pradesh 
                                </option> 
                              </select>
                            </div>
                              <span ng-show="form.state.$error.required" class="alert-danger">! Select State</span>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City<span class="mand">*</span></label>
                        <div class="col-sm-10">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="city" class="form-control" ng-model="staffForm.city" name="city" required>
                                <option value="" selected>
                                  Select City
                                </option>
                                <option value="Pune">
                                  Pune
                                </option>
                                <option value="Nagpur">
                                  Nagpur
                                </option>
                                <option value="Thane">
                                  Thane
                                </option>
                                <option value="Nashik">
                                  Nashik
                                </option>
                                <option value="Pimpri Chinchwad">
                                  Pimpri Chinchwad
                                </option>
                                <option value="Kalyan-Dombivali">
                                  Kalyan-Dombivali
                                </option>
                              </select>
                            </div>
                            <span ng-show="form.city.$error.required" class="alert-danger">! Select City</span>
                          </div>
                        </div>
                      </div>

                       <div class="form-group">
                        <label for="zipcode" class="col-sm-2 control-label">Zip Code<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="zipcode" placeholder="Zip Code" ng-model="staffForm.zipcode"name="zipcode" ng-minlength="6" ng-maxlength="6" ui-mask="999999"  ui-mask-placeholder ui-mask-placeholder-char="_" required>
                        </div>
                         <span ng-show="form.zipcode.$dirty && form.zipcode.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.zipcode.$dirty && form.zipcode.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.zipcode.$dirty && form.zipcode.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                      <div class="form-group">
                        <label for="contact_no" class="col-sm-2 control-label">Mobile No</label>
                        <div class="col-sm-8">
                       <!--  <input type="text" ng-model="phonenumber" ui-mask="9999999999"  ui-mask-placeholder ui-mask-placeholder-char="_"/> -->
                          <input type="text" class="form-control" id="contact_no" placeholder="Contact No" ng-model="staffForm.contact" name="contact_no" ng-minlength="10" ng-maxlength="12" 
                           ui-mask="9999999999"  ui-mask-placeholder ui-mask-placeholder-char="_" required/>
                        </div>
                           <span ng-show="form.contact_no.$dirty && form.contact_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.contact_no.$dirty && form.contact_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.contact_no.$dirty && form.contact_no.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                      <div class="form-group">
                        <label for="landline_no" class="col-sm-2 control-label">Landline No</label>
                        <div class="col-sm-8">
                         <input type="test" class="form-control" id="landline_no" placeholder="Landline No" ng-model="staffForm.landline_no" name="landline_no"  ui-mask="999 9999999?9"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-minlength="10" ng-maxlength="15" />
                        </div>
                           <span ng-show="form.landline_no.$dirty && form.landline_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.landline_no.$dirty && form.landline_no.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>

                       <div class="form-group">
                        <label for="emailid" class="col-sm-2 control-label">Email Id</label>
                        <div class="col-sm-8">
                          <input type="email" class="form-control" id="emailid" placeholder="Email Id" ng-model="staffForm.email" name="email">
                        </div>
                       <span ng-show="form.email.$dirty && form.email.$error.email" class="alert-danger"> not an email!</span>
                      </div>

                        <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-8">
                           <textarea class="form-control" rows="5" id="comment"  placeholder="comment"  name="comment"  ng-model="staffForm.comment"  ng-maxlength="200" ></textarea>
                        </div>
                          <span ng-show="form.comment.$dirty && form.comment.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div>
                     
                      
                       <div class="form-group">
                        <label for="Assigned_Bname" class="col-sm-2 control-label">
                        Address Proof<span class="mand">*</span></label>
                        <div class="col-sm-3 ">
                         <select id="address_proof" class="form-control" placeholder="Select Assi" ng-model="staffForm.address_proof_list" name="address_proof" required>
                                 <option value="" selected>
                                  Select
                                </option>
                                <option value=" adhar card">
                                  adhar card
                                </option>
                                <option value="driving license">
                                  driving license
                                </option>
                                <option value="passport">
                                 passport
                                </option>
                                <option value="voting card">
                                voting card
                                </option>
                                  <option value="Bank Passbook">
                                 Bank  Passbook
                                </option>
                                 <option value="Electricity Bill ">
                                  Electricity Bill 
                                </option>
                           </select>
                        </div>
                         <div class="col-sm-3 ">
                         <input type="file" 
                          name="idprof_1"  
                          accept="image/*" 
                          image="idprof_1_image"  
                          resize-max-height="150"
                          resize-max-width="100"
                          resize-quality="0.7"
                          class="form-control"
                           id="imgInp"/>
                         </div>
                         <div class="col-sm-3 ">
                            <img ng-show="idprof_1_image" ng-src="{{idprof_1_image.resized.dataURL}}">
                              <input type="submit" value="Upload Image" class="btn btn-xs btn-primary" name="submit">
                         </div>
                     
                        </div>

                          <div class="form-group">
                        <label for="Assigned_Bname" class="col-sm-2 control-label">
                        ID Proof<span class="mand">*</span></label>
                        <div class="col-sm-3 ">
                         <select id="id_proof_list" class="form-control" placeholder="Select id proof" ng-model="staffForm.id_proof_list" name="id_proof_list" required>
                                 <option value="" selected>
                                  Select
                                </option>
                                <option value=" adhar card">
                                  adhar card
                                </option>
                                <option value="driving license">
                                  driving license
                                </option>
                                <option value="passport">
                                 passport
                                </option>
                                <option value="voting card">
                                voting card
                                </option>
                                  <option value="Bank Passbook">
                                 Bank  Passbook
                                </option>
                                 <option value="Electricity Bill ">
                                  Electricity Bill 
                                </option>
                           </select>
                        </div>
                         <div class="col-sm-3 ">
                          <input type="file" 
                          name="idprof_2"  
                          accept="image/*" 
                          image="idprof_2_image"  
                          resize-max-height="150"
                          resize-max-width="100"
                          resize-quality="0.7"
                          class="form-control"
                           id="imgInp"/>
                         </div>
                         <div class="col-sm-3 ">
                           <img ng-show="idprof_2_image" ng-src="{{idprof_2_image.resized.dataURL}}">
                              <input type="submit" value="Upload Image" class="btn btn-xs btn-primary" name="submit">
                         </div>

                        </div>
                     
                       
                      
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                          <button type="button" class="btn btn-info btn-block" ng-disabled="form.$invalid" ng-click="addStaff()">Add Staff Member</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
       </div>

   <script type="text/javascript">
      $("#status").on("change", function () {        
      $modal = $('#myModal');
      if($(this).val() === 'close'){
        $modal.modal('show');
          }
       });

       function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#imgInp").change(function(){
        readURL(this);
    });
    </script>