 <style type="text/css">
     .btn_f {
    margin: -10px 0 !important;
      }
     .form-control {
    height: 31px;
} 
 </style>
 <div class="dashboard-wrapper" >
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Staff Details
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                          <img alt="300x200" src="img/profile.png">
                          <br>
                          <h4 class="center-align-text">Staff Name</h4>
                          <p class="center-align-text">
                            1bhk,chinchwad,1bathroom 
                          </p>
                          <!-- <p class="btn-stack center-align-text">
                            <a href="javascript:;" class="btn btn-info">
                              <i class="fa fa-twitter"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-primary">
                              <i class="fa fa-facebook"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-danger">
                              <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-success">
                              <i class="fa fa-pinterest"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-warning">
                              <i class="fa fa-youtube"></i>
                            </a>
                          </p> {"visitor_name":"errgr","contact_no":"43343","lead_type":"1","max_rent":0,"id":1}-->
                        </div>
                        <br>
                      </div>
                      <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <div class="panel panel-info ">
                          <div class="panel-heading">
                          <button type="button" ng-click="toggle()" class="btn btn_f btn-info pull-right"> Edit/Show Employee Info </button>
                            <h4 class="panel-title"><a>Employee Info.</a></h4>




                          </div>
                          <div class="panel-body"  ng-show="myVar" >
                            <table class="table table-striped">
                               
                                  <tbody>
                                    <tr>
                                      <td class="col-sm-3"><b>Employee Name:</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.name"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Assign Branch Name</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.assigned_branch"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Assign Designation</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.assigned_desination"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Local Address</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.address"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Residential Address</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.permanent_address"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>State</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.state"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>City</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.city"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Zip Code</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.zipcode"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Mobile No</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.contact"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Landline No</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.landline_no"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Email Id</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.email"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Comment</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.comment"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Address Prof List</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.address_proof_list"></span></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>ID Prof List</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.id_proof_list"></span></td>
                                    </tr>
                                   <!--   <tr>
                                      <td class="col-sm-3"><b>User ID</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.user_id"></span></td>
                                    </tr> -->
                                 <!--     <tr>
                                      <td class="col-sm-3"><b>User Password</b></td>
                                      <td class="col-sm-8"><span ng-bind="member.memberDetails.user_pass"></span></td>
                                    </tr> -->
                                  </tbody>
                                </table>
                           </div>
                       
                           <div class="panel-body" ng-show="myPar" >

                               <table class="table table-striped">
                                <form name="myForm" class="form-horizontal no-margin">
                               
                                  <tbody>
                                    <tr>
                                      <td class="col-sm-3"><b>Employee Name:</b></td>
                                      <td class="col-sm-5">  <input type="text" class="form-control"  ng-model="member.memberDetails.name" name="person_name"></td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Assign Branch Name</b></td>
                                      <td class="col-sm-8"> 
                                       <select id="assigned_branch" class="form-control"  ng-model="member.memberDetails.assigned_branch" name="assi_branch" required>
                                              <option value="" selected>
                                                  Select
                                               </option>
                                               <option value="Pune">
                                                  Pune
                                                </option>
                                                <option value="Chinchwad">
                                                 Chinchwad
                                                </option>
                                       </select>
                                     </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Assign Designation</b></td>
                                      <td class="col-sm-4">
                                             <select id="branch" class="form-control col-sm-4" placeholder="Select Assi" ng-model="member.memberDetails.assigned_desination" name="assi_designation" required>
                                                   <option value="" selected>
                                                    Select
                                                  </option>
                                                  <option value="relation manager">
                                                    relation manager
                                                  </option>
                                                  <option value="help desk">
                                                    help desk
                                                  </option>
                                                  <option value="collection officer">
                                                   collection officer
                                                  </option>
                                             </select>
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Permanent Address</b></td>
                                      <td class="col-sm-8">
                                        <textarea class="form-control" rows="2" id="permanent_address" placeholder="permanent address"  ng-model="member.memberDetails.address" name="permanent_address" ng-minlength="3" ng-maxlength="200" required/></textarea>
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Residential Address</b></td>
                                      <td class="col-sm-8">
                                         <textarea class="form-control" rows="2" id="address" placeholder="residential address"  ng-model="member.memberDetails.permanent_address" name="residential_address" ng-minlength="3" ng-maxlength="200" required/></textarea>
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>State</b></td>
                                      <td class="col-sm-8">
                                         <select id="state" class="form-control" ng-model="member.memberDetails.state" name="state" required>
                                            <option value="" selected>
                                              Select State
                                            </option>
                                            <option value="Maharashtra">
                                              Maharashtra
                                            </option>
                                            <option value=" Manipur">
                                              Manipur
                                            </option>
                                            <option value="Punjab">
                                              Punjab
                                            </option>
                                            <option value="Jharkhand">
                                              Jharkhand
                                            </option>
                                            <option value="Jammu and Kashmir">
                                              Jammu and Kashmir
                                            </option>
                                            <option value="Uttar Pradesh">
                                              Uttar Pradesh 
                                            </option> 
                                          </select>
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>City</b></td>
                                      <td class="col-sm-8">
                                         <select id="city" class="form-control" ng-model="member.memberDetails.city" name="city" required>
                                            <option value="" selected>
                                              Select City
                                            </option>
                                            <option value="Pune">
                                              Pune
                                            </option>
                                            <option value="Nagpur">
                                              Nagpur
                                            </option>
                                            <option value="Thane">
                                              Thane
                                            </option>
                                            <option value="Nashik">
                                              Nashik
                                            </option>
                                            <option value="Pimpri Chinchwad">
                                              Pimpri Chinchwad
                                            </option>
                                            <option value="Kalyan-Dombivali">
                                              Kalyan-Dombivali
                                            </option>
                                          </select>
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Zip Code</b></td>
                                      <td class="col-sm-8">
                                         <input type="text" class="form-control" id="zipcode" placeholder="Zip Code" ng-model="member.memberDetails.zipcode"name="zipcode" ng-minlength="6" ng-maxlength="6" ui-mask="999999"  ui-mask-placeholder ui-mask-placeholder-char="_" required>
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Mobile No</b></td>
                                      <td class="col-sm-8">
                                        <input type="text" class="form-control" id="contact_no" placeholder="Contact No" ng-model="member.memberDetails.contact" name="contact_no" ng-minlength="10" ng-maxlength="12" ui-mask="9999999999"  ui-mask-placeholder ui-mask-placeholder-char="_" required/>
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Landline No</b></td>
                                      <td class="col-sm-8">
                                        <input type="test" class="form-control" id="landline_no" placeholder="Landline No" ng-model="member.memberDetails.landline_no" name="landline_no"  ui-mask="999 9999999?9"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-minlength="10" ng-maxlength="15" />
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Email Id</b></td>
                                      <td class="col-sm-8">
                                      <input type="email" class="form-control" id="emailid" placeholder="Email Id" ng-model="member.memberDetails.email" name="email">
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Comment</b></td>
                                      <td class="col-sm-8">
                                         <textarea class="form-control" rows="2" id="comment"  placeholder="comment"  name="comment"  ng-model="member.memberDetails.comment"  ng-maxlength="200" ></textarea>
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>Address Prof List</b></td>
                                      <td class="col-sm-8">
                                              <select id="address_proof1" class="form-control" placeholder="Select Assi" ng-model="member.memberDetails.address_proof_list" name="address_proof1" required>
                                                   <option value="" selected>
                                                    Select
                                                  </option>
                                                  <option value=" adhar card">
                                                    adhar card
                                                  </option>
                                                  <option value="driving license">
                                                    driving license
                                                  </option>
                                                  <option value="passport">
                                                   passport
                                                  </option>
                                                  <option value="voting card">
                                                  voting card
                                                  </option>
                                                    <option value="Bank Passbook">
                                                   Bank  Passbook
                                                  </option>
                                                   <option value="Electricity Bill ">
                                                    Electricity Bill 
                                                  </option>
                                             </select>
                                      </td>
                                    </tr>
                                     <tr>
                                      <td class="col-sm-3"><b>ID Prof List</b></td>
                                      <td class="col-sm-8">
                                           <select id="address_proof2" class="form-control" placeholder="Select Assi" ng-model="member.memberDetails.id_proof_list" name="address_proof2" required>
                                                 <option value="" selected>
                                                  Select
                                                </option>
                                                <option value="adhar card">
                                                  adhar card
                                                </option>
                                                <option value="driving license">
                                                  driving license
                                                </option>
                                                <option value="passport">
                                                 passport
                                                </option>
                                                <option value="voting card">
                                                voting card
                                                </option>
                                                  <option value="Bank Passbook">
                                                 Bank  Passbook
                                                </option>
                                                 <option value="Electricity Bill ">
                                                  Electricity Bill 
                                                </option>
                                           </select>
                                      </td>
                                    </tr>
                                    <!-- <tr>
                                      <td class="col-sm-3"><b>User ID</b></td>
                                      <td class="col-sm-8">
                                    <span ng-bind="member.memberDetails.user_id"></span>
                                      </td>
                                    </tr> -->
                                <!--     <tr>
                                      <td class="col-sm-3"><b>User Password</b></td>
                                      <td class="col-sm-8">
                                      <span ng-bind="member.memberDetails.user_pass">
                                      </td>
                                    </tr> -->
                                     <tr>
                                      <td class="col-sm-3"></td>
                                      <td class="col-sm-8">
                                        <a class="btn btn-info form-control" ng-disabled="myForm.$invalid" ng-click="member.addStaffUpdata()">Save</a>
                                      </td>
                                    </tr>

                                  </tbody>
                                
                                 </form> 
                                </table>

                           </div> 

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->
                        

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <div class="list-group no-margin">
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-facebook fa-3x text-facebook"></i>
                  </span>
                  <h4 class="list-group-item-heading">2,239</h4>
                  <p class="list-group-item-text">Shares</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-twitter fa-3x text-twitter"></i>
                  </span>
                  <h4 class="list-group-item-heading">7,689</h4>
                  <p class="list-group-item-text">Tweets</p>
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-envelope fa-3x text-success"></i>
                  </span>
                  <h4 class="list-group-item-heading">1,532</h4>
                  <p class="list-group-item-text">Mails</p>      
                </a>
                <a href="javascript:;" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-user fa-3x text-warning"></i>
                  </span>
                  <h4 class="list-group-item-heading">8710</h4>
                  <p class="list-group-item-text">Users</p>      
                </a>
              </div>
            </div>
            
            <hr>
            
            <div class="wrapper">
              <ul class="month-income">
                <li>
                  <span class="icon-block blue-block">
                    <i class="fa fa-html5 fa-lg"></i>
                  </span>
                  <h5>
                    @srinubasava 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    10 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block orange-block">
                    <i class="fa fa-apple fa-lg"></i>
                  </span>
                  <h5>
                    @prempillai 
                    <small class="info-fade">
                      Sr. Developer
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block green-block">
                    <i class="fa fa-github fa-lg"></i>
                  </span>
                  <h5>
                    @arjunurs 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    14 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block red-block">
                    <i class="fa fa-xing fa-lg"></i>
                  </span>
                  <h5>
                    @gajjugujju 
                    <small class="info-fade">
                      Team Leader
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block yellow-block">
                    <i class="fa fa-css3 fa-lg"></i>
                  </span>
                  <h5>
                    @boomer 
                    <small class="info-fade">
                      Business
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
              </ul>
            </div>

          </div>
          <!-- Right Sidebar End -->

        </div>