<style>
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
    .addcllabel{
        float: right;
        margin-top: -1%;
    }
</style>
<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size:20px;margin-left:17px;color:#f1f1f1;">
                Agreement
            </div>
        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->
    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 15%;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                          <h4 class="panel-title">Make Agreement Option</h4>
                          <label for="Select_Property" class="col-sm-1 control-label addcllabel"><a href="#/tenant_details">Add Client</a></label>
                        </div>

                      
  <div class="panel-body">
    <form name="agreement_form" class="form-horizontal no-margin" novalidate>
    	<div class="form-group">
    		<div class="col-sm-12">
              <div class="row"><label class="col-sm-1 control-label">Select Property<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <!-- <input type="text" name="property" class="form-control" ng-model="datap" ng-click="showpropertydrp()" required>
                  <span style="color:red" ng-show="agreement_form.property.$dirty && agreement_form.property.$invalid">
                  <span ng-show="agreement_form.property.$error.required">Property is required.</span>
                  </span> -->
                  <input type="text" class="form-control" ng-model="datap" ng-click="showpropertydrp()">
                </div>
                <label class="col-sm-1 control-label">Select Tenant(Client)<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <!-- <input type="text" class="form-control" ng-click="showselecttenant()" placeholder="select tenant"> -->
                  <select class="form-control" id="ten-opt" ng-model="TenantDetail" required>
                    <option ng-value="Select" selected>
                        Select Tenant (Client)
                    </option>
                    <option ng-value="Tenant1">
                        Tenant1
                    </option>
                    <option ng-value="Tenant2">
                        Tenant2
                    </option>
                  </select>
                  <button ng-click="addTenant()">Add Tenant</button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <table id="tab" class="table">
                    <thead>
                        <tr><th>Tenant Name</th><th colspan="2">Options</th></tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ten in tenant">
                        <td>{{ten.tenantnm}}</td><td><button ng-click="del($index)">Delete</button></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
               </div>
            </div>
        </div>
        <div class="form-group">
    		<div class="col-sm-12">
              <div class="row"><label for="Select_Property" class="col-sm-1 control-label">Deposit<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" class="form-control" ng-model="no" numbers-only required>
                </div>
                <label class="col-sm-1 control-label">Monthly / Depleting</label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <input class="form-check-input" type="radio" name="mondep">Monthly
                  <input class="form-check-input" type="radio" name="mondep">Depleting
                </div>
                <label for="Select_Property" class="col-sm-1 control-label">Month<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" name="month" class="form-control" ng-model="noofmonth" required>
                  <span style="color:red" ng-show="agreement_form.month.$dirty && agreement_form.month.$invalid">
                  <span ng-show="agreement_form.month.$error.required">Month is required.</span>
                  </span>
                </div>
              </div>
        </div>
        </div>
        <div class="form-group">
    		<div class="col-sm-12">
              <div class="row"><label class="col-sm-1 control-label">Start From<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="date" id="startdt" class="form-control" ng-model="startdate" ng-change="setagreementenddt(startdate,noofmonth)" required>
                </div>
                <label class="col-sm-1 control-label">End Date<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" class="form-control" ng-model="enddate" ng-click="getdate(noofmonth)" required>
                </div>
                <label class="col-sm-1 control-label">Rent Due Date</label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="date" class="form-control">
                </div>
              </div>
        </div>
        </div>
        <div class="form-group">
    		<div class="col-sm-12">
              <div class="row"><label for="Select_Property" class="col-sm-1 control-label">Month</label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <input class="form-check-input" type="radio" name="afterbefore">After Month
                  <input class="form-check-input" type="radio" name="afterbefore">Before Month
	              </select>
                </div>
                <label for="Select_Tenant" class="col-sm-1 control-label">Amenity List<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <select class="form-control" required>
	                  <option value="" selected>
	                      Select Amenity List
	                  </option>
	                  <option value="Amenity1">
	                      Amenity1
	                  </option>
	                  <option value="Amenity2">
	                      Amenity2
	                  </option>
	              </select>
                </div>
               </div>
            </div>
        </div>
        <div class="form-group">
    		<div class="col-sm-12">
              <div class="row"><label for="Select_Property" class="col-sm-1 control-label">Payment Details<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <input class="form-check-input" type="radio" name="Payment_Details" ng-value="true" ng-model="showHideTest"> Cheque
                  <input class="form-check-input" type="radio" name="Payment_Details" ng-value="false" ng-model="showHideTest"> Cash
                </div>
               </div>
            </div>
        </div>
        <div class="form-group">
    		<div class="col-sm-12">
              <div class="row">
                <label for="Select_Tenant" class="col-sm-1 control-label">Amount<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <input type="text" class="form-control" required>
                </div>
                <label for="Select_Tenant" class="col-sm-1 control-label" ng-show="showHideTest">Bank<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3" ng-show="showHideTest">
                  <select class="form-control" required>
	                  <option value="" selected>
	                      Select Bank
	                  </option>
	                  <option value="Bank1">
	                      Bank1
	                  </option>
	                  <option value="Bank2">
	                      Bank2
	                  </option>
	              </select>
                </div>
                <label for="Select_Property" class="col-sm-1 control-label" ng-show="showHideTest">Branch<span class="mand">*</span></label>
                <div class="col-md-3 col-sm-3 col-xs-3" ng-show="showHideTest">
                  <select class="form-control" required>
	                  <option value="" selected>
	                      Select Branch
	                  </option>
	                  <option value="Branch1">
	                      Branch1
	                  </option>
	                  <option value="Branch2">
	                      Branch2
	                  </option>
	              </select>
                </div>
              </div>
            </div>
        </div>
        <div class="form-group">
      		<div class="col-sm-12">
                <div class="row" ng-show="showHideTest"><label class="col-sm-1 control-label">Cheque Date<span class="mand">*</span></label>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="date" class="form-control" required>
                  </div>
                  <label for="Select_Property" class="col-sm-1 control-label">Cheque No<span class="mand">*</span></label>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="text" class="form-control" required>
                  </div>
                </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
          	  <div class="col-sm-2">
                <a class="btn btn-info form-control" ng-click="#">Edit</a>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="pure-button pure-button-primary btn btn-info form-control" ng-disabled="agreement_form.$invalid" ng-click="addproject()">Save</button>
              </div>
          </div>
        </div>
       </div>
      </form>
     </div>
    <!-- edit end -->
    </div>
   </div>
   <!-- owner regin -->
  </div>
 </div>
</div>
<!-- Row End -->
</div>
