<style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
  .ngdialog.ngdialog-theme-default.ngdialog-theme-default1 .ngdialog-content {
  
    z-index: 10000;
    width: auto!important;
    margin-top: auto!important;
    height: auto!important;
    position: absolute;
    margin-left: -27%;
  }
.ngdialog.ngdialog-theme-default1 .ngdialog-content {
    padding: 45px!important;
    font-size: 20px!important;
}

  .ngdialog.ngdialog-theme-default1 {
    padding-bottom: 160px;
    padding-top: 160px;
    padding-left: 510px;
    padding-right: 586px;
}
</style>
<div class="container" >
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size:20px;margin-left:17px;color:#f1f1f1;">
                Select Property
            </div>
        </div>
    </div>
  <div class="panel-body">
    <form name="agreement_form" class="form-horizontal no-margin">
    <div class="form-group">
    <div class="row">
    	<div class="col-sm-12">
        <div class="col-sm-6">
          <label>Select Project</label>
           <select class="form-control" ng-options="pro as pro.project_name for pro in allprojects track by pro.ID" ng-model="project" ng-change="changepro(project)"></select>
        </div>
        <div class="col-sm-6">
        <label>Select Phase</label>
        <select class="form-control" ng-options="phases as phases.name for phases in allphases track by phases.id" ng-model="phase" ng-change="changephase(phase)"></select>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-6">
          <label>Select Building</label>
          <select class="form-control" ng-options="buildings as buildings.name for buildings in allbuilding track by buildings.id" ng-model="building" ng-change="changebuilding(building)"></select>
        </div>
        <div class="col-sm-6">
          <label>Select Wing</label>
          <select class="form-control" ng-options="wings as wings.name for wings in allwing track by wings.id" ng-model="wing" ng-change="changewing(wing)"></select>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-6">
          <label>Select Flat</label>
          <select class="form-control" ng-options="flats as flats.number for flats in allflat track by flats.id" ng-model="flats" ng-change="changeflats(flats)"></select>
        </div>
      </div>
        
    </div>
  </div>
        
  <div class="form-group">
    <div class="col-sm-8">
    	  <div class="col-sm-4">
          <button type="submit" class="pure-button pure-button-primary btn btn-info form-control" ng-disabled="myForm.$invalid" ng-click="getalldt()">Save</button>
        </div>
    </div>
  </div>
  </form>
 </div>
</div>