<style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
                Add Project Information
            </div>
        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->

    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 15%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">
                          <h4 class="panel-title"> Basic Information </h4>
                        </div>

                        <!-- edit s -->
  <div class="panel-body">
      <form name="myForm" class="form-horizontal no-margin" novalidate>

          <div class="col-lg-12 col-md-12">

              <div class="form-group">
                  <label for="birthdate" class="col-sm-2 control-label">Project Name<span class="mand">*</span></label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" ng-model="project_details.project_name" name="project_name" placeholder="Project Name" required>
                      <span style="color:red" ng-show="myForm.project_name.$dirty && myForm.project_name.$invalid">
                      <span ng-show="myForm.project_name.$error.required">Project Name is required.</span>
                      </span>
                  </div>
                  </div>
              </div>

              <div class="form-group">
                  <label for="project_add *" class="col-sm-2 control-label">Project Address<span class="mand">*</span></label>
                  <div class="col-sm-8">
                      <textarea class="form-control" rows="2" id="project_add" name="project_add" ng-model="project_details.project_add" placeholder="Project Address" required></textarea>
                      <span style="color:red" ng-show="myForm.project_add.$dirty && myForm.project_add.$invalid">
                      <span ng-show="myForm.project_add.$error.required">Project Address is required.</span>
                      </span>
                  </div>
              </div>
              <div class="form-group">
                  <label for="state_city" class="col-sm-2 control-label">State / City <span class="mand">*</span></label>
                  <div class="col-sm-8">
                      <div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="State" class="form-control" ng-model="project_details.state" required>
                                  <option value="" selected>
                                      State
                                  </option>
                                  <option value="Maharashtra">
                                      Maharashtra
                                  </option>
                                  <option value="Manipur">
                                      Manipur
                                  </option>
                                  <option value="Punjab">
                                      Punjab
                                  </option>
                                  <option value="Jharkhand">
                                      Jharkhand
                                  </option>
                                  <option value="Jammu and Kashmir">
                                      Jammu and Kashmir
                                  </option>
                                  <option value="Uttar Pradesh">
                                      Uttar Pradesh
                                  </option>
                              </select>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="city" class="form-control" ng-model="project_details.city" required>
                                  <option value="" selected>
                                      City
                                  </option>
                                  <option value="Pune">
                                      Pune
                                  </option>
                                  <option value="Nagpur">
                                      Nagpur
                                  </option>
                                  <option value="Thane">
                                      Thane
                                  </option>
                                  <option value="Nashik">
                                      Nashik
                                  </option>
                                  <option value="Pimpri Chinchwad5">
                                      Pimpri Chinchwad
                                  </option>
                                  <option value="Kalyan-Dombivali">
                                      Kalyan-Dombivali
                                  </option>
                              </select>
                          </div>
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <input type="text" class="form-control" id="pincode" ng-model="project_details.pin_code" placeholder="Pin Code" maxlength="6" numbers-only required>
                          </div>
                      </div>
                  </div>
              </div>
                <div class="form-group" ng-init="project_details.property_type='residential'">
                  <label for="lead_type" class="col-sm-2 control-label">Property Type<span class="mand">*</span></label>
                    <div class="col-sm-8">
                      <label class="radio-inline"><input type="radio" name="property_type" ng-model="project_details.property_type" value="residential">Residential</label>
                       <label class="radio-inline"><input type="radio" name="property_type" ng-model="project_details.property_type" value="commercial">Commercial</label>
                       <label class="radio-inline"><input type="radio" name="property_type" ng-model="project_details.property_type" value="pg">PG/Hostel</label>
                        <label class="radio-inline"><input type="radio" name="property_type" ng-model="project_details.property_type" value="residentialcommercial">Residential & Commercial</label>
                    </div>
                </div>
<div ng-switch="project_details.property_type">
 <div class="form-group" ng-switch="project_details.property_type">
  <label for="residential_property" class="col-sm-2 control-label">Property Details<span class="mand">*</span></label>
  <div ng-switch-when="residential">
  <div class="col-sm-8" >
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-5">
        <select id="residential_property" class="form-control" ng-model="project_details.residential_property" name="select_residental" required>
          <option value="">
            Select Residential Property type
          </option>
          <option value="Residential House">
           Residential House
          </option>
          <option value="Multistorey apartment">
            Multistorey apartment
          </option>
          <option value="Builder Floor Apartment">
            Builder Floor Apartment
          </option>
          <option value="Villa">
            Villa
          </option>
          <option value="Service Apartment">
            Service Apartment
          </option>
          <option value="Penthouse">
           Penthouse
          </option> 
          <option value="Studio Apartment">
            Studio Apartment
          </option>
        </select>
      </div>
    
    </div>
  </div>
<span ng-show="form.select_residental.$error.required" class="alert-danger">! Select Property type</span><br>
      <span ng-show="form.select_flat.$error.required" class="alert-danger">! Select Flat type</span>
  </div>

   <div class="col-sm-8" ng-switch-when="commercial">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-5">
        <select id="commercial" class="form-control" ng-model="project_details.commercial_property" name="select_cproperty" required>
          <option value="">
            Select Commercial Property Type
          </option>
          <option value="Commercial Office Space">
           Commercial Office Space
          </option>
          <option value="Commercial Shop">
           Commercial Shop
          </option>
          <option value=" Commercial Showroom">
            Commercial Showroom
          </option>
          <option value="Warehouse/ Godown">
            Warehouse/ Godown
          </option>
          <option value="Industrial Building">
            Industrial Building
          </option>
          <option value="Industrial Shed">
           Industrial Shed
          </option> 
          <option value="Office in IT Park/SEZ">
           Office in IT Park/ SEZ
          </option>
        </select>
      </div>
    
    </div>
      <span ng-show="form.select_cproperty.$error.required" class="alert-danger">! Select Property type</span><br>
      <span ng-show="form.select_flat.$error.required" class="alert-danger">! Select Flat type</span>
  </div>

   <div class="col-sm-8" ng-switch-when="pg">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-5">
        <select id="pg_type" class="form-control"  ng-model="project_details.pg_type" name="select_PG" required>
          <option value="">
            Select PG Type
          </option>
          <option value="Hostel">
            Hostel
          </option>
          <option value="paying Guest Services ">
            Paying Guest Services 
          </option>
        </select>
      </div>
 
    </div>
      <span ng-show="form.select_PG.$error.required" class="alert-danger">! Select Property type</span><br>
      <span ng-show="form.select_PG_Category.$error.required" class="alert-danger">! Select Flat type</span>
  </div>

 <div class="col-sm-8" ng-switch-when="residentialcommercial">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-5">
        <select id="pg_type" class="form-control"  ng-model="project_details.residentialcommercial" name="select_residentialcommercial" required>
          <option value="">
            Select residential&commercial
          </option>
          <option value="Hostel">
            Hostel
          </option>
          <option value="paying Guest Services ">
            Paying Guest Services 
          </option>
        </select>
      </div>
 
    </div>
      <span ng-show="form.select_PG.$error.required" class="alert-danger">! Select Property type</span><br>
      <span ng-show="form.select_PG_Category.$error.required" class="alert-danger">! Select Flat type</span>
  </div>


</div>
</div>
 <div class="form-group">
  <label for="society_amenities" class="col-sm-2 control-label">Amenities<span class="mand">*</span></label>
  <div class="col-sm-8">
    <select multiple class="form-control" id="society_amenities" ng-model="project_details.society_amenities" name="society_amenities" required>
      <option>Lift </option>
      <option>Swimming Pool</option>
      <option>Power Back Up </option>
      <option>Playground</option>
      <option>Parking (Open)</option>
      <option>Parking (Covered)</option>
      <option>Security</option>
      <option>Club House</option>
      <option>System </option>
      
    </select>
  </div>
</div>
   <div id="map" style="height: 400px; width: 100%;"></div>

              <!-- google API start Added -->

                  <script>
                      var marker={};
                       var map;
                      function initMap() {
                       var wakad = { lat: 18.59860, lng: 73.76387 };

                        map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 14,
                          center: wakad
                        });
                       /*marker = new google.maps.Marker({
                          position: wakad,
                          map: map
                        }); */
                        // This event listener calls addMarker() when the map is clicked.
                            google.maps.event.addListener(map, 'click', function(event) {
                                //marker={};
                              addMarker(event.latLng);
                            });                                              

                      }
                        

                       // Adds a marker to the map.
                        function addMarker(location) {
                          // Add the marker at the clicked location, and add the next-available label
                          // from the array of alphabetical characters.

                        google.maps.event.addListener(marker, 'click', function(event) {
                            this.setMap(null);
                            });
                          marker = new google.maps.Marker({
                            position: location,
                            
                            map: map
                          });
                          localStorage.longlat = JSON.stringify(marker.position);

                         
                        }

                    </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKPanFyNZpp81uicD6_ZGeX1RSumuYC08&callback=initMap">
                    </script>


               <!-- google API end Added -->








              <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">

                      <div class="col-sm-2">
                          <a class="btn btn-info form-control" ng-click="#">Edit</a>
                      </div>
                      <div class="col-sm-2">
                          <!-- <button type="submit" class="btn btn-info form-control" ng-click="addproject()" ng-disabled="myForm.project_name.$dirty && myForm.project_name.$invalid && myForm.project_name.ng-touched || myForm.project_add.$dirty && myForm.project_add.$invalid">Save</button> -->
                            <button type="submit" class="pure-button pure-button-primary btn btn-info form-control" ng-disabled="myForm.$invalid" ng-click="addproject()">Save</button>
                      </div>
                      <!-- <div class="col-sm-2">
                          <a class="btn btn-info form-control" href="#/phase_setup">Next</a>
                      </div> -->
                  </div>
              </div>

          </div>

                            </form>
                        </div>
                        <!-- edit end -->
                    </div>
                </div>
                <!-- owner regin -->
            </div>
        </div>
    </div>
    <!-- Row End -->
</div>