<style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
                Building Setup
            </div>
        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->
        <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 15%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">
                            <h4 class="panel-title"> Building Setup </h4>
                        </div>

<div class="panel-body">

<form name="myForm" class="form-horizontal no-margin">

<div class="col-lg-12 col-md-12 col-sm-offset-3"> 
     <div class="form-group">
        <label class="col-sm-2 control-label">Do You Have a Ground Unit</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" value="yes_ground" name="ground" ng-model="BuildingDeatils.ground" >Yes</label>
            <label class="radio-inline">
                <input type="radio" name="ground" ng-model="BuildingDeatils.ground" value="no_ground">No</label>
        </div>
    </div>
    <div ng-switch="BuildingDeatils.ground">
       <div ng-switch-when="yes_ground">
        <div class="form-group">
          <div class=" col-sm-8">
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="BuildingDeatils.groundunit" placeholder="Ground Unit">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="pure-button pure-button-primary btn btn-info form-control" ng-click="addGroundunit(BuildingDeatils)">Save</button>
            </div>
         </div>
        </div>
     </div>
    </div>

    <p ng-if="groundunit">You Have <a href="#/groundunit_setup/{{requiredphaseid}}/{{BuildingDeatils.groundunit}}">{{groundunit.groundunit}}</a> Ground Units</p>

    <div class="form-group">
        <label for="lead_type" class="col-sm-2 control-label">Do You Have a Building</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" name="building" ng-model="BuildingDeatils.building" value="yes_building">Yes</label>
            <label class="radio-inline">
                <input type="radio" name="building" ng-model="BuildingDeatils.building" value="no_building">No</label>
        </div>
    </div>
    <div ng-switch="BuildingDeatils.building">
       <div ng-switch-when="yes_building">
        <div class="form-group">
      <div class=" col-sm-8">
        <div class="col-sm-4">
           <input type="text" class="form-control" ng-model="BuildingDeatils.name" name="Building_name" placeholder="Building Name" required>
           <span style="color:red" ng-show="myForm.Building_name.$dirty && myForm.Building_name.$invalid">
            <span ng-show="myForm.Building_name.$error.required">Building Name is required.</span>
            </span>
         </div>
          <div class="col-sm-2">
            <button type="submit" class="pure-button pure-button-primary btn btn-info form-control" ng-disabled="myForm.$invalid" ng-click="addBuilding(BuildingDeatils)">Save</button>
        </div>
     </div>
    </div>
     </div>
    </div>



  <div class=" col-sm-8"> 
    <table class="table table-condensed table-striped table-bordered table-hover no-margin" ng-if="BuildingDetails.data.length!==0">
        <thead>
          <tr>
          <th style="width:10%">
            Sr.no
            </th>
           <th style="width:20%">
            Building 
            </th>
           
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in BuildingDetails.data">
            <td>
              <span class="name" ng-bind="$index +1"></span>
            </td>
            <td>
               <a ng-href="#/wing_setup/{{p.id}}">{{p.name}} </a>
            </td>
            
          </tr>
        </tbody>
    </table>
    </div>
    <br>
    <br>
    <!-- </div> -->
    <div class="form-group">
        <!-- <div class="col-sm-offset-3 col-sm-8" style="float"> -->
            <div class=" col-sm-8" style="float: right;">
            <div class="col-sm-2">
                <a class="btn btn-info form-control" href="#/phase_setup">Back</a>
            </div>
           <!--  <div class="col-sm-2">
                <a class="btn btn-info form-control" ng-click="addproject()">Edit</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-info form-control" ng-click="addproject()">Save</a>
            </div> -->
           <!--  <div class="col-sm-2">
                <a class="btn btn-info form-control" href="#/wing_setup" >Next</a>
            </div> -->
        </div>
        </div>

</div>
</form>

</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>  