<style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
               Flat Setup
            </div>
            <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Flat Name..."  ng-model="searchflat">
            <i class="fa fa-search"></i>
          </div>

        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->
        <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">

                            <h4 class="panel-title"> Flat Setup </h4>
                        </div>
                        <!-- <div class="col-sm-offset-3 col-md-6">
                           <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                                        <thead>
                                            <tr class="info">
                                                <th style="width:5%">
                                                    Select
                                                </th>
                                                <th style="width:10%">
                                                   Seqence
                                                </th>
                                                <th style="width:10%">
                                                    First Floor
                                                </th>
                                                <th style="width:10%">
                                                    Second Floor
                                                </th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                <label class="radio-inline"><input type="radio" name="property_type" ng-model="propertyform.property_type" value="residential">Residential</label>
                                                </td>
                                                <td>
                                                    <span class="name">Two Digit</span>
                                                </td>
                                                <td>
                                                    <span class="name">11,12,..</span>
                                                </td>
                                                   <td>
                                                    <span class="name">21,22,..</span>
                                                </td>   
                                              
                                            </tr>
                                             <tr>
                                                <td>
                                                <label class="radio-inline"><input type="radio" name="property_type"ng-model="propertyform.property_type" value="commercial">Commercial</label>
                                                </td>
                                                <td>
                                                    <span class="name">three Digit</span>
                                                </td>
                                                <td>
                                                    <span class="name">101,102,..</span>
                                                </td>
                                                   <td>
                                                    <span class="name">201,202,..</span>
                                                </td>   
                                              
                                            </tr>
                                  
                                            
                                        </tbody>
                                    </table>

                                    </div>  
                          <div class="col-md-12">           -->
    <div class="panel-body">
             <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                    <thead>
                        <tr class="info">
                         
                            <th style="width:10%">
                                Flats Number
                            </th>
                            <th style="width:10%">
                                Carpet
                            </th>
                            <th style="width:10%">
                               built up
                            </th>
                            <th style="width:10%">
                                super built up
                            </th>
                            <th style="width:10%">
                                BHK
                            </th>
                            <th style="width:10%">
                                Use Type
                            </th>
                            <th style="width:10%">
                                category
                            </th>
                            <th style="width:10%">
                                Edit
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fl in FlatDetails.data | filter:searchflat" >
                         
                             <td>
                                  <span ng-bind="fl.number"></span>
                             </td>   
                            <td>
                                <span ng-bind="fl.carpet_area" name="Carpet"></span>
                            </td>
                             <td>
                                <span ng-bind="fl.builtup_area" name="built_up"></span>
                            </td>
                             <td>
                                 <span ng-bind="fl.superbuiltup_area" name="super built up"></span>
                            </td>
                             <td>
                                 <span ng-bind="fl.BHK" name="bhk"></span>
                            </td>
                             <td>
                               <!-- <select id="use_type" class="form-control" ng-bind="fl.use_type" name="use_type" required>
                                    <option value=0>
                                      Select Property type
                                    </option>
                                    <option value=1>
                                     Residential 
                                    </option>
                                    <option value=2>
                                      Commercial
                                    </option>
                                    <option value=3>
                                      PG/Hostel
                                    </option>
                                   
                                  </select> -->
                            </td>
                            <td>
                                <!-- <select id="category" class="form-control" ng-model="fl.use_type_category" name="category" required>
                                    <option value=0>
                                      Select 
                                    </option>
                                    <option value=1>
                                     Girls only
                                    </option>
                                    <option value=2>
                                      Boys only
                                    </option>
                                    <option value=3>
                                     Common
                                    </option>
                                    <option value=4>
                                     Couple
                                    </option>
                                   
                                  </select> -->
                            </td>
                            <td>
                                <div click-to-edit="fl.number"></div>
                            </td>
                        </tr>
                    
                    
                    </tbody>
                </table>
                <!--    <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <div class="col-sm-2">
                                    <a class="btn btn-info form-control" href="#/unit_setup">Back</a>
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-info form-control" ng-click="addproject()">Edit</a>
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-info form-control" ng-click="addflats(flats)">Save</a>
                                </div>
                                <div class="col-sm-2">
                                    <a class="btn btn-info form-control" href="#">Next</a>
                                </div>
                            </div>
                        </div> -->

    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>  </div>  