<style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
               Floor Setup
            </div>
        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->
        <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">

                            <h4 class="panel-title"> Floor Setup </h4>
                        </div>

                        <div class="panel-body">
                                 <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                                        <thead>
                                            <tr class="info">
                                                <th style="width:5%">
                                                    sr.no
                                                </th>
                                                <th style="width:20%">
                                                    Phase
                                                </th>
                                                <th style="width:15%">
                                                    Building
                                                </th>
                                                <th style="width:10%">
                                                    Wing
                                                </th>
                                                <th style="width:15%">
                                                    Floor
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="name" ng-bind="$index +1">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">pink</span>
                                                </td>
                                                <td>
                                                    <span class="name">kasturi</span>
                                                </td>

                                                <td>
                                                    <input type="number" class="form-control" id="building_na" placeholder="Floor" ng-model="project_details.floor" name="floor">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="name" ng-bind="$index +1">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">pink</span>
                                                </td>
                                                <td>
                                                    <span class="name">mogara</span>
                                                </td>

                                                <td>
                                                    <input type="number" class="form-control" id="building_na" placeholder="Floor" ng-model="project_details.floor" name="floor">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="name" ng-bind="$index +1">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">yello</span>
                                                </td>
                                                <td>
                                                    <span class="name">rose</span>
                                                </td>

                                                <td>
                                                    <input type="number" class="form-control" id="building_na" placeholder="Floor" ng-model="project_details.floor" name="floor">

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                       <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-8">
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" href="#/wing_setup">Back</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Edit</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Save</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" href="#/unit_setup">Next</a>
                                                    </div>
                                                </div>
                                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>    