<style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<div class="container">
<form name="groundunit_form">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
               Ground Unit Setup
            </div>
            
        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->
        <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" >
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">
                            <h4 class="panel-title">Ground Unit Setup</h4>
                        </div>
                          
         <table class="table table-responsive table-striped table-bordered table-hover no-margin" ng-if="groundDetails.data.length==0">
            <tbody>
                <tr ng-repeat="gsource in groundsources" >
                    <td><input type="text" class="form-control" ng-model="gsource.carpet_area" numbers-only></td>
                    <td><input type="text" class="form-control" ng-model="gsource.builtup_area" numbers-only></td>
                    <td><input type="text" class="form-control" ng-model="gsource.superbuiltup_area" numbers-only></td>
                    <td><input type="number" class="form-control" ng-model="gsource.BHK" min="1"></td>
                    <td><input type="text" class="form-control" ng-model="gsource.use_type"></td>
                    <td><input type="text" class="form-control" ng-model="gsource.use_type_category"></td>
                    <br>
                    <a class="btn btn-info form-control" ng-click="copyGround(groundsources[0])" ng-if="groundDetails.data.length==0">Save</a>
                </tr>
            </tbody>
        </table> 

         
         <!-- <div id="grid3" ui-grid="gridOpt"  class="grid" ui-grid-selection ></div>  -->
         <!-- {{msg.lastCellEdited}} -->
         <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellnav class="grid"></div>

</form>
</div>  </div>  