<style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
                Phase Setup
            </div>
        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->
      <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 15%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">
                            <h4 class="panel-title">Phase Setup</h4>
                        </div>

                        <!-- edit s -->
    <div class="panel-body">
        <form name="myForm" class="form-horizontal no-margin">

            <div class="col-lg-12 col-md-12 col-sm-offset-3">

                <div class="form-group">
                    <label for="lead_type" class="col-sm-2 control-label">Do You Have a Phases</label>
                    <!-- <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" name="Pheses" ng-model="project_details.phase" value="yes_phase">Yes</label>
                        <label class="radio-inline">
                            <input type="radio" name="Pheses" ng-model="project_details.phase" value="no_phase">No</label>
                    </div> -->
                </div>

                <!-- <div ng-switch="project_details.phase"> --><div>

                  <!--   <div ng-switch-when="yes_phase"> --><div>
                        <div class="form-group">
                          <div class=" col-sm-8">
                            <div class="col-sm-2">
                                <button class="btn btn-info form-control" ng-click="addPhaseControls()">Add phase</button>
                             </div>
                            <div class="col-sm-2">
                                <button type="submit" class="pure-button pure-button-primary btn btn-info form-control" ng-click="addphases({name:'No Phase'})" data-ng-disabled="checkQuestions()">No Phase</button>
                            </div>
                         </div>
                        </div>
                    <!-- <a href="">No phase</a> -->
                    <div class="form-group" ng-if="!activeNewPhase">
                      <div class=" col-sm-8">
                        <div class="col-sm-4">
                           <input type="text" class="form-control" ng-model="PhaseDeatils.name" name="Phase_name" placeholder="Phase Name" required>
                           <span style="color:red" ng-show="myForm.Phase_name.$dirty && myForm.Phase_name.$invalid">
                                <span ng-show="myForm.Phase_name.$error.required">Phase Name is required.</span>
                            </span>
                         </div>
                          <div class="col-sm-2">
                            <!-- <a class="btn btn-info form-control" ng-click="addphases(PhaseDeatils)">Save</a> -->
                            <button type="submit" class="pure-button pure-button-primary btn btn-info form-control" ng-disabled="myForm.$invalid" ng-click="addphases(PhaseDeatils)">Save</button>
                        </div>
                     </div>
                    </div>
                </div>
                

                <div class="col-sm-8"> 
                <table class="table table-condensed table-striped table-bordered table-hover no-margin" ng-if="PhaseDetails.data.length!==0">
                    <thead>
                      <tr>
                      <th style="width:10%">
                        Sr.no
                        </th>
                       <th style="width:20%">
                        Phase 
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="p in PhaseDetails.data">
                        <td>
                          <span class="name" ng-bind="$index +1"></span>
                        </td>
                        <td>
                           <a ng-href="#/building_setup/{{p.id}}">{{p.name}}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
                   <div class="form-group">
                            <div class=" col-sm-8" style="float: right;">
                                <div class="col-sm-2">
                                    <a class="btn btn-info form-control" href="#/basic_info">Back</a>
                                </div>
                               <!--  <div class="col-sm-2">
                                    <a class="btn btn-info form-control" ng-click="addproject()">Edit</a>
                                </div> -->
                               
                                <!-- <div class="col-sm-2">
                                    <a class="btn btn-info form-control"  href="#/building_setup" >Next</a>
                                </div> -->
                            </div>
                        </div>
                    </div>


            </div>
        </form>

    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>