<style>
    /* Icon when the collapsible content is shown  select_tenant.html*/
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
  .ngdialog.ngdialog-theme-default.ngdialog-theme-default1 .ngdialog-content {
  
    z-index: 10000;
    width: auto!important;
    margin-top: auto!important;
    height: auto!important;
  }
.ngdialog.ngdialog-theme-default1 .ngdialog-content {
    padding: 45px!important;
    font-size: 20px!important;
}

  .ngdialog.ngdialog-theme-default1 {
    padding-bottom: 160px;
    padding-top: 160px;
    padding-left: 510px;
    padding-right: 586px;
}
.labelcss{
      font-size: initial;
}
</style>
<div class="container" >
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size:20px;margin-left:17px;color:#f1f1f1;">
                Select Tenant
            </div>
        </div>
    </div>
  <div class="panel-body">
    <form class="form-horizontal no-margin">
    <div class="form-group">
        <div class="col-sm-12">
             <label class="col-md-5 control-label labelcss">Select Tenant(Client)</label>
                <div class="col-md-5 col-sm-5 col-xs-5" ng-repeat="item in inputs">
                  <select class="form-control" ng-model="ten">
                    <option ng-value="Select" selected>
                        Select Tenant (Client)
                    </option>
                    <option ng-value="Tenant1">
                        Tenant1
                    </option>
                    <option ng-value="Tenant2">
                        Tenant2
                    </option>
                </select>
                </div>
          </div>
          <button class="pure-button pure-button-primary btn btn-info form-control" ng-click="addfield(ten)">Add Tenant</button>
    </div>

  </form>
 </div>
</div>
