  <style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
                Wing Setup
            </div>
        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->
   <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">
                        <h4 class="panel-title"> Wing Setup </h4>
                        </div>

<div class="panel-body">
<form name="myForm" class="form-horizontal no-margin">

    <div class="col-lg-12 col-md-12 col-sm-offset-3">

    <!-- <div class="form-group">
        <label for="lead_type" class="col-sm-2 control-label">Building Has Wings</label>
        <div class="col-sm-6">
            <label class="radio-inline">
                <input type="radio" name="Wings" ng-model="project_details.wing" value="yes_wing">Yes</label>
            <label class="radio-inline">
                <input type="radio" name="Wings" ng-model="project_details.wing" value="no_wing">No</label>
        </div>
    </div> -->
    <div class="form-group">
      <div class=" col-sm-8">
        <div class="col-sm-2">
            <button class="btn btn-info form-control" ng-click="addWingControls()" ng-disabled="!activeNewWing">Add Wing</button>
        </div>
     </div>
    </div>
    <div class="form-group" ng-if="!activeNewWing">
      <div class=" col-sm-12">
        <div class="col-sm-2">
           <input type="text" class="form-control" ng-model="WingDeatils.name" name="Wing_name" placeholder="Wing Name" required>
           <span style="color:red" ng-show="myForm.Wing_name.$dirty && myForm.Wing_name.$invalid">
            <span ng-show="myForm.Wing_name.$error.required">Wing Name is required.</span>
           </span>
        </div>
         <div class="col-md-2 col-sm-4 col-xs-4">
            <select id="State" class="form-control" ng-model="WingDeatils.floor" required>
                <option value="" selected>
                    Number of Floors
                </option>
                <option value="1">
                    1
                </option>
                <option value="2">
                    2
                </option>
                <option value="3">
                    3
                </option>
                <option value="4">
                    4
                </option>
                <option value="5">
                    5
                </option>
                <option value="6">
                    6
                </option>
                <option value="7">
                    7
                </option>
                <option value="8">
                    8
                </option>
                <option value="9">
                    9
                </option>
                <option value="10">
                    10
                </option>
                <option value="11">
                    11
                </option>
                <option value="12">
                    12
                </option>
                <option value="13">
                    13
                </option>
                <option value="14">
                    14
                </option>
                <option value="15">
                    15
                </option>
                <option value="16">
                    16
                </option>
                <option value="17">
                    17
                </option>
                <option value="18">
                    18
                </option>
                <option value="19">
                    19
                </option>
                <option value="20">
                    20
                </option>
            </select>
         </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
            <select id="State" class="form-control" ng-model="WingDeatils.flat_count_per_floor" required>
                <option value="" selected>
                    Flat count per floor
                </option>
                <option value="1">
                    1
                </option>
                <option value="2">
                    2
                </option>
                <option value="3">
                    3
                </option>
                <option value="4">
                    4
                </option>
                <option value="5">
                    5
                </option>
            </select>
        </div>
        <div class="col-sm-2">
            <!-- <a class="btn btn-info form-control" ng-click="addwing(WingDeatils)">Save</a> -->
            <button type="submit" class="pure-button pure-button-primary btn btn-info form-control" ng-disabled="myForm.$invalid" ng-click="addwing(WingDeatils)">Save</button>
        </div>
    </div> 
    <div class=" col-md-6"  ng-if="!activeNewWing" style="margin-left: 15px;">
       <table class="table table-responsive table-striped table-bordered table-hover no-margin">
        <thead>
            <tr class="info">
                <th style="width:5%">
                    Select
                </th>
                <th style="width:10%">
                   Seqence
                </th>
                <th style="width:10%">
                    First Floor
                </th>
                <th style="width:10%">
                    Second Floor
                </th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                <label class="radio-inline"><input type="radio" name="property_type" ng-model="WingDeatils.numbering_style" value="1">Residential</label>
                </td>
                <td>
                    <span class="name">Two Digit</span>
                </td>
                <td>
                    <span class="name">11,12,..</span>
                </td>
                   <td>
                    <span class="name">21,22,..</span>
                </td>   
            </tr>
             <tr>
                <td>
                <label class="radio-inline"><input type="radio" name="property_type" ng-model="WingDeatils.numbering_style" value="2">Commercial</label>
                </td>
                <td>
                    <span class="name">three Digit</span>
                </td>
                <td>
                    <span class="name">101,102,..</span>
                </td>
                   <td>
                    <span class="name">201,202,..</span>
                </td>   
              
            </tr>
        </tbody>
    </table>

    </div>  

    </div>
            <br>
     <div class=" col-sm-8"> 
        <table class="table table-condensed table-striped table-bordered table-hover no-margin" ng-if="WingDetails.data.length!==0">
            <thead>
              <tr>
              <th style="width:10%">
                Sr.no
                </th>
               <th style="width:20%">
                Wing 
                </th>
                <th style="width:20%">
                 Total Floors
                </th>
                  <th style="width:20%">
                    Flats/Floor
                </th>
               
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in WingDetails.data">
                <td>
                  <span class="name" ng-bind="$index +1"></span>
                </td>
                <td>
                   <a ng-href="#/flat_setup/{{p.id}}/{{p.floor}}/{{p.flat_count_per_floor}}/{{p.numbering_style||0}}">{{p.name}} </a>
                </td>
                <td>
                 <span>{{p.floor}}</span>
                </td>
                 <td>
                  <span>{{p.flat_count_per_floor}}</span>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
     
     <div class="form-group">
        <div class="col-sm-offset-3 col-sm-8" style="float: right;">
            <div class="col-sm-2" >
                <a class="btn btn-info form-control" href="#/building_setup">Back</a>
            </div>
           <!--  <div class="col-sm-2">
                <a class="btn btn-info form-control" ng-click="addproject()">Edit</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-info form-control" ng-click="addproject()">Save</a>
            </div> -->
            <!-- <div class="col-sm-2">
                <a class="btn btn-info form-control" href="#/floor_setup">Next</a>
            </div> -->
        </div>
     </div>
</form>

</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>    