 <div class="dashboard-container">

      <div class="container">
        <!-- Top Nav Start -->
        <div id='cssmenu'>
          <ul id="topMenu">
            <li class='active'>
              <a href='#/home'><i class="fa fa-dashboard"></i>Dashboards</a>
              
            </li>
            <li>
              <a href="#/property" id="confirm">
                <i class="fa fa-align-justify"></i>
                Property
              </a>
            </li>
           <li class=''>
              <a href='#/staff'><i class="fa fa-flask"></i>Staff</a>
             
            </li>
            <li class=''>
              <a href='#/branch'><i class="fa fa-bar-chart-o"></i>Branch</a>
              
            </li>
            <li class=''>
              <a href='#'><i class="fa fa-flask"></i>Accounts</a>
              <ul>
                 <li><a href='ui-elements.html'>Incomes</a></li>
                 <li><a href='panels.html'>Billings</a></li>
                 <li><a href='notifications.html'>Expendutres</a></li>
                 
              </ul>
            </li>
            <li class=''>
              <a href='#/ownerlist'><i class="fa fa-dashboard"></i>Owner</a>
            <!--   <ul>
                <li><a href='#/ownerregistration'> Owner Registration</a></li>
                <li><a href='#/ownerprofile'>Owner Profile</a></li>
              </ul> -->
            </li>
            <li class=''>
              <a href='#/tenentlist'><i class="fa fa-table"></i>Tenents</a> 
             <!--  <ul>
                 <li><a href='#/tenentregistration'>Tenent Registration</a></li>
                 <li><a href='#/tenentprofile'>Tenent Profile</a></li>
                
              </ul> -->
            </li>
            <!-- <li>
              <a href="#/collectorofficer">
                <i class="fa fa-picture-o"></i>
                 Collector
              </a>
            </li> -->
            <li class="hidden-sm">
              <a href="calendar.html">
                <i class="fa fa-calendar"></i>
                Calendar
              </a>
            </li>
            <li class=''>
              <a href='#/servicereq'><i class="fa fa-table"></i>Help Desk</a>
              <ul>
                <li><a href='#/addlead'>Add Lead</a></li>
                 <li><a href='#/showallleads'>Lead</a></li>
                 <li><a href='#/servicereq'>Request service</a></li>
                  <li><a href='#/servicerequested'>View Requested service</a></li>
                
              </ul>
            </li>
             <li class=''>
              <a href='#/servicereq'><i class="fa fa-table"></i>Admin</a>
              <ul>
                <li><a href='#/feature'>User access Control</a></li>
               
                
              </ul>
            </li>
           <script>
             localStorage.testMenudata="  <li class=''><a href='#/staff'><i class='fa fa-flask'></i>Staff</a><ul> <li><a href='#/staff' >Staff List</a></li><li><a href='#/addstaff' >Add New Staff Member</a></li></ul></li><li class=''><a href='#/branch'><i class='fa fa-bar-chart-o'></i>Branch</a><ul> <li><a href='#/addbranch' >Add New Branch</a></li> <li><a href='#/branch'>Branch List</a></li></ul></li><li class=''><a href='#/servicereq'><i class='fa fa-table'></i>Help Desk</a><ul><li><a href='#/addlead'>Add Lead</a></li><li><a href='#/showallleads'>Lead</a></li></ul></li><li class=''><a href='#'><i class='fa fa-table'></i>Admin</a><ul> <li><a href='#/feature'>User access Control</a></li></ul></li>"

             


             document.getElementById('topMenu').innerHTML =localStorage.testMenudata;
           </script>
          </ul>
        </div>
        </div>
        </div>