<style type="text/css">
  .validdate{
    color: red;
  }
  .blue {
    color: blue;
   
  }
</style>


 <div class="container">
        <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#/property" class="heading">Available Property</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addproperty">Add New Property</a>
            </li>
              <li class="hidden-sm hidden-xs">
              <a href="#/addcommercial" >Add Commercial</a>
            </li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addpg" >Add PG/Hostel</a>
            </li>
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Branch mger name and city ...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="addpropertycontroller">
          <!-- left Sidebar Start -->
            <div class="col-lg-3 col-md-3">
              <div id="scrollbar-two"> 
                <div class="scrollbar">
                  <div class="track">
                    <div class="thumb">
                      <div class="end">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="viewport">
                  <div class="overview">
                    <div class="featured-articles-container">
                      <h5 class="heading-blue">
                        Add Society Details 
                      </h5>
                      <div class="articles">
                        <a href="#">
                          <span class="label-bullet-blue">
                            &nbsp;
                          </span>
                          Society SetUp  
                        </a>
                        <a href="#">
                          <span class="label-bullet-blue">
                            &nbsp;
                          </span>
                          Society Information
                        </a>
                        <a href="#">
                          <span class="label-bullet-blue">
                            &nbsp;
                          </span>
                         Building & Wing Details
                        </a>
                        <a href="#">
                          <span class="label-bullet-blue">
                            &nbsp;
                          </span>
                          Floor Details
                        </a>
                        <a href="#">
                          <span class="label-bullet-blue">
                            &nbsp;
                          </span>
                          Unit Details
                        </a>
                        <a href="#">
                          <span class="label-bullet-blue">
                            &nbsp;
                          </span>
                          Unit Information
                        </a>
                        <a href="#">
                          <span class="label-bullet-blue">
                            &nbsp;
                          </span>
                         Master Page
                        </a>
                       
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
              </div>
           
         
          <!-- left Sidebar End -->

            <!-- right Sidebar Start -->
    

            <!-- Row 1 Start -->
            <div class="row">
              <div class="col-lg-8 col-md-8">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Society Information
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                     <form  name="form"  class="form-horizontal no-margin">
                      <div class="form-group">
                        <label for="property_name" class="col-sm-3 control-label">Society Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="property_name" placeholder="Property Name" ng-model="propertyform.property_name" name="property_name" ng-minlength="3" ng-maxlength="30" required>
                          </div>
                          <span ng-show="form.property_name.$dirty && form.property_name.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.property_name.$dirty && form.property_name.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.property_name.$dirty && form.property_name.$error.maxlength" class="alert-danger"> too Long!</span>
                                                
                      </div>
                       <div class="form-group">
                        <label for="property_Add *" class="col-sm-3 control-label">Property Address<span class="mand">*</span></label>
                        <div class="col-sm-8">
                           <textarea class="form-control" rows="5" id="property_Add" placeholder="Property Address"  ng-model="propertyform.property_Add" name="property_Add" ng-minlength="3" ng-maxlength="300" required></textarea>
                        </div>
                          <span ng-show="form.property_Add.$dirty && form.property_Add.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.property_Add.$dirty && form.property_Add.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.property_Add.$dirty && form.property_Add.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div> 
                      <div class="form-group">
                        <label for="state" class="col-sm-3 control-label">State / City <span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="state" class="form-control" ng-model="propertyform.state" name="state">
                                <option value="" selected>
                                  Select State
                                </option>
                                <option value="Maharashtra">
                                  Maharashtra
                                </option>
                                <option value="Manipur">
                                  Manipur
                                </option>
                                <option value="Punjab">
                                  Punjab
                                </option>
                                <option value="Jharkhand">
                                  Jharkhand
                                </option>
                                <option value="Jammu and Kashmir">
                                  Jammu and Kashmir
                                </option>
                                <option value="Uttar Pradesh">
                                  Uttar Pradesh 
                                </option> `
                              </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="city" class="form-control" ng-model="propertyform.city" name="city">
                                <option value="" selected>  
                                  Select City
                                </option>
                                <option value="1">
                                  Pune
                                </option>
                                <option value="3">
                                  Nagpur
                                </option>
                                <option value="3">
                                  Thane
                                </option>
                                <option value="4">
                                  Nashik
                                </option>
                                <option value="5">
                                  Pimpri Chinchwad
                                </option>
                                <option value="6">
                                  Kalyan-Dombivali
                                </option>
                              </select>
                            </div> 
                              <div class="col-md-4 col-sm-4 col-xs-4">
                                 <input type="text" class="form-control" id="pincode" placeholder="Pin Code"  ng-model="propertyform.pincode" name="pincode" ng-minlength="6" ng-maxlength="6" ui-mask="999999"  ui-mask-placeholder ui-mask-placeholder-char="_" required>

                              </div>

                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                         <label for="area_name" class="col-sm-3 control-label">Suburb/Area Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                              <select id="area_name" class="form-control" ng-model="propertyform.area_name" name="area_name">
                                <option value="" selected>
                                  Select Area Name
                                </option>
                                <option value="Akurdi">
                                  AkurdiAkurdi
                                <option value="Chinchwad">
                                  Chinchwad
                                </option>
                                <option value="Bhosari">
                                  Bhosari
                                </option>
                                <option value="Yerwada">
                                  Yerwada
                                </option>
                                <option value="Warje">
                                  Warje
                                </option>
                                <option value="Vishrantwadi">
                                  Vishrantwadi 
                                </option> `
                              </select>
                            </div>
                          </div>   
                         </div> 
                      </div>
                      <div class="form-group">
                         <label for="area_name" class="col-sm-3 control-label">Pin Code<span class="mand">*</span></label>
                         <div class="col-sm-8">
                          <div class="row">
                             <div class="col-md-8 col-sm-8 col-xs-8">
                              <select id="pincode" class="form-control" ng-model="propertyform.pincode" name="pincode">
                                <option value="" selected>  
                                  Select Pincode
                                </option>
                                <option value="413304">
                                  Babhurdi
                                </option>
                                <option value="410501">
                                  Bahul
                                </option>
                                <option value="411003">
                                  Bajirao Road
                                </option>
                                <option value="410503">
                                  Ballalwadi
                                </option>
                             
                              </select>
                            </div> 
                           </div>
                        </div>
                      </div>  

                       <div class="form-group">
                        <label for="pan_no" class="col-sm-3 control-label">PAN Number<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="pan_no" placeholder="Property Name" ng-model="propertyform.pan_no" name="pan_no" ng-minlength="3" ng-maxlength="30" required>
                          </div>
                          <span ng-show="form.pan_no.$dirty && form.pan_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.pan_no.$dirty && form.pan_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.pan_no.$dirty && form.pan_no.$error.maxlength" class="alert-danger"> too Long!</span>
                                                
                      </div>
                      <div class="form-group">
                        <label for="registration_no" class="col-sm-3 control-label">Registration No<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="registration_no" placeholder="Property Name" ng-model="propertyform.registration_no" name="registration_no" ng-minlength="3" ng-maxlength="30" required>
                          </div>
                          <span ng-show="form.registration_no.$dirty && form.registration_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.registration_no.$dirty && form.registration_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.registration_no.$dirty && form.registration_no.$error.maxlength" class="alert-danger"> too Long!</span>
                                                
                      </div>

                      <div class="form-group">
                        <label for="society_contact_no" class="col-sm-3 control-label">Society Contact No.<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="society_contact_no" placeholder="Property Name" ng-model="propertyform.society_contact_no" name="society_contact_no" ng-minlength="3" ng-maxlength="30" required>
                          </div>
                          <span ng-show="form.society_contact_no.$dirty && form.society_contact_no.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.society_contact_no.$dirty && form.society_contact_no.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.society_contact_no.$dirty && form.society_contact_no.$error.maxlength" class="alert-danger"> too Long!</span>
                                                
                      </div>
                      <div class="form-group">
                        <label for="society_email_id" class="col-sm-3 control-label">Society Email ID.<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="email" class="form-control" id="society_email_id" placeholder="Property Name" ng-model="propertyform.society_email_id" name="society_email_id" ng-minlength="3" ng-maxlength="30" required>
                          </div>
                          <span ng-show="form.society_email_id.$dirty && form.society_email_id.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.society_email_id.$dirty && form.society_email_id.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.society_email_id.$dirty && form.society_email_id.$error.maxlength" class="alert-danger"> too Long!</span>
                                                
                      </div>
                       <div class="form-group">
                        <label for="number_of_building" class="col-sm-3 control-label">Number Of Building.<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <input type="email" class="form-control" id="number_of_building" placeholder="Property Name" ng-model="propertyform.number_of_building" name="number_of_building" ng-minlength="3" ng-maxlength="30" required>
                          </div>
                          <span ng-show="form.number_of_building.$dirty && form.number_of_building.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.number_of_building.$dirty && form.number_of_building.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.number_of_building.$dirty && form.number_of_building.$error.maxlength" class="alert-danger"> too Long!</span>
                                                
                      </div>
                       <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                          <button type="submit" class="btn btn-info btn-block" ng-disabled="form.$invalid"  ng-click="addproperty()">Create New Proprety</button>
                        </div>
                      </div>



                     </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row 1 End -->

            <!-- Row 2 Start -->
            
              <div class="row">
              <div class="col-lg-8 col-md-8">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     Building  &  Wing  Details
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                     <form  name="form"  class="form-horizontal no-margin">
                     
                     <div class="form-group">
                      <h4 class="col-sm-8 blue"><b> Naming of  wings</b></h4>
                     <p class="col-sm-8">Method of naming  these wings. if application</p>
                     </div>
                       
                    <div class="form-group ">
                      <div class="col-sm-8">   
                        <div class="radio">
                          <label class="control-label"><input type="radio" name="optradio">No Wings</label>
                        </div>
                        <div class="radio">
                          <label class="control-label"><input type="radio" name="optradio">Sequential Alphabet(e.g- A,B,C...)</label>
                        </div>
                        <div class="radio ">
                          <label class="control-label"><input type="radio" name="optradio" >Sequential Number(e.g- 1,2,3...)</label>
                        </div>
                        <div class="radio">
                          <label class="control-label"><input type="radio" name="optradio">Sequential Roman Number(e.g- |,||,|||...)</label>
                        </div>
                        <div class="radio">
                          <label class="control-label"><input type="radio" name="optradio">None of These (Create your Own Wing Names)</label>
                        </div>
                      </div>
                    </div>

                      <div class="form-group">
                        <label for="society_email_id" class="col-sm-4 control-label">The above sequence starts from<span class="mand">*</span></label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control"  placeholder="" ng-model="propertyform.>sequence_starts" name=">sequence_starts" ng-minlength="3" ng-maxlength="30" required>
                        </label>
                        </div>
                      </div>
                        
                      <div class="form-group">
                       <h4 class="col-sm-8 blue"><b>Filling building name and wing infomation in a building</b></h4>
                       <p class="col-sm-8">Please enter the names of the building of your society in the table below.</p>
                       <p class="col-sm-8">if all building hava the same number of wings, enter it here & click apply</p>
                     </div>                          
                     

                      <div class="form-group">
                        <label for="society_email_id" class="col-sm-4 control-label">Number of Wing<span class="mand">*</span></label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control"  placeholder="" ng-model="propertyform.>sequence_starts" name=">sequence_starts" ng-minlength="3" ng-maxlength="30" required>
                      
                        </div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-success btn-sm" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-ok">Apply</span></button>
                    
                        </div>
                      </div>
                     
                     <div class="form-group">
                     <table class="table table-hover">
                      <thead style="background: #658bde;">
                        <tr>
                          <th>Sr.No</th>
                          <th>Building Name</th>
                          <th>Number of Wings</th>
                           <th>No Wings</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td> <input type="text" class="form-control"  ng-model=""></td>
                          <td><input type="text" class="form-control"   ng-model=""></td>
                          <td><input type="checkbox"></td>
                        </tr>
                       
                      </tbody>
                    </table>
                     </div>
                      <div class="form-group">
                         <div class="col-sm-offset-6 col-sm-8">
                          <button type="submit" class="btn btn-warning" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-arrow-left"> Back </span></button>
                          <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-download-alt"> Save</span></button>
                          <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="addproperty()">Save & Next <span class="glyphicon glyphicon-download-alt"></span></button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- Row 2 End -->

              <!-- Row 3 Start -->
              <div class="row">
              <div class="col-lg-8 col-md-8">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                    Floor Details
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                     <form  name="form"  class="form-horizontal no-margin">
                     
                   
                      <div class="form-group">
                       <h4 class="col-sm-8 blue"><b>Filling building name and wing infomation in a building</b></h4>
                       <p class="col-sm-8">Please enter the names of the building of your society in the table below.</p>
                       
                     </div>                          
                      <div class="form-group">
                        <label for="society_email_id" class="col-sm-5 control-label">Number of Floors in Building ( for all Wings )<span class="mand">*</span></label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control"  placeholder="" ng-model="propertyform.>sequence_starts" name=">sequence_starts" ng-minlength="3" ng-maxlength="30" required>
                      
                        </div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-success btn-sm" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-ok">Apply</span></button>
                    
                        </div>
                      </div>
                     
                     <div class="form-group">
                     <table class="table table-hover">
                      <thead style="background: #658bde;">
                        <tr>
                          <th>Building Name</th>
                          <th>Wing Name</th>
                          <th>No Of Floors</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>akshay Towers</td>
                          <td> <input type="text" class="form-control"  ng-model=""></td>
                          <td><input type="text" class="form-control"   ng-model=""></td>
                        </tr>
                         <tr>
                          <td>akshay Towers</td>
                          <td> <input type="text" class="form-control"  ng-model=""></td>
                          <td><input type="text" class="form-control"   ng-model=""></td>
                        </tr>
                         <tr>
                          <td>akshay Towers</td>
                          <td> <input type="text" class="form-control"  ng-model=""></td>
                          <td><input type="text" class="form-control"   ng-model=""></td>
                        </tr>
                         <tr>
                          <td>akshay Towers</td>
                          <td> <input type="text" class="form-control"  ng-model=""></td>
                          <td><input type="text" class="form-control"   ng-model=""></td>
                        </tr>
                       </tbody>
                    </table>
                     </div>
                      <div class="form-group">
                         <div class="col-sm-offset-6 col-sm-8">
                          <button type="submit" class="btn btn-warning" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-arrow-left"> Back </span></button>
                          <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-download-alt"> Save</span></button>
                          <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="addproperty()">Save & Next <span class="glyphicon glyphicon-download-alt"></span></button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- Row 3 End -->

               <!-- Row 4 Start -->
              <div class="row">
              <div class="col-lg-8 col-md-8">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                    Unit Details 
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                     <form  name="form"  class="form-horizontal no-margin">
                      <div class="form-group">
                       <h4 class="col-sm-8 blue"><b> Search </b></h4>
                      </div>       

                        <div class="form-group">
                        <label for="building_name" class="col-sm-2 control-label">Building Name<span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                              <select id="building_name" class="form-control" ng-model="propertyform.building_name" name="building_name">
                                <option value="" selected>
                                  Select Society
                                </option>
                                <option value="Akshay_Towers">
                                  Akshay Towers
                                </option>
                                                             
                              </select>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="form-group">
                          <label for="state" class="col-sm-2 control-label"> Wing <span class="mand">*</span></label>
                          <div class="col-sm-8">
                            <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-4">
                                <select id="state" class="form-control" ng-model="propertyform.state" name="state">
                                  <option value="" selected>
                                    Select Wing
                                  </option>
                                  <option value="All">
                                    All
                                  </option>
                                 </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                        <label for="floor" class="col-sm-2 control-label">Floor (From) </label>
                        <div class="col-sm-8">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="floor" class="form-control" ng-model="propertyform.floor" name="floor">
                                <option value="" selected>
                                  Select Floor
                                </option>
                                <option value="g">
                                  G
                                </option>
                                <option value="f">
                                  F
                                </option>
                              </select>
                            </div>
                             <label for="state" class="col-sm-2 control-label"> Floor (To)</label>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="floor" class="form-control" ng-model="propertyform.floor" name="floor">
                                <option value="" selected>  
                                  Select City
                                </option>
                                <option value="11">
                                  11
                                </option>
                                <option value="12">
                                  12
                                </option>
                                <option value="13">
                                  13
                                </option>
                             </select>
                            </div> 
                          </div>
                        </div>
                      </div>

                        <div class="form-group">
                         <div class="col-sm-offset-6 col-sm-8">
                            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-search"></span> Search </button>
                        </div>
                      </div>

                     <hr>
                      <div class="form-group">
                       <h4 class="col-sm-8 blue"><b>Unit Details </b></h4>
                       <p class="col-sm-8">If all floors hava the same number of units, enter it here and click APPAY </p>
                       
                     </div>                          
                     <div class="form-group">
                        <label for="society_email_id" class="col-sm-4 control-label">Number Of Units In Floor(for all Floors) <span class="mand">*</span></label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control"  placeholder="" ng-model="propertyform.>sequence_starts" name=">sequence_starts" ng-minlength="3" ng-maxlength="30" required>
                      
                        </div>
                        <div class="col-sm-2">
                          <button type="submit" class="btn btn-success btn-sm" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-ok"> Apply</span></button>
                        </div>
                      </div>
                     
                    <div class="form-group">
                     <table class="table table-hover">
                      <thead style="background: #658bde;">
                        <tr>
                          <th>Building Name</th>
                          <th>Wing Name</th>
                          <th>Floor No</th>
                          <th>No of Units</th>
                          <th>Reserved for Parking / Others</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Akshay Towers</td>
                          <td>A</td>
                          <td>G</td>
                          <td> <input type="text" class="form-control"  ng-model=""></td>
                          <td><input type="checkbox"></td>
                        </tr>
                         <tr>
                          <td>Akshay Towers</td>
                          <td>A</td>
                          <td>G</td>
                          <td> <input type="text" class="form-control"  ng-model=""></td>
                          <td><input type="checkbox"></td>
                        </tr> <tr>
                          <td>Akshay Towers</td>
                          <td>A</td>
                          <td>G</td>
                          <td> <input type="text" class="form-control"  ng-model=""></td>
                          <td><input type="checkbox"></td>
                        </tr> <tr>
                          <td>Akshay Towers</td>
                          <td>A</td>
                          <td>G</td>
                          <td> <input type="text" class="form-control"  ng-model=""></td>
                          <td><input type="checkbox"></td>
                        </tr>
                       </tbody>
                     </table>
                   </div>
                      <div class="form-group">
                         <div class="col-sm-offset-6 col-sm-8">
                          <button type="submit" class="btn btn-warning" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-arrow-left"> Back </span></button>
                          <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-download-alt"> Save</span></button>
                          <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="addproperty()">Save & Next <span class="glyphicon glyphicon-download-alt"></span></button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- Row 4 End -->

            <!-- Row 5 Start -->
              <div class="row">
              <div class="col-lg-8 col-md-8">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                    Unit Information 
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                     <form  name="form" class="form-horizontal no-margin">
                      <div class="form-group">
                        <p class="col-sm-8" >if all units in society are sequential across the building. Please select there </p>
                        <h4 class="col-sm-8 blue"><b> Unit Numbering for upper floor </b></h4>
                        <p class="col-sm-8"> Select any one unit sequence from following list</p>
                      </div>       
  
                    <div class="form-group">
                     <table class="table table-hover">
                      <thead style="background: #658bde;">
                        <tr>
                          <th> Select </th>
                          <th> Sequence </th>
                          <th> First Floor </th>
                          <th> Second Floor </th>
                          <th> 10th Floor </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1 <input type="checkbox"></td>
                          <td>Two digit</td>
                          <td>11, 12,...</td>
                          <td>21,22,...</td>
                          <td>101,102,...</td>
                        </tr>
                         <tr>
                          <td>2 <input type="checkbox"></td>
                          <td>Two digit</td>
                          <td>11, 12,...</td>
                          <td>21,22,...</td>
                          <td>101,102,...</td>
                        </tr>
                         <tr>
                          <td>3 <input type="checkbox"></td>
                          <td>Two digit</td>
                          <td>11, 12,...</td>
                          <td>21,22,...</td>
                          <td>101,102,...</td>
                        </tr>
                         <tr>
                          <td>4 <input type="checkbox"></td>
                          <td>Two digit</td>
                          <td>11, 12,...</td>
                          <td>21,22,...</td>
                          <td>101,102,...</td>
                        </tr>
                        
                       </tbody>
                     </table>
                     </div>
                      <div class="form-group">
                        <p class="col-sm-8" >Above sequence applies to all unit as...</p>
                      </div>   

                       <div class="form-group">
                         <table class="table table-hover">
                          <thead style="background: #658bde;">
                            <tr>
                              <th> Select </th>
                              <th> Applicable Rule </th>
                              <th> Example </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1 <input type="checkbox"></td>
                              <td>on every floor, continue numbers for all wings</td>
                              <td>A101, A102, A103,, B104...</td>
                            </tr>
                             <tr>
                              <td>2 <input type="checkbox"></td>
                                <td>on every floor, continue numbers for all wings</td>
                              <td>A101, A102, A103,, B104...</td>
                            </tr>
                           </tbody>
                         </table>
                       </div>

                       <div class="form-group">
                        <h4 class="col-sm-8 blue"><b> Unit Numbering for ground floor </b></h4>
                        <p class="col-sm-8" > The units in ground floor are  numbered </p>
                       </div>

                         <div class="form-group ">
                      <div class="col-sm-8">   
                       <div class="radio">
                          <label class="control-label"><input type="radio" name="optradio">Sequentially (e.g- 1,2,3... A,B,C...)</label>
                        </div>
                        <div class="radio ">
                          <label class="control-label"><input type="radio" name="optradio" >Sequential with a prefix, please enter ground floor unit prefix here </label>
                        </div>
                        <div class="radio">
                          <label class="control-label"><input type="radio" name="optradio">Same as upper floor sequence.</label>
                        </div>
                        </div>
                    </div>


                   </div>
                      <div class="form-group">
                         <div class="col-sm-offset-6 col-sm-8">
                          <button type="submit" class="btn btn-warning" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-arrow-left"> Back </span></button>
                          <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="addproperty()"><span class="glyphicon glyphicon-download-alt"> Save</span></button>
                          <button type="submit" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="addproperty()">Save & Next <span class="glyphicon glyphicon-download-alt"></span></button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- Row 5 End -->

          </div>
          <!-- right Sidebar End -->

      
        </div>
        <!-- Dashboard Wrapper End -->
        </div>
