<style type="text/css">
    .validdate {
        color: red;
    }
</style>

<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <ul>
            <li><a class="heading">Create New Property</a></li>

        </ul>
        <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Branch mger name and city ...">
            <i class="fa fa-search"></i>
        </div>
    </div>
    <!-- Sub Nav End -->

    <!-- Dashboard Wrapper Start -->
    <div class="dashboard-wrapper" ng-controller="addpropertycontroller">

        <!-- Left Sidebar Start -->
        <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                Select Project
                            </div>
                        </div>
                        <div class="widget-body">
                            <form name="form" class="form-horizontal no-margin">

                                <!-- prjets -->

                                <div class="form-group">
                                    <label for="state" class="col-sm-2 control-label">Project Name <span class="mand">*</span></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <select id="project" class="form-control" ng-options="Project.ID as Project.project_name for Project in projects track by Project.ID" ng-model="propertyform.project_id" name="project_id" ng-change="changepro(propertyform.project_id)">
                                        </select>
                                        <!-- <select class="form-control" ng-options="pro as pro.project_name for pro in allprojects track by pro.ID" ng-model="project" ng-change="changepro(project)"></select> -->
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="state_city" class="col-sm-2 control-label">Select </label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <!-- <select id="State" class="form-control" ng-model="project_details.state">
                                                    <option value="" selected>
                                                        select phase
                                                    </option>
                                                </select> -->
                                                <select class="form-control" ng-options="phases as phases.name for phases in allphases track by phases.id" ng-model="project_details.state" ng-change="changephase(project_details.state)"></select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <!-- <select id="city" class="form-control" ng-model="project_details.city">
                                                    <option value="" selected>
                                                        select building
                                                    </option>
                                                </select> -->
                                                <select class="form-control" ng-options="buildings as buildings.name for buildings in allbuilding track by buildings.id" ng-model="project_details.city" ng-change="changebuilding(project_details.city)"></select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <!-- <select id="city" class="form-control" ng-model="project_details.city">
                                                    <option value="" selected>
                                                        select Wings
                                                    </option>
                                                </select> -->
                                                <select class="form-control" ng-options="wings as wings.name for wings in allwing track by wings.id" ng-model="project_details.city" ng-change="changewing(project_details.city)"></select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                                <!-- <select id="city" class="form-control" ng-model="project_details.city">
                                                    <option value="" selected>
                                                        Select Floor
                                                    </option>
                                                </select> -->
                                                <select class="form-control" ng-options="flats as flats.number for flats in allflat track by flats.id" ng-model="project_details.city" ng-change="changeflats(project_details.city)"></select>
                                            </div>

                                            <!-- <div class="col-md-4 col-sm-4 col-xs-4">
                                                <select id="city" class="form-control" ng-model="project_details.city">
                                                    <option value="" selected>
                                                        Select Flat No
                                                    </option>

                                                </select>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                                <!-- prjets end -->


            
                      
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row End -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="widget">
                        <div class="widget-header">
                            <div class="title">
                                Fill Property Info
                            </div>
                        </div>
                        <div class="widget-body">
                            <form name="form" class="form-horizontal no-margin">

                                <!--   <div class="form-group" ng-init="propertyform.property_type='residential'">
                                    <label for="lead_type" class="col-sm-2 control-label">Flat Use Type</label>
                                    <div class="col-sm-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="property_type" ng-model="propertyform.property_type" value="residential">Residential</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="property_type" ng-model="propertyform.property_type" value="commercial">Commercial</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="property_type" ng-model="propertyform.property_type" value="pg">PG/Hostel</label>
                                    </div>
                                </div> -->
                                

                                <!-- <div class="form-group" ng-switch="propertyform.property_type">
                                    <label for="residential_property" class="col-sm-2 control-label">Flat Details<span class="mand">*</span></label>
                                    <div ng-switch-when="residential">
                                        <div class="col-sm-8">
                                            <div class="row">

                                                <div class="col-md-5 col-sm-5 col-xs-5">
                                                    <select id="flat_type" class="form-control" ng-model="propertyform.flat_type" name="select_flat" required>
                                                        <option value="">
                                                            Select flat type
                                                        </option>
                                                        <option value="1RK">
                                                            1RK
                                                        </option>
                                                        <option value="1BHK">
                                                            1BHK
                                                        </option>
                                                        <option value="2BHK">
                                                            2BHK
                                                        </option>
                                                        <option value="3BHK">
                                                            3BHK
                                                        </option>
                                                        <option value="4BHK">
                                                            4BHK
                                                        </option>
                                                        <option value="5BHK">
                                                            5BHK
                                                        </option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <span ng-show="form.select_residental.$error.required" class="alert-danger">! Select Property type</span>
                                        <br>
                                        <span ng-show="form.select_flat.$error.required" class="alert-danger">! Select Flat type</span>
                                    </div>

                                    <div class="col-sm-8" ng-switch-when="pg">
                                        <div class="row">

                                            <div class="col-md-5 col-sm-5 col-xs-5">
                                                <select id="pg_category_type" class="form-control" ng-model="propertyform.pg_category_type" name="select_PG_Category" required>
                                                    <option value="">
                                                        PG Category Type
                                                    </option>
                                                    <option value="Girl Only">
                                                        Girl Only
                                                    </option>
                                                    <option value=" boys only">
                                                        boys only
                                                    </option>
                                                    <option value="Common">
                                                        Common
                                                    </option>
                                                    <option value="Couple">
                                                        Couple
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <span ng-show="form.select_PG.$error.required" class="alert-danger">! Select Property type</span>
                                        <br>
                                        <span ng-show="form.select_PG_Category.$error.required" class="alert-danger">! Select Flat type</span>
                                    </div>

                                </div> -->

                                <div class="form-group">
                                    <label for="  " class="col-sm-2 control-label">Flat Type<span class="mand">*</span></label>
                                    <div class="col-sm-8">

                                        <label class="radio-inline">
                                            <input type="radio" name="apartment_facility" ng-model="propertyform.apartment_facility" value="furnished">Furnished</label>

                                        <label class="radio-inline">
                                            <input type="radio" name="apartment_facility" ng-model="propertyform.apartment_facility" value="semifurnished">Semi Furnished</label>

                                        <label class="radio-inline">
                                            <input type="radio" name="apartment_facility" ng-model="propertyform.apartment_facility" value="unfurnished">Unfurnished</label>

                                    </div>
                                    <span ng-show="form.apartment_facility.$error.required" class="alert-danger">! Select Facility</span>
                                </div>

                                <div class="form-group" ng-switch="propertyform.apartment_facility">

                                    <div class="form-group">
                                        <label for="Property_name" class="col-sm-2 control-label">Flat Amenities<span class="mand">*</span></label>
                                        <div ng-switch-when="furnished">
                                            <div class="col-sm-2">
                                                <a data-toggle="modal" data-target="#modalMd">
                                                    <button type="submit" class="btn btn-info">Add Amenity</button>
                                                </a>
                                            </div>
                                        </div>
                                        <div ng-switch-when="semifurnished">
                                            <div class="col-sm-2">
                                                <a data-toggle="modal" data-target="#modalMd">
                                                    <button type="submit" class="btn btn-info">Add Amenity</button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <a data-toggle="modal" data-target="#otherchecklist">
                                                <button type="submit" class="btn btn-info">Other Check List</button>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="keyrdate" class="col-sm-2 control-label">Keys Received Date<span class="mand">*</span></label>
                                    <div class="col-sm-4">
                                        <input type="date" name="keyrdate" class="form-control" ng-model="propertyform.keyrdate" name="keyrdate" required min="{{today}}">
                                        <span ng-show="form.keyrdate.$dirty && form.keyrdate.$invalid">
                            <span ng-show="form.keyrdate.$error.required" class="validdate">Date is required
                            </span>
                                        <span ng-show="form.keyrdate.$error.min" class="validdate">Date should not be less than current date</span>
                                        </span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="propertyupload" class="col-sm-2 control-label">upload photo</label>
                                    <div class="col-sm-4">
                                        <input type="file" class="form-control" name="propertyupload" ng-model="propertyform.propertyupload">
                                     </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <!-- Modal -->
                                        <div class="modal fade" id="modalMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
                                            <div class="modal-dialog" style="width: 100%;padding-left: 16%;">
                                                <div class="modal-content" style="width: 80%;">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel5">Flat Amenities </h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="widget-body">
                                                            <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:15%">
                                                                            Select Type
                                                                        </th>
                                                                        <th style="width:10%">
                                                                            Yes or No
                                                                        </th>
                                                                        <th style="width:15%" class="hidden-xs">
                                                                            No Of Units
                                                                        </th>
                                                                        <th style="width:50%" class="hidden-xs">
                                                                            Remark / Descriptions
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                          Fan 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="fan" value="fan" onchange="document.getElementById('fan').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="fan" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="fan" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                         Tube  
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Tube" value="Tube" onchange="document.getElementById('Tube').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Tube" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Tube" placeholder="description" disabled>
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                         Bulb  
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Bulb" value="Bulb" onchange="document.getElementById('Bulb').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Bulb" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Bulb" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                         Bed  
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Bed" value="Bed" onchange="document.getElementById('Bed').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Bed" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Bed" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                         Cots  
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Cots" value="Cots" onchange="document.getElementById('Cots').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Cots" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Cots" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                         Cupboards  
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Cupboards" value="Cupboards" onchange="document.getElementById('Cupboards').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Cupboards" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Cupboards" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                         Geyser 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Geyser" value="Geyser" onchange="document.getElementById('Geyser').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Geyser" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Geyser" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                         Tv 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Tv" value="Tv" onchange="document.getElementById('Tv').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Tv" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Tv" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                         Fridge 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Fridge" value="Fridge" onchange="document.getElementById('Fridge').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Fridge" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Fridge" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                         Washing Machine 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Washing" value="Washing" onchange="document.getElementById('Washing').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Washing" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Washing" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        Wardrobe  
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="Wardrobe" value="Wardrobe" onchange="document.getElementById('Wardrobe').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Wardrobe" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="Wardrobe" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        water purifier 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="purifier" value="purifier" onchange="document.getElementById('purifier').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="purifier" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="purifier" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        modular kitchen 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="modular" value="modular" onchange="document.getElementById('modular').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="modular" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="modular" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        kitchen utensils 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="kitchen_utensils" value="kitchen_utensils" onchange="document.getElementById('kitchen_utensils').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="kitchen_utensils" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="kitchen_utensils" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        music system 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="music_system" value="music_system" onchange="document.getElementById('music_system').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="music_system" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="music_system" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        mattress 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="mattress" value="mattress" onchange="document.getElementById('mattress').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="mattress" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="mattress" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        bed sheet 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="bed_sheet" value="bed_sheet" onchange="document.getElementById('bed_sheet').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="bed_sheet" placeholder="description" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="bed_sheet" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        pillow 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="pillow" value="pillow" onchange="document.getElementById('pillow').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="pillow" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="pillow" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        mirror 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="mirror" value="mirror" onchange="document.getElementById('mirror').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="mirror" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="mirror" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        shoe rack 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="shoe_rack" value="shoe_rack" onchange="document.getElementById('shoe_rack').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="shoe_rack" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="shoe_rack" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        intercom device 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="intercom_device" value="intercom_device" onchange="document.getElementById('intercom_device').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="intercom_device" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="intercom_device" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        video door phone 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="video_door_phone" value="video_door_phone" onchange="document.getElementById('video_door_phone').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="video_door_phone" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="video_door_phone" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                        DTH device 
                                        </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="dth_device" value="dth_device" onchange="document.getElementById('dth_device').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="dth_device" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="dth_device" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-3 col-sm-8">
                                                            <button type="submit" class="btn btn-info">Create Checking Report</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--  -->

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <!-- Modal -->
                                        <div class="modal fade" id="otherchecklist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
                                            <div class="modal-dialog" style="width: 100%;padding-left: 16%;">
                                                <div class="modal-content" style="width: 80%;">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel5">Other Check List</h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        <div class="widget-body">
                                                            <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:15%">
                                                                            Select Type
                                                                        </th>
                                                                        <th style="width:10%">
                                                                            Yes or No
                                                                        </th>
                                                                        <th style="width:15%" class="hidden-xs">
                                                                            No Of Units
                                                                        </th>
                                                                        <th style="width:50%" class="hidden-xs">
                                                                            Remark / Descriptions
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             curtain rods
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="curtain_rods" value="curtain_rods" onchange="document.getElementById('curtain_rods').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="curtain_rods" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="curtain_rods" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             siding windows
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="siding_windows" value="siding_windows" onchange="document.getElementById('siding_windows').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="siding_windows" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="siding_windows" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             balcony
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="balcony" value="balcony" onchange="document.getElementById('balcony').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="balcony" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="balcony" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             electric connection
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="electric_connection" value="electric_connection" onchange="document.getElementById('electric_connection').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="electric_connection" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="electric_connection" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             tiles
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="tiles" value="tiles" onchange="document.getElementById('tiles').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="tiles" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="tiles" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             bathroom glass
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="bathroom_glass" value="bathroom_glass" onchange="document.getElementById('bathroom_glass').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="bathroom_glass" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="bathroom_glass" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             sink
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="sink" value="sink" onchange="document.getElementById('sink').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="sink" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="sink" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             door latch
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="door_latch" value="door_latch" onchange="document.getElementById('door_latch').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="door_latch" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="door_latch" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             wash besin
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="wash_besin" value="wash_besin" onchange="document.getElementById('wash_besin').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="wash_besin" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="wash_besin" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             plumbing issues
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="plumbing_issues" value="plumbing_issues" onchange="document.getElementById('plumbing_issues').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="plumbing_issues" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="plumbing_issues" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="name">
                                                                             cleaning done
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <center>
                                                                                <input type="checkbox" name="cleaning_done" value="cleaning_done" onchange="document.getElementById('cleaning_done').disabled = !this.checked;">
                                                                            </center>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="cleaning_done" placeholder="No Of Units" disabled>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="cleaning_done" placeholder="description" disabled>
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-3 col-sm-8">
                                                            <button type="submit" class="btn btn-info">Create Checking Report</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <button type="submit" class="btn btn-info btn-block" ng-disabled="form.$invalid" ng-click="addproperty()">Create New Proprety</button>
                                    </div>
                                </div>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Left Sidebar End -->

        <!-- Right Sidebar Start -->
        <div class="right-sidebar">
            <div class="wrapper">
                <button class="btn btn-block btn-info" type="button">
                    Block level button
                </button>
            </div>
            <div class="wrapper">
                <button class="btn btn-block btn-success" type="button">
                    Block level button
                </button>
            </div>
            <div class="wrapper">
                <button class="btn btn-block btn-warning" type="button">
                    Block level button
                </button>
            </div>

            <hr class="hr-stylish-1">

            <div class="wrapper">
                <ul class="progress-stats">
                    <li>
                        <div class="details">
                            <span>Windows</span>
                            <span class="pull-right">78%</span>
                        </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <span>Windows 8</span>
                            <span class="pull-right">32%</span>
                        </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <span>Mac</span>
                            <span class="pull-right">84%</span>
                        </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <span>Linux</span>
                            <span class="pull-right">44%</span>
                        </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="details">
                            <span>IPhone/IPad</span>
                            <span class="pull-right">67%</span>
                        </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <hr class="hr-stylish-1">

            <div class="wrapper">
                <div class="btn-toolbar no-margin">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success">
                            <i class="fa fa-headphones"></i>
                        </a>
                        <a href="#" class="btn btn-warning">
                            <i class="fa fa-thumbs-down"></i>
                        </a>
                        <a href="#" class="btn btn-danger">
                            <i class="fa fa-tasks"></i>
                        </a>
                        <a href="#" class="btn btn-info">
                            <i class="fa fa-thumbs-up"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Sidebar End -->
    </div>
    <!-- Dashboard Wrapper End -->
</div>