<style>
    /* Icon when the collapsible content is shown */
    
    .btnp:after {
        /*font-family: "Glyphicons Halflings";*/
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    
    .btnp.collapsed:after {
        content: "\e080";
    }
    
    .btn_f {
        margin: -10px 0 !important;
    }
    
    .validdate {
        color: red;
    }
    
    .form-control {
        height: 32px;
    }
    
    .form-horizontal .control-label {
        padding-top: 2px;
    }
</style>
<div class="container">
    <!-- Sub Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
        <div class="widget-header">
            <div class="title" style="font-size: 20px;margin-left: 17px;color: #f1f1f1;">
                Add Project Information
            </div>
        </div>
    </div>
    <!-- Sub Nav End -->
    <!-- Row Start -->

    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">

                            <h4 class="panel-title"> Basic Information </h4>
                        </div>

                        <!-- edit s -->
                        <div class="panel-body">
                            <form name="myForm" class="form-horizontal no-margin">

                                <div class="col-lg-12 col-md-12">

                                    <div class="form-group">
                                        <label for="birthdate" class="col-sm-2 control-label">Project Name:</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" ng-model="project_details.project_name" name="project_name" placeholder="Project Name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="project_add *" class="col-sm-2 control-label">Project Address<span class="mand">*</span></label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" rows="2" id="project_add" ng-model="project_details.project_add" placeholder="Project Address"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="state_city" class="col-sm-2 control-label">State / City </label>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <select id="State" class="form-control" ng-model="project_details.state">
                                                        <option value="" selected>
                                                            State
                                                        </option>
                                                        <option value="Maharashtra">
                                                            Maharashtra
                                                        </option>
                                                        <option value="Manipur">
                                                            Manipur
                                                        </option>
                                                        <option value="Punjab">
                                                            Punjab
                                                        </option>
                                                        <option value="Jharkhand">
                                                            Jharkhand
                                                        </option>
                                                        <option value="Jammu and Kashmir">
                                                            Jammu and Kashmir
                                                        </option>
                                                        <option value="Uttar Pradesh">
                                                            Uttar Pradesh
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <select id="city" class="form-control" ng-model="project_details.city">
                                                        <option value="" selected>
                                                            City
                                                        </option>
                                                        <option value="Pune">
                                                            Pune
                                                        </option>
                                                        <option value="Nagpur">
                                                            Nagpur
                                                        </option>
                                                        <option value="Thane">
                                                            Thane
                                                        </option>
                                                        <option value="Nashik">
                                                            Nashik
                                                        </option>
                                                        <option value="Pimpri Chinchwad5">
                                                            Pimpri Chinchwad
                                                        </option>
                                                        <option value="Kalyan-Dombivali">
                                                            Kalyan-Dombivali
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <input type="text" class="form-control" id="pincode" ng-model="project_details.pin_code" placeholder="Pin Code">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  -->

                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">

                                            <div class="col-sm-2">
                                                <a class="btn btn-info form-control" ng-click="addproject()">Edit</a>
                                            </div>
                                            <div class="col-sm-2">
                                                <a class="btn btn-info form-control" ng-click="addproject()">Save</a>
                                            </div>
                                            <div class="col-sm-2">
                                                <a class="btn btn-info form-control" ng-click="addproject()">Next</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                        <!-- edit end -->
                    </div>
                </div>
                <!-- owner regin -->
            </div>
        </div>
    </div>
    <!-- Row End -->

    <!-- Phase Setup -->
    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">

                            <h4 class="panel-title"> Phase Setup </h4>
                        </div>

                        <!-- edit s -->
                        <div class="panel-body">
                            <form name="myForm" class="form-horizontal no-margin">

                                <div class="col-lg-12 col-md-12">

                                    <div class="form-group">
                                        <label for="lead_type" class="col-sm-2 control-label">Do You Have a Phases</label>
                                        <div class="col-sm-4">
                                            <label class="radio-inline">
                                                <input type="radio" name="Pheses" ng-model="project_details.phase" value="yes_phase">Yes</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="Pheses" ng-model="project_details.phase" value="no_phase">No</label>
                                        </div>
                                    </div>

                                    <div ng-switch="project_details.phase">

                                        <div ng-switch-when="yes_phase">
                                            <div class="form-group">
                                                <label for="phase_count" class="col-sm-2 control-label">How Many Phases<span class="mand">*</span></label>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <select id="State" class="form-control" ng-model="project_details.phase_count">
                                                        <option value="" selected>
                                                            Select Number
                                                        </option>
                                                        <option value="1">
                                                            1
                                                        </option>
                                                        <option value="2">
                                                            2
                                                        </option>
                                                        <option value="3">
                                                            3
                                                        </option>
                                                        <option value="4">
                                                            4
                                                        </option>
                                                        <option value="5">
                                                            5
                                                        </option>
                                                        <option value="6">
                                                            6
                                                        </option>
                                                    </select>
                                                </div>
                                                {{project_details.phase_count}}
                                            </div>

                                            <div class="form-group">
                                                <label for="phase_no" class="col-sm-2 control-label">Select Phases Number<span class="mand">*</span></label>

                                                <div class="col-sm-2">
                                                    <select id="State" class="form-control" ng-model="project_details.phase_no">
                                                        <option value="" selected>
                                                            Select Number
                                                        </option>
                                                        <option value="1">
                                                            1
                                                        </option>
                                                        <option value="2">
                                                            2
                                                        </option>
                                                        <option value="3">
                                                            3
                                                        </option>

                                                    </select>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="phase_count" class="col-sm-2 control-label">How Building In Phase<span class="mand">*</span></label>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <select id="State" class="form-control" ng-model="project_details.building_count">
                                                        <option value="" selected>
                                                            Select Building no
                                                        </option>
                                                        <option value="1">
                                                            1
                                                        </option>
                                                        <option value="2">
                                                            2
                                                        </option>
                                                        <option value="3">
                                                            3
                                                        </option>
                                                        <option value="4">
                                                            4
                                                        </option>
                                                        <option value="5">
                                                            5
                                                        </option>
                                                        <option value="6">
                                                            6
                                                        </option>
                                                    </select>
                                                </div>
                                                {{project_details.phase_count}}
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-8">
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Back</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Edit</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Save</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Next</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Phase Setup end-->

    <!-- building setup -->
    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">

                            <h4 class="panel-title"> Building Setup </h4>
                        </div>

                        <div class="panel-body">

                            <form name="myForm" class="form-horizontal no-margin">

                                <div class="col-lg-12 col-md-12">

                                    <div class="form-group">
                                        <label for="lead_type" class="col-sm-2 control-label">Building Has Name ? </label>
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" name="buildings" ng-model="project_details.building_name" value="yes_building_name">Yes</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="buildings" ng-model="project_details.building_name" value="no_building_name">No</label>
                                        </div>
                                    </div>

                                    <div ng-switch="project_details.building_name">

                                        <div ng-switch-when="yes_building_name">

                                            <div class="form-group">
                                                <label for="wings_name" class="col-sm-2 control-label">Add building Name<span class="mand">*</span></label>
                                                <div class="col-sm-8">
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="building_na" placeholder="building name" ng-model="project_details.building_na" name="building_na">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="building_na" placeholder="building name" ng-model="project_details.building_na" name="building_na">
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="building_na" placeholder="building name" ng-model="project_details.building_na" name="building_na">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="building_na" placeholder="building name" ng-model="project_details.building_na" name="building_na">
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="building_na" placeholder="building name" ng-model="project_details.building_na" name="building_na">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-8">
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Back</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Edit</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Save</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Next</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- building setup end-->

    <!-- wing setup -->
    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">

                            <h4 class="panel-title"> Wing Setup </h4>
                        </div>

                        <div class="panel-body">
                            <form name="myForm" class="form-horizontal no-margin">

                                <div class="col-lg-12 col-md-12">

                                    <div class="form-group">
                                        <label for="lead_type" class="col-sm-2 control-label">Building Has Wings</label>
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" name="Wings" ng-model="project_details.wing" value="yes_wing">Yes</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="Wings" ng-model="project_details.wing" value="no_wing">No</label>
                                        </div>
                                    </div>

                                    <div ng-switch="project_details.wing">
                                        <div ng-switch-when="yes_wing">

                                            <div class="form-group">
                                                <label for="phase_count" class="col-sm-2 control-label">Wings In Each Building <span class="mand">*</span></label>
                                                <div class="col-md-10">
                                                    <div class="col-md-10">
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="building_na" placeholder="building name" ng-model="project_details.building_names" name="building_na">
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                                            <select id="State" class="form-control" ng-model="project_details.select_building">
                                                                <option value="" selected>
                                                                    Select Wings
                                                                </option>
                                                                <option value="1">
                                                                    1
                                                                </option>
                                                                <option value="2">
                                                                    2
                                                                </option>
                                                                <option value="3">
                                                                    3
                                                                </option>
                                                                <option value="4">
                                                                    4
                                                                </option>
                                                                <option value="5">
                                                                    5
                                                                </option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-10">
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="building_na" placeholder="building name" ng-model="project_details.building_names" name="building_na">
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                                            <select id="State" class="form-control" ng-model="project_details.select_building">
                                                                <option value="" selected>
                                                                    Select Wings
                                                                </option>
                                                                <option value="1">
                                                                    1
                                                                </option>
                                                                <option value="2">
                                                                    2
                                                                </option>
                                                                <option value="3">
                                                                    3
                                                                </option>
                                                                <option value="4">
                                                                    4
                                                                </option>
                                                                <option value="5">
                                                                    5
                                                                </option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-8">
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Back</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Edit</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Save</a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <a class="btn btn-info form-control" ng-click="addproject()">Next</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- wing setup end-->

    <!-- floor setup -->
    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">

                            <h4 class="panel-title"> Floor Setup </h4>
                        </div>

                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- floor setup end-->

    <!-- flats on floor setup -->
    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">

                            <h4 class="panel-title"> Flats On Floor Setup </h4>
                        </div>

                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- flats on floor setup end-->

    <div class="widget no-margin" style="padding-bottom: 0px;">
        <div class="widget-body editLead" style="padding-bottom: 0%;">
            <div class="row" ng-controller="projectController">
                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-info ">
                        <div class="panel-heading">

                            <h4 class="panel-title"> Floor </h4>
                        </div>

                        <!-- edit s -->
                        <div class="panel-body">
                            <!-- table -->
                            <div class="col-md-10">
                                <div class="widget-body">
                                    <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                                        <thead>
                                            <tr class="info">
                                                <th style="width:5%">
                                                    sr.no
                                                </th>
                                                <th style="width:20%">
                                                    Phase
                                                </th>
                                                <th style="width:15%">
                                                    Building
                                                </th>
                                                <th style="width:10%">
                                                    Wing
                                                </th>
                                                <th style="width:15%">
                                                    Floor
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="name" ng-bind="$index +1">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">pink</span>
                                                </td>
                                                <td>
                                                    <span class="name">kasturi</span>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control" id="building_na" placeholder="Floor" ng-model="project_details.floor" name="floor">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="name" ng-bind="$index +1">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">pink</span>
                                                </td>
                                                <td>
                                                    <span class="name">mogara</span>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control" id="building_na" placeholder="Floor" ng-model="project_details.floor" name="floor">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="name" ng-bind="$index +1">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">1</span>
                                                </td>
                                                <td>
                                                    <span class="name">yello</span>
                                                </td>
                                                <td>
                                                    <span class="name">rose</span>
                                                </td>

                                                <td>
                                                    <input type="text" class="form-control" id="building_na" placeholder="Floor" ng-model="project_details.floor" name="floor">

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- teble end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Main Container end -->