

 <div class="container" onload="confirm()">
        <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#/property" class="heading">Available Property</a></li>
             <li class="hidden-sm hidden-xs">
              <a href="#/addproperty" >Add New Property</a>
            </li>
             <li class="hidden-sm hidden-xs">
              <a href="#/property_details">Property Details</a>
            </li>

          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Property ..." ng-model="searchproperty">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="showpropertyController as propertyctrl" >
          
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Available Property
                    </div>
                  </div>
                  <div class="widget-body clearfix">
                    <div class="row">
<!-- 
                   [{"property_type":"commercial",
                  "property_name":"test1",
                  "apartment_facility":"furnished",
                  "residential_property":"null",
                  "commercial_property":"Commercial Shop",
                  "flat_type":"3BHK",
                  "pg_type":"null",
                  "pg_category_type":"null",
                  "property_Add":"3rd Floor, Kasturi Heights, Plot No. 6, Chinchwad.",
                  "state":"Maharashtra",
                  "city":"1",
                  "pincode":"545454",
                  "building_name":"kasturi",
                  "flat_shop_unit_no":"test1",
                  "wing":"test1",
                  "lene1":"3","lene2":"test1",
                  "society_amenities":"Swimming Pool,Power Back Up ,Playground",
                  "property_photo":"null",
                  "keyrdate":"2016-04-21",
                  "followup_service":"null"}] -->
                     <div ng-repeat="prop in properties | filter:searchproperty" >
                       
                   
                    <div class="col-sm-3 col-md-3" >
                        <div class="thumbnail">
                          <img data-src="holder.js/300x200" alt="300x200" src="img/home.jpg" onload="loadImage()" style="width: 300px; height: 200px;">
                          <div class="caption">
                            <h4 ng-if="prop.property_name !== null"> {{prop.property_name}}</h4>
                            <b ng-if="prop.society_amenities !== null">Property Description: {{prop.society_amenities}}</b><p>
                            <span  class="akbd" ng-if="prop.property_type !== null">{{prop.property_type}}</span>
                            <span  class="ykbd" ng-if="prop.apartment_facility !== null">{{prop.apartment_facility}}</span>
                            <span  class="bkbd" ng-if="prop.flat_type !== null">{{prop.flat_type}}</span>
                            <span  class="bbkbd" ng-if="prop.residential_property !== null">{{prop.residential_property}}</span>
                            <span  class="bbkbd" ng-if="prop.commercial_property !== null">{{prop.commercial_property}}</span>
                           
                            <span  class="airkbd">700</span>
                            <span  class="pkbd">Pets: Yes</span>


                          <!--    <span  class="akbd">Apartment</span>
                            <span  class="ykbd">Year: 2003</span>
                            <span  class="bkbd">Bedrooms: 2</span>
                            <span  class="bbkbd">Baths: 1</span>
                            <span  class="airkbd">700</span>
                            <span  class="pkbd">Pets: Yes</span> -->
                            </p>
                            <h5  class="pull-right"><b>Rate: 18000</b></h5>
                            <div><a href="#/property_details/{{prop.property_id}}" class="btn btn-info ">Check Property</a></div>
                          </div>
                        </div>
                      </div>
                       </div>
                      
                
                       
                         
                            
                                
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->
 

        </div>
        <!-- Dashboard Wrapper End -->
</div>
<script>


    function confirm() {
       document.getElementById("demo").innerHTML = text;
      };


</script>
  