
                  
           
  <style type="text/css">
    strong {
          font-size: small;
          color: #333;
        }
    span {
              font-size: 14px;
              color: #4d4d4d;
        }
     .btn_f {
    margin: -10px 0 !important;
      }
  </style>
  <div class="container" ng-init="fetchAllProject()">
            <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#" class="heading">Project Details</a></li>
          </ul>
        
        </div>
        <!-- Sub Nav End -->
  <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper-lg">
        
          <!-- Blog Container Start -->
          <div class="blog-container">
                 <!-- Row Start -->
                <div class="row">
                  <div class="col-md-3">
                  <img src="../../img/home.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                 
                  </div>
               
                  <!--   {{propertyDetails.PropertyDetail}} -->
                   <div class="col-md-9 ">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                          <div class="panel panel-info ">
                             <div class="panel-heading">
                               <button type="button" ng-click="toggle()" class="btn btn_f btn-info pull-right"> Edit/Show Project Details </button>
                                <h4 class="panel-title">PROJECT INFO</h4>
                              </div>
                         
 
                            <div class="panel-body" ng-show="myVar">
                                <div class="col-md-4">
                                <strong>Porject Name :</strong>
                                <span ng-bind="projectDetail.ProjectDetail.project_name"></span>
                                </div>
                                 <div class="col-md-8">
                                <strong>Project Address : </strong>
                                <span ng-bind="projectDetail.ProjectDetail.project_add"></span>
                                </div>
                                <div class="col-md-4">
                                    <strong>State  : </strong>
                                    <span ng-bind="projectDetail.ProjectDetail.state"></span>
                                </div>
                                <div class="col-md-4">
                                  <strong>City : </strong>
                                  <span ng-bind="projectDetail.ProjectDetail.city"></span>
                                </div>
                                <div class="col-md-4">
                                  <strong>Pin Code : </strong>
                                  <span ng-bind="projectDetail.ProjectDetail.pin_code"></span>
                                </div>
                            </div>

                             <div class="panel-body" ng-show="myPar" >
                                    <form name="myForm" class="form-horizontal no-margin">
                                    
                                    <div class="col-lg-12 col-md-12">
                                       <div class="form-group">
                                          <label for="birthdate" class="col-sm-3 control-label">Porject Name :</label>
                                            <div class="col-sm-5">
                                             <input type="text" class="form-control"  ng-model="projectDetail.ProjectDetail.project_name" placeholder="Project Name">
                                            </div>
                                      </div> 
                                      <div class="form-group">
                                        <label for="Owner_Add *" class="col-sm-3 control-label">Owner Address<span class="mand">*</span></label>
                                        <div class="col-sm-8">
                                           <textarea class="form-control" rows="2" id="Owner_Add"  ng-model="projectDetail.ProjectDetail.project_add"  placeholder="Owner Address "></textarea>
                                        </div>
                                      </div>

                                          <div class="form-group">
                                        <label for="state_city" class="col-sm-3 control-label">State / City </label>
                                        <div class="col-sm-8">
                                          <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                              <select id="State" class="form-control"  ng-model="projectDetail.ProjectDetail.state">
                                                <option value="" selected>
                                                  State
                                                </option>
                                                <option value="Maharashtra">
                                                  Maharashtra
                                                </option>
                                                <option value="Manipur">
                                                  Manipur
                                                </option>
                                                <option value="Punjab">
                                                  Punjab
                                                </option>
                                                <option value="Jharkhand">
                                                  Jharkhand
                                                </option>
                                                <option value="Jammu and Kashmir">
                                                  Jammu and Kashmir
                                                </option>
                                                <option value="Uttar Pradesh">
                                                  Uttar Pradesh 
                                                </option> 
                                              </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4">
                                              <select id="city" class="form-control"  ng-model="projectDetail.ProjectDetail.city">
                                                <option value="" selected>
                                                  City
                                                </option>
                                                <option value="Pune">
                                                  Pune
                                                </option>
                                                <option value="Nagpur">
                                                  Nagpur
                                                </option>
                                                <option value="Thane">
                                                  Thane
                                                </option>
                                                <option value="Nashik">
                                                  Nashik
                                                </option>
                                                <option value="Pimpri Chinchwad5">
                                                  Pimpri Chinchwad
                                                </option>
                                                <option value="Kalyan-Dombivali">
                                                  Kalyan-Dombivali
                                                </option>
                                              </select>
                                            </div> 
                                              <div class="col-md-4 col-sm-4 col-xs-4">
                                                 <input type="text" class="form-control" id="pincode"  ng-model="projectDetail.ProjectDetail.pin_code"  placeholder="Pin Code">
                                              </div>
                                          </div>
                                        </div>
                                      </div>



                                    </div>
                                     <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-5">
                                          <a class="btn btn-info form-control" ng-disabled="myForm.$invalid" ng-click="projectDetail.addProjectUpdata()">Save</a>
                                        </div>
                                      </div>
                                    </form>
                             </div>       
                          </div>
                      </div> 
                   </div>



                </div>
                <!-- Row Ends -->


          </div>
          <!-- Blog Container End -->

        </div>
        <!-- Dashboard Wrapper End -->
        </div>

                         



                                
                             


                                
                             