  <style type="text/css">
    strong {
          font-size: small;
          color: #333;
        };
    span {
              font-size: 14px;
              color: #4d4d4d;
        };
  </style>
  <div class="container">
            <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#/property" class="heading">Proprety Details</a></li>
          </ul>
        
        </div>
        <!-- Sub Nav End -->
  <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper-lg">
        
          <!-- Blog Container Start -->
          <div class="blog-container">
                 <!-- Row Start -->
                <div class="row">
            
                  <div class="col-md-6">
                    
                   
                    <div class="blog-wrapper">
                      <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden; visibility: hidden; background-color: #24262e;">
                        <!-- Loading Screen -->
                        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                        <div style="position:absolute;display:block;background:url('img/slider/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                        </div>
                        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 356px; overflow: hidden;">
                        <div data-p="144.50" style="display: none;">
                        <img data-u="image" src="img/slider/01.jpg" />
                        <img data-u="thumb" src="img/slider/thumb-01.jpg" />
                        </div>
                        <div data-p="144.50" style="display: none;">
                        <img data-u="image" src="img/slider/02.jpg" />
                        <img data-u="thumb" src="img/slider/thumb-02.jpg" />
                        </div>
                        <div data-p="144.50" style="display: none;">
                        <img data-u="image" src="img/slider/03.jpg" />
                        <img data-u="thumb" src="img/slider/thumb-03.jpg" />
                        </div>
                        <div data-p="144.50" style="display: none;">
                        <img data-u="image" src="img/slider/04.jpg" />
                        <img data-u="thumb" src="img/slider/thumb-04.jpg" />
                        </div>
                        </div>
                        <!-- Thumbnail Navigator -->
                        <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
                        <!-- Thumbnail Item Skin Begin -->
                        <div data-u="slides" style="cursor: default;">
                        <div data-u="prototype" class="p">
                        <div class="w">
                        <div data-u="thumbnailtemplate" class="t"></div>
                        </div>
                        <div class="c"></div>
                        </div>
                        </div>
                        <!-- Thumbnail Item Skin End -->
                        </div>
                        <!-- Arrow Navigator -->
                        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
                        <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
                        </div>
                    </div>
                    <!-- Blog One Ends -->
                    <br>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                          <div class="panel panel-info ">
                             <div class="panel-heading">
                                <h4 class="panel-title">TENANT DETAILS</h4>
                              </div>
                         

                     <table class="table table-responsive table-striped table-bordered table-hover no-margin">
                      <thead>
                       <tr class="info">
                          <th style="width:5%" >
                           sr.no
                          </th>
                          <th style="width:20%">
                           Tenant Name
                          </th>
                           <th style="width:15%">
                           Mobile No
                          </th>
                         <th style="width:10%" >
                            Tenant Profile
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                   <!--    {{TenantDetail}} -->
                      <tr  ng-repeat="tenant in TenantDetail">
                         <td >
                            <span class="name" ng-bind="$index +1"></span>
                          </td>
                          <td>
                            <span class="name" ng-bind="tenant.person_name"></span>
                          </td>
                           <td>  
                          <span class="name" ng-bind="tenant.contact_number"></span>
                          </td>
                         <td>
                            <div class="btn-group btn-group-xs">
                               <a href="#/tenant_details/{{tenant.ID}}" class="btn btn-primary">Tenant profile</a>
                           </div>
                          </td>
                        </tr> 
                      </tbody>
                    </table>
                            
                          </div>
                      </div> 
                  </div>
               
                    <!--   {{propertyDetails.PropertyDetail}} -->
                   <div class="col-md-6 ">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                          <div class="panel panel-info ">
                             <div class="panel-heading">
                                <h4 class="panel-title">{{propertyDetails.PropertyDetail.property_type | uppercase}} PROPERTY</h4>
                             </div>
                         

                            <div class="panel-body"  >
                                <div class="col-md-6">
                                <strong>Property Name : </strong><span ng-bind="propertyDetails.PropertyDetail.property_name"></span>
                                </div>
                                 <div class="col-md-6">
                                <strong>Building Name : </strong><span ng-bind="propertyDetails.PropertyDetail.building_name"></span>
                                </div>
                                <div class="col-md-6">
                                  <strong>Apartment Facility : </strong><span ng-bind="propertyDetails.PropertyDetail.apartment_facility"></span>
                                </div>
                                <div class="col-md-6"  ng-if=" propertyDetails.PropertyDetail.residential_property}} !== null">
                                    <strong>Residential Property : </strong><span ng-bind="propertyDetails.PropertyDetail.residential_property"></span>
                                </div>
                                <div class="col-md-6" ng-if=" propertyDetails.PropertyDetail.commercial_property !== null" >
                                    <strong>Commercial Property : </strong><span ng-bind="propertyDetails.PropertyDetail.commercial_property"></span>
                                </div>
                                <div class="col-md-6" ng-if=" propertyDetails.PropertyDetail.flat_type !== null">
                                  <strong>Flat Type : </strong><span ng-bind="propertyDetails.PropertyDetail.flat_type"></span>
                                </div>
                                <div class="col-md-6" ng-if=" propertyDetails.PropertyDetail.pg_type !== null">
                                  <strong>PG Type : </strong><span ng-bind="propertyDetails.PropertyDetail.pg_type"></span>
                                </div>
                                 <div class="col-md-6" ng-if=" propertyDetails.PropertyDetail.pg_category_type !== null">
                                  <strong>PG Category Type : </strong><span ng-bind="propertyDetails.PropertyDetail.pg_category_type"></span>
                                </div>
                                 <div class="col-md-6" ng-if=" propertyDetails.PropertyDetail.flat_shop_unit_no !== null">
                                  <strong>Flat Shop Unit No : </strong><span ng-bind="propertyDetails.PropertyDetail.flat_shop_unit_no"></span>
                                </div>
                               
                                <div class="col-md-6" ng-if=" propertyDetails.PropertyDetail.followup_service !== null">
                                  <strong>Service Package Activation : </strong><span ng-bind="propertyDetails.PropertyDetail.followup_service"></span>
                                </div> 
                                <!-- <div class="col-md-6">
                                  <strong>Property Photo : </strong><span ng-bind="propertyDetails.PropertyDetail.property_photo"></span>
                                </div> 
                                <div class="col-md-6">
                                  <strong>Key Received Date : </strong><span ng-bind="propertyDetails.PropertyDetail.keyrdate"></span>
                                </div>  -->
                                
                            </div>
                          </div>
                      </div> 
                            
                      <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                          <div class="panel panel-info ">
                             <div class="panel-heading">
                                <h4 class="panel-title">PROPERTY ADDRESS</h4>
                              </div>
                            <div class="panel-body">
                              
                                <div class="col-md-12">
                                  <strong>Property Address : </strong><span ng-bind="propertyDetails.PropertyDetail.property_Add"></span>
                                </div>
                                 <div class="col-md-6">
                                  <strong>City : </strong><span ng-bind="propertyDetails.PropertyDetail.city"></span>
                                </div>
                                 <div class="col-md-6">
                                  <strong>State : </strong><span ng-bind="propertyDetails.PropertyDetail.state"></span>
                                </div>
                                 <div class="col-md-6">
                                  <strong>Pin code : </strong><span ng-bind="propertyDetails.PropertyDetail.pincode"></span>
                                </div>
                                <div class="col-md-6">
                                  <strong>Wing : </strong><span ng-bind="propertyDetails.PropertyDetail.wing"></span>
                                </div>
                                <div class="col-md-6">
                                  <strong>Lene1 : </strong><span ng-bind="propertyDetails.PropertyDetail.lene1"></span>
                                </div> 
                                <div class="col-md-6">
                                  <strong>Lene2 : </strong><span ng-bind="propertyDetails.PropertyDetail.lene2"></span>
                                </div> 
                            </div>
                          </div>
                      </div> 
                      <!--  -->

                       <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12" ng-if=" propertyDetails.PropertyDetail.society_amenities !== null">
                          <div class="panel panel-info ">
                             <div class="panel-heading">
                                <h4 class="panel-title">Project Amenities</h4>
                              </div>
                            <div class="panel-body">
                              
                                <div class="col-md-12" >
                                  <strong>Society Amenities : </strong><span ng-bind="propertyDetails.PropertyDetail.society_amenities"></span>
                                </div> 
                                
                                
                               
                            </div>
                          </div>
                      </div> 
                          <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12" ng-if=" propertyDetails.PropertyDetail.society_amenities !== null">
                          <div class="panel panel-info ">
                             <div class="panel-heading">
                                <h4 class="panel-title">Flat Amenities</h4>
                              </div>
                            <div class="panel-body">
                              
                             <!--    <div class="col-md-12" >
                                  <strong>Flat Amenities : </strong><span ng-bind="propertyDetails.PropertyDetail.society_amenities"></span>
                                </div>  -->
                                
                                
                               
                            </div>
                          </div>
                      </div>
                   </div>



                </div>
                <!-- Row Ends -->


          </div>
          <!-- Blog Container End -->

        </div>
        <!-- Dashboard Wrapper End -->
        </div>
<script>
jssor_1_slider_init();
</script>
                         



                                
                             