<style type="text/css">
  .validdate{
    color: red;
  }
</style>
<div class="container">
        <!-- Sub Nav End -->
        <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#/property" class="heading">Available Property</a></li>
            <li class="hidden-sm hidden-xs">
              <a href="#/addproperty">Add New Property</a>
            </li>
            
          </ul>
          <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search Branch Mger Name And City...">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <!-- Sub Nav End -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper" ng-controller="addownercontroller">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Add Project     
                    </div>
                  </div>
                  <div class="widget-body">
                    <form  name="form"  class="form-horizontal no-margin">

                      <div class="form-group">
                        <label for="project_name" class="col-sm-2 control-label"> Project/Building Name </label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="project_name" placeholder="Project/Building Name" ng-model="owneraddform.project_name" name="project_name" ng-minlength="3" ng-maxlength="20" required>
                          </div>
                          <span ng-show="form.project_name.$dirty && form.project_name.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.project_name.$dirty && form.project_name.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.project_name.$dirty && form.project_name.$error.maxlength" class="alert-danger"> too Long!</span>
                                                
                      </div>
                    
                       <div class="form-group">
                        <label for="property_Add" class="col-sm-2 control-label">Address<span class="mand">*</span></label>
                        <div class="col-sm-8">
                           <textarea class="form-control" rows="5" id="property_Add" placeholder="Property Address"  ng-model="propertyform.property_Add" name="property_Add" ng-minlength="3" ng-maxlength="200" required></textarea>
                        </div>
                          <span ng-show="form.property_Add.$dirty && form.property_Add.$error.required" class="alert-danger"> Required!</span>
                          <span ng-show="form.property_Add.$dirty && form.property_Add.$error.minlength" class="alert-danger"> too Short!</span>
                          <span ng-show="form.property_Add.$dirty && form.property_Add.$error.maxlength" class="alert-danger"> too Long!</span>
                      </div> 
                
                       <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State / City <span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="state" class="form-control" ng-model="propertyform.state" name="state">
                                <option value="" selected>
                                  Select State
                                </option>
                                <option value="Maharashtra">
                                  Maharashtra
                                </option>
                                <option value="Manipur">
                                  Manipur
                                </option>
                                <option value="Punjab">
                                  Punjab
                                </option>
                                <option value="Jharkhand">
                                  Jharkhand
                                </option>
                                <option value="Jammu and Kashmir">
                                  Jammu and Kashmir
                                </option>
                                <option value="Uttar Pradesh">
                                  Uttar Pradesh 
                                </option> 
                              </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="city" class="form-control" ng-model="propertyform.city" name="city">
                                <option value="" selected>  
                                  Select City
                                </option>
                                <option value="1">
                                  Pune
                                </option>
                                <option value="2">
                                  Nagpur
                                </option>
                                <option value="3">
                                  Thane
                                </option>
                                <option value="4">
                                  Nashik
                                </option>
                                <option value="5">
                                  Pimpri Chinchwad
                                </option>
                                <option value="6">
                                  Kalyan-Dombivali
                                </option>
                              </select>
                            </div> 
                              <div class="col-md-4 col-sm-4 col-xs-4">
                                 <input type="text" class="form-control" id="pincode" placeholder="Pin Code"  ng-model="propertyform.pincode" name="pincode" ng-minlength="6" ng-maxlength="6" ui-mask="999999"  ui-mask-placeholder ui-mask-placeholder-char="_" required>

                              </div>

                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="onofwing " class="col-sm-2 control-label"> No Of Wing <span class="mand">*</span></label>
                        <div class="col-sm-8">
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <select id="onofwing " class="form-control" ng-model="propertyform.onofwing " name="onofwing ">
                                <option value="" selected>
                                  Select No Of Wing 
                                </option>

                                  <option value="1"> 1 </option>
                                  <option value="2"> 2 </option>
                                  <option value="3"> 3 </option> 
                                  <option value="4"> 4 </option>
                                  <option value="5"> 5 </option>
                                  <option value="6"> 6 </option> 
                                  <option value="7"> 7 </option> 
                                  <option value="8"> 8 </option> 
                                  <option value="9"> 9 </option> 
                                  <option value="10"> 10 </option> 

                              </select>
                            </div>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                      <!-- <label for="state" class="col-sm-2 control-label"> Add info <span class="mand">*</span></label> -->
                       <div class="col-md-2 col-sm-2 col-xs-2">
                       </div>
                        <div class="col-sm-8">
                          <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                               <input type="text" class="form-control" id="wingname" placeholder="Wing Name" ng-model="owneraddform.wingname" name="wingname"  required> </div>
                          

                            <div class="col-md-3 col-sm-3 col-xs-3">
                               <input type="text" class="form-control" id="nooffloors" placeholder="No Of Floors" ng-model="owneraddform.nooffloors" name="nooffloors"  required>
                            </div> 

                            <div class="col-md-3 col-sm-3 col-xs-3">
                                 <input type="text" class="form-control" id="onofflats" placeholder="No Of Flats" ng-model="owneraddform.onofflats" name="onofflats"  required>
                             </div>


                          </div>
                          <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                               <input type="text" class="form-control" id="wingname" placeholder="Wing Name" ng-model="owneraddform.wingname" name="wingname"  required> </div>
                          

                            <div class="col-md-3 col-sm-3 col-xs-3">
                               <input type="text" class="form-control" id="nooffloors" placeholder="No Of Floors" ng-model="owneraddform.nooffloors" name="nooffloors"  required>
                            </div> 

                            <div class="col-md-3 col-sm-3 col-xs-3">
                                 <input type="text" class="form-control" id="onofflats" placeholder="No Of Flats" ng-model="owneraddform.onofflats" name="onofflats"  required>
                             </div>


                          </div>
                          <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                               <input type="text" class="form-control" id="wingname" placeholder="Wing Name" ng-model="owneraddform.wingname" name="wingname"  required> </div>
                          

                            <div class="col-md-3 col-sm-3 col-xs-3">
                               <input type="text" class="form-control" id="nooffloors" placeholder="No Of Floors" ng-model="owneraddform.nooffloors" name="nooffloors"  required>
                            </div> 

                            <div class="col-md-3 col-sm-3 col-xs-3">
                                 <input type="text" class="form-control" id="onofflats" placeholder="No Of Flats" ng-model="owneraddform.onofflats" name="onofflats"  required>
                             </div>


                          </div>
                          <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6">
                               <input type="text" class="form-control" id="wingname" placeholder="Wing Name" ng-model="owneraddform.wingname" name="wingname"  required> </div>
                          

                            <div class="col-md-3 col-sm-3 col-xs-3">
                               <input type="text" class="form-control" id="nooffloors" placeholder="No Of Floors" ng-model="owneraddform.nooffloors" name="nooffloors"  required>
                            </div> 

                            <div class="col-md-3 col-sm-3 col-xs-3">
                                 <input type="text" class="form-control" id="onofflats" placeholder="No Of Flats" ng-model="owneraddform.onofflats" name="onofflats"  required>
                             </div>


                          </div>
                        </div>
                      </div>
                  <!-- demo -->
                      

                      No Of Wing *:<input type="text" ng-model="wing">
                      <h1>No of {{wing}}</h1>
                       <button ng-click="myFunc(wing)">OK</button>




               <!-- demo end -->


                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                          <button type="submit" class="btn btn-info btn-block" ng-disabled="form.$invalid"  ng-click="addowneradd()">Create New Proprety</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->


          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-block btn-info" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            <div class="wrapper">
              <button class="btn btn-block btn-warning" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <ul class="progress-stats">
                <li>
                  <div class="details">
                    <span>Windows</span>
                    <span class="pull-right">78%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Windows 8</span>
                    <span class="pull-right">32%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Mac</span>
                    <span class="pull-right">84%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>Linux</span>
                    <span class="pull-right">44%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                    </div>
                  </div>
                </li>
                <li>
                  <div class="details">
                    <span>IPhone/IPad</span>
                    <span class="pull-right">67%</span>
                  </div>
                  <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="btn-toolbar no-margin">
                <div class="btn-group">
                  <a href="#" class="btn btn-success">
                    <i class="fa fa-headphones"></i>
                  </a>
                  <a href="#" class="btn btn-warning">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                    <i class="fa fa-tasks"></i>
                  </a>
                  <a href="#" class="btn btn-info">
                    <i class="fa fa-thumbs-up"></i>
                  </a>
                </div>
                <div class="btn-group">
                  <a href="#" class="btn btn-default">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
        <!-- Dashboard Wrapper End -->
        </div>

