
                   
  <style type="text/css">
    strong {
          font-size: small;
          color: #333;
        };
    span {
              font-size: 14px;
              color: #4d4d4d;
        };
  </style>
  <div class="container">
            <div class="sub-nav hidden-sm hidden-xs">
          <ul>
            <li><a href="#" class="heading">Tenant Details</a></li>
          </ul>
        
        </div>
        <!-- Sub Nav End -->
  <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper-lg">
        
          <!-- Blog Container Start -->
          <div class="blog-container">
                 <!-- Row Start -->
                <div class="row">
                  <div class="col-md-3">
                  <img src="../../img/user4.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                 
                  </div>
               
                  <!--   {{propertyDetails.PropertyDetail}} -->
                   <div class="col-md-9 ">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                          <div class="panel panel-info ">
                             <div class="panel-heading">
                                <h4 class="panel-title">TENANT INFO</h4>
                              </div>
                         

                            <div class="panel-body"  >
                                <div class="col-md-4">
                                <strong>Tenant Name : </strong>
                                <span ng-bind="tenantDetails.TenantDetail.person_name"></span>
                                </div>
                                 <div class="col-md-4">
                                <strong>Mobile Number : </strong>
                                <span ng-bind="tenantDetails.TenantDetail.contact_number"></span>
                                </div>
                                <div class="col-md-4">
                                    <strong>landline_no  : </strong>
                                    <span ng-bind="tenantDetails.TenantDetail.landline_no"></span>
                                </div>
                                <div class="col-md-6">
                                  <strong>E-mail Id : </strong>
                                  <span ng-bind="tenantDetails.TenantDetail.email"></span>
                                </div>
                                
                               
                                
                                
                            </div>
                          </div>
                      </div> 
                   </div>



                </div>
                <!-- Row Ends -->


          </div>
          <!-- Blog Container End -->

        </div>
        <!-- Dashboard Wrapper End -->
        </div>

                         



                                
                             


                                
                             